<!-- Cabeçalho -->
<info
  unidade="1"
  tema="3"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[2].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p><b>E a Atenção Primária à Saúde como fica na RAPS?</b></p>
        <p>Considerando a Estratégia Saúde da Família (ESF) como eixo estruturante no cuidado em saúde da população, no âmbito da Atenção Primária à Saúde, foram criados, em 2008, os Núcleos de Apoio à Saúde da Família (NASF), com a proposta de ampliar e qualificar as ações da ESF.</p>
        <p>Um NASF deve ser constituído por uma equipe, na qual profissionais de diferentes áreas de conhecimento atuam em conjunto com os profissionais das equipes de Saúde da Família, compartilhando e apoiando as práticas em saúde nos territórios sob responsabilidade das equipes de SF, sendo composto por nove áreas estratégicas de atuação, dentre elas a saúde mental. (Brasil, 2009). Clique <a href="assets/pdf/unidade_1/caderno_39.pdf" target="_blank" class="link-page"><b>aqui</b></a> e Saiba mais sobre o NASF.</p>
        
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <p>Outra estratégia inovadora de cuidados colaborativos voltada para a APS é o Matriciamento ou Apoio Matricial em Saúde Mental. O apoio matricial é um arranjo técnico-assistencial que visa à ampliação da clínica das equipes de Saúde da Família, superando a lógica de encaminhamentos indiscriminados para uma lógica de corresponsabilização entre as equipes de Saúde da Família e de saúde mental, com a construção de vínculos entre profissionais e usuários, pretendendo uma maior resolutividade na assistência em saúde (Campos e Domitti, 2007). Enquanto metodologias de matriciamento, podem ser citados o apoio técnico-pedagógico e o assistencial, culminando em atividades como consulta conjunta, visita domiciliar conjunta, discussão de casos, desenvolvimento do Projeto Terapêutico Singular (PTS), atividades de educação permanente para a equipe da APS, apoio institucional às equipes da APS, etc.</p>
            <p>O Matriciamento pode ser desenvolvido por equipes do NASF, do CAPS ou de ambulatórios especializados, que se integram organicamente (equipes de apoio matricial) às equipes da ESF (equipes de referencia) e possibilitam um cuidado horizontal, que integra os saberes.</p>
            <p>No Guia Prático de Matriciamento em Saúde Mental, desenvolvido em 2011 por equipe técnica especializada, é apresentada a proposta do matriciamento em saúde mental na APS, seu conceito e suas ações na APS, bem como são exploradas propostas de atenção, através da discussão de casos clínicos, para transtornos mentais comuns, dependência química e transtornos mentais graves. Clique no guia para ler mais detalhes.</p>
          </div>
          <div class="col-md-3 col-sm-3">
            <p><b>Guia prático de matriciamento em saúde mental</b></p>
            <a href="assets/pdf/unidade_1/guia_pratico_matriciamento_saudemental.pdf" target="_blank" class="link-page"><img src="assets/images/unidade_1/matriciamento.svg" class="img-responsive"></a>
          </div>
        </div>
      </div>                
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_2/3"
  next="unid_1/topico_3/2"
  pag="1" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>