<!-- Cabeçalho -->
<info
  unidade="1"
  tema="3"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[2].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p><b>Práticas Integrativas e Complementares (PICs)</b></p>
        <p>Considerando os princípios da Universalidade, Equidade e Integralidade do Sistema Único de Saúde (SUS) no Brasil, bem como a reorientação do modelo de atenção à saúde, de um modelo hospitalocêntrico e biomédico para um modelo voltado para o vínculo, em serviços de base comunitária que respeitam a autodeterminação do sujeito, foram incorporadas ao escopo de ações de saúde as Práticas Integrativas e Complementares (PIC), por meio da Política Nacional de Práticas Integrativas e Complementares no SUS, PNPIC, através de Portarias Ministeriais nº 971 e 1600/06. Foram contempladas diretrizes e ações para inserção de serviços referentes à Medicina Tradicional Chinesa/Acupuntura, Homeopatia, Plantas Medicinais e Fitoterapia, além de Observatórios de Saúde para Termalismo Social e Medicina Antroposófica, Terapia Comunitária. (BRASIL, 2006).</p>
        <div class="box-cor-tema">
          <p>A equipe de profissionais das PICs deverá atuar em parceria com os profissionais das respectivas equipes de Saúde da Família, nos territórios sob responsabilidade destas últimas, compartilhando suas práticas em saúde com todos os níveis de atenção e promovendo assim a integralidade na estratégia (SENAD, 2014).</p>
        </div>
        <br>
        <p>Ao longo desse percurso, viu-se o fortalecimento de ações que priorizam a atenção integral à saúde, sob a ótica do respeito à autonomia e à individualidade do sujeito, levando-se em conta os vínculos com a comunidade. Passou-se de um modelo baseado no aprisionamento e isolamento social, para um modelo que valoriza as relações sociais e que busca constantemente se aprimorar. Há ainda um longo caminho a ser percorrido, haja vista as dificuldades inerentes a todo processo de mudança de paradigma.</p>
      </div>                
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_3/1"
  next="unid_2/topico_1/1"
  pag="2" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>