﻿<div class="col-md-12">
  <h4>{{unidades[0].label}} – {{unidades[0].nome}}</h4>
  <p>{{unidades[0].objetivo}}</p>
</div>
<div class="col-md-6 col-md-offset-3">
  <div class="content-box">
    <div class="text-center">
      <span class="glyphicon glyphicon glyphicon-align-justify" aria-hidden="true" style="color:#2EBFA2; font-size:1.5em;"></span>
      <p>SUMÁRIO</p>
    </div>
    <div class="row text-left">
      <div class="col-md-12">
        <div ng-repeat="atividade in unidades[0].atividade">
          <hr>
          <a href="{{atividade.url}}" class="titulo-sumario"><p><b>{{atividade.objetivo}}</b> - {{atividade.nome}}</p></a>
        </div>
      </div>
    </div>
  </div>
</div>