<div class="table-responsive">
  <table class="table">
  	<thead class="table-head">
  		<tr>
  			<th>Classe</th>
  			<th>Nome Químico</th>
  			<th>Dose</th>
  			<th>Posologia</th>
  			<th>Apresentação</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td rowspan="3">Tricíclicos</td>
  			<td>Amitriptilina</td>
  			<td>75-300</td>
  			<td>1x/dia: se dose &#60; 150 <br>2x/dia: se dose &#62; 150mg.</td>
  			<td>25, 75mg</td>
  		</tr>
  		<tr>
  			<td>Clomipramina</td>
  			<td>150-300</td>
  			<td>1x/dia: se dose &#60; 150 <br>2x/dia: se dose &#62; 150mg.</td>
  			<td>10, 25mg</td>
  		</tr>
  		<tr>
  			<td>Nortriptilina</td>
  			<td>50-200</td>
  			<td>1x/dia: se dose &#60; 100 <br>2x/dia: se dose &#62; 100mg.</td>
  			<td>10, 25, 50, 75mg</td>
  		</tr>
  	</tbody>
  </table>
</div>