<div class="table-responsive">
  <table class="table">
  	<thead class="table-head">
  		<tr>
  			<th>Classe</th>
  			<th>Nome Químico</th>
  			<th>Dose</th>
  			<th>Posologia</th>
  			<th>Apresentação</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td rowspan="3">ISRS</td>
  			<td>Fluoxetina</td>
  			<td>20-60 (80: TOC)</td>
  			<td>Dose única, após o café-da-manhã ou almoço.</td>
  			<td>20mg</td>
  		</tr>
  		<tr>
  			<td>Paroxetina</td>
  			<td>20-80</td>
  			<td>Dose única, preferencialmente à noite.</td>
  			<td>20mg</td>
  		</tr>
  		<tr>
  			<td>Citalopram</td>
  			<td>20-60</td>
  			<td>Dose única, após o café-da-manhã ou almoço.</td>
  			<td>20mg</td>
  		</tr>
  	</tbody>
  </table>
</div>