<div class="table-responsive">
  <table class="table">
  	<thead class="table-head">
  		<tr>
  			<th>Classe</th>
  			<th>Nome Químico</th>
  			<th>Dose</th>
  			<th>Posologia</th>
  			<th>Apresentação</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>ISRSN</td>
  			<td>Venlafaxina</td>
  			<td>75-225</td>
  			<td>Dose única, após o café-da-manhã ou almoço.</td>
  			<td>75 e 150mg</td>
  		</tr>  		
  	</tbody>
  </table>
</div>