<div class="table-responsive">
  <table class="table">
  	<thead class="table-head">
  		<tr>
  			<th>Classe</th>
  			<th>Nome Químico</th>
  			<th>Dose</th>
  			<th>Posologia</th>
  			<th>Apresentação</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>ISRD</td>
  			<td>Bupropiona</td>
  			<td>150-300</td>
  			<td>Doses com intervalo de 8 horas manhã e tarde.</td>
  			<td>150mg</td>
  		</tr>  		
  	</tbody>
  </table>
</div>