<style>.target {
  cursor: pointer;
}</style><script>$(function() {

  $('.box-conteudo div:not(:first)').hide();

  var conteudo = $('.box-conteudo div');

  $('.target').click(function(e) {
    var data = Number($(this).attr('data'));

    conteudo.hide();
    $(conteudo[data]).show();


  });
})</script><info unidade="5" tema="1" unome="{{unidades[4].nome}}" anome="{{unidades[4].atividade[0].nome}}"></info><div class="col-md-12"><div class="content-box"><div class="row"><div class="col-md-10 col-md-offset-1"><p>Nesse estágio, os prejuízos sociais e individuais do uso da substância são bem evidentes.</p><p class="text-center"><small>Clique em cada imagem para ler as informações.</small></p><div class="row"><div class="col-md-6 col-md-offset-3 col-"><svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467.1 230.04"><defs><style>.cls-1{fill:#3f4e97;}.cls-2{fill:#fff;}.cls-3{fill:#1a8d9b;}.cls-4{fill:#419752;}.cls-5{fill:#cc686d;}.cls-10,.cls-11,.cls-12,.cls-13,.cls-6,.cls-7,.cls-8,.cls-9{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}.cls-6,.cls-7{stroke:#419752;}.cls-7{stroke-dasharray:0.1 4.86;}.cls-8,.cls-9{stroke:#cc686d;}.cls-9{stroke-dasharray:0.1 5.01;}.cls-10,.cls-11{stroke:#1a8d9b;}.cls-11{stroke-dasharray:0.1 5.03;}.cls-12,.cls-13{stroke:#3f4e97;}.cls-13{stroke-dasharray:0.1 4.89;}.cls-14{fill:#303030;}</style></defs><title>pagina2</title><a href="javascript:;" class="target" data="0"><path class="cls-1" d="M98.64,24.63a8.72,8.72,0,0,0-4.63-7Q79.94,9.43,65.84,1.34A9.12,9.12,0,0,0,57.18.88c-3.3,1.53-6.34,3.62-9.49,5.46-2.4,1.24-4.73,2.59-7,4.05l-12.52,7.2c-2.52,1.51-4.49,3.6-4.66,6.58-.34,6.29-.21,12.59-.08,18.89,0,5.42-.17,10.84,0,16.25A8.44,8.44,0,0,0,28,66.53Q42.17,74.81,56.44,83a8.77,8.77,0,0,0,8.66.23C68,81.74,70.79,80,73.62,78.29c.29-.14.59-.26.87-.42l12.82-7.48c2.15-1.09,4.14-2.47,6.26-3.61a8.73,8.73,0,0,0,4.21-4.47,5.34,5.34,0,0,0,.9-3.28q0-11.18,0-22.34C98.59,31.64,99,28.64,98.64,24.63Z"/><path class="cls-2" d="M77.94,35.6a5.77,5.77,0,0,0-5.48-4c-.9,0-1.08-.45-1.14-1.28-.14-1.82,1.43-3.78-.39-5.48,0,0,.07-.2.09-.31.39-3.39-1.3-4.77-4.62-3.63a2.88,2.88,0,0,0-3.87-1.55L59.46,17a2,2,0,0,0-2.21.06,9.29,9.29,0,0,0-2.42,2.56.93.93,0,0,1-.7.29,9.89,9.89,0,0,0-2.38.09c-2.46.67-1.58,3.67-3.3,5-.4.3-.22,1.5-.13,2.26.13,1.16.5,2.29.6,3.45.13,1.53,0,3.09.17,4.62a73.6,73.6,0,0,1-.7,22.17,38.92,38.92,0,0,0-.77,6.43c0,2.77,1.6,3.83,4.63,3.55A76.52,76.52,0,0,1,67,67.43c4,.39,5.32-.23,5.68-3.39a21.31,21.31,0,0,0,0-2.4c.58-.27,1.1-.49,1.61-.74,3.43-1.65,6.24-4.11,6.44-8A40.9,40.9,0,0,0,77.94,35.6ZM49.45,26.45c0-.8,1-1.61,1.5-2.41.15.07,0-.82.12-1.23.18-.58.61-1.39,1.08-1.5a4.89,4.89,0,0,1,2.14.44c.38.12,1.44-.29,1.46-.69.1-1.69.91-2.74,2.33-2.87,1.6-.15,2.55.76,2.92,2.63.09.45,1.36.35,1.65.2.5-.27,1.2-.6,1.63-.43A1.93,1.93,0,0,1,65.16,22c.13,1.14,1.46.88,1.64.6a1.67,1.67,0,1,1,2.66,2c-.82.84-1.43,1.39.38,1.6.32,0,.57.68,1.18,1.43h-4c-5,0-10.06,0-15.09,0C51,27.6,49.47,28,49.45,26.45Zm23.2,33.34L71,60.43c0,1.27.06,2.41,0,3.53-.1,1.32-.74,1.95-2.24,1.93-5.71-.08-11.42-.1-17.13,0-1.77,0-2.48-.8-2.39-2.3a54.16,54.16,0,0,1,.83-6.08A75.51,75.51,0,0,0,50.76,35a48,48,0,0,1,0-5.65H69.41c.11.17.22.26.23.35.14,3.07.15,3.06,3.23,3.61A4.76,4.76,0,0,1,76.72,37c.83,3.14,1.41,6.33,2,9.51a24.07,24.07,0,0,1,.34,3.06C79.47,54.84,77.56,57.83,72.65,59.79Z"/><path class="cls-2" d="M65,31.18H52.48a28.69,28.69,0,0,0,0,3.72,73.15,73.15,0,0,1-1.33,25.5,21.44,21.44,0,0,0-.21,3H65.05A161,161,0,0,1,65,31.18Z"/><path class="cls-2" d="M77,40.87a18.23,18.23,0,0,0-2.12-5.34c-1-1.66-2.72-1.19-4.34-.87-1.47.29-1.12,1.48-1.19,2.3a72.86,72.86,0,0,0,.57,18.6,1.58,1.58,0,0,0,.66,1A4.19,4.19,0,0,0,75.33,56c2.29-2,2.89-4.55,2.61-7.46C77.64,46,77.53,43.37,77,40.87ZM74.18,54.64a3.34,3.34,0,0,1-2.14.54c-.29,0-.7-1-.71-1.49C71.16,48.4,71,43.11,71,37.82a2.16,2.16,0,0,1,.94-1.67,1.52,1.52,0,0,1,2.14,1.11c.74,3.08,1.36,6.2,2,9.31a8.69,8.69,0,0,1,0,1.76C76.39,50.8,76.28,53.07,74.18,54.64Z"/><path class="cls-2" d="M67.76,31.13,67.21,31a5.31,5.31,0,0,0-.51,1.48c-.26,5.93-.62,11.85-.64,17.78,0,4.42.41,8.84.64,13.28h2.62c-.67-5.51-1.63-10.84-1.89-16.21S67.62,36.52,67.76,31.13Z"/></a><a href="javascript:;" class="target" data="1"><path class="cls-3" d="M443.68,24.63a8.71,8.71,0,0,0-4.62-7Q425,9.43,410.89,1.34a9.14,9.14,0,0,0-8.67-.46c-3.29,1.53-6.33,3.62-9.48,5.46q-3.6,1.86-7,4.05l-12.52,7.2c-2.53,1.51-4.5,3.6-4.66,6.58-.34,6.29-.22,12.59-.08,18.89,0,5.42-.18,10.84,0,16.25A8.48,8.48,0,0,0,373,66.53q14.22,8.28,28.5,16.46a8.75,8.75,0,0,0,8.65.23c2.93-1.48,5.69-3.27,8.53-4.93.29-.14.59-.26.86-.42l12.82-7.48c2.15-1.09,4.15-2.47,6.26-3.61a8.79,8.79,0,0,0,4.22-4.47,5.4,5.4,0,0,0,.9-3.28q0-11.18,0-22.34C443.63,31.64,444,28.64,443.68,24.63Z"/><path class="cls-2" d="M383.94,61.09l24.21-18.15,8.12-6.09L421,43,388.68,67.28l-4.59-5.77Z"/><path class="cls-2" d="M412.42,17a3.26,3.26,0,0,0,.48.27c2.75,1,4,3.21,4.45,5.94.13.73.24,1.45.42,2.16a6.59,6.59,0,0,0,4.36,4.75c-1.33,1.57-1.76,1.65-3.39.63a6.37,6.37,0,0,1-3.18-5.36c-.14-3.35-1.58-5.74-4.9-7L412,17.11Z"/><path class="cls-2" d="M428.21,37.55,426,39.26l-4.69-6.18,2.16-1.65,4.66,5.91Z"/><path class="cls-2" d="M407.11,21a12.41,12.41,0,0,1,1.59-1.19,1.4,1.4,0,0,1,1.08,0c2.4,1,3.35,3.13,3.89,5.5.24,1,.42,2.09.73,3.1a6.38,6.38,0,0,0,4.17,4.35c-1.22,1.54-1.73,1.65-3.28.71A6.66,6.66,0,0,1,412,28.27C411.46,23.83,411,23.08,407.11,21Z"/><path class="cls-2" d="M422.43,41.92l-4.67-6.17,2.2-1.68,4.68,6.17Z"/></a><a href="javascript:;" class="target" data="2"><path class="cls-4" d="M467,170.42a8.74,8.74,0,0,0-4.63-7q-14.07-8.16-28.17-16.25a9.12,9.12,0,0,0-8.66-.46c-3.3,1.53-6.34,3.62-9.49,5.46-2.4,1.24-4.73,2.59-7,4.05l-12.52,7.2c-2.52,1.51-4.5,3.6-4.66,6.59-.34,6.28-.21,12.58-.08,18.88,0,5.42-.17,10.84,0,16.25a8.48,8.48,0,0,0,4.53,7.23q14.24,8.26,28.5,16.45a8.77,8.77,0,0,0,8.66.23c2.92-1.48,5.69-3.27,8.52-4.93.29-.14.59-.26.87-.42l12.82-7.47c2.15-1.1,4.14-2.48,6.26-3.62a8.77,8.77,0,0,0,4.21-4.47,5.34,5.34,0,0,0,.9-3.28q0-11.17,0-22.34C466.92,177.44,467.29,174.43,467,170.42Z"/><path class="cls-2" d="M457.81,200.75c-2.56.74-5.08,1.63-7.67,2.18a62.45,62.45,0,0,1-6.42.75h-6.23l-.15.3a14,14,0,0,1,6.2,7,23.6,23.6,0,0,1-7.07-2.32,33.59,33.59,0,0,1-4.67-2.93c-.76-.53-1.27-.61-1.27.51,0,2.36.05,4.72.07,7.07a10.51,10.51,0,0,0,0,1.25c.08.89-.11,1.3-1.17,1.32s-1-.61-1-1.32c0-1.52,0-3.05,0-4.58V204.7l-3,2.43a27.16,27.16,0,0,1-9.84,3.85,14,14,0,0,1,6.5-7.16c-8.74.14-16.8-1.13-24.68-4.82a52.09,52.09,0,0,1,16.34-1.95,46,46,0,0,1,7,.89c.19.05.39.07.47-.11a.5.5,0,0,0-.19-.61c-.77-.61-1.54-1.2-2.29-1.82a52.88,52.88,0,0,1-14.14-17.83,2.89,2.89,0,0,1-.56-1.82c8.79,3.74,16,9.58,22.17,16.91a75.19,75.19,0,0,1-.58-17.21.25.25,0,0,0,0-.26v-.57c.16-1.06.33-2.13.49-3.19A55.67,55.67,0,0,1,429.5,160a54.83,54.83,0,0,1,3.41,11l.81,6.68,0,1.95a.23.23,0,0,0,0,.26,66.31,66.31,0,0,1-.94,11.85c-.06.29-.62.66-.05.92s.62-.3.84-.57a91.25,91.25,0,0,1,7-7.46,104.33,104.33,0,0,1,8.62-6,23,23,0,0,1,5.89-2.82,11.9,11.9,0,0,1-1.39,3.27,60.67,60.67,0,0,1-6.47,9.65,83.06,83.06,0,0,1-9.68,9,70,70,0,0,1,17.76-.27l5.48,1.07c.21,0,.49,0,.56.25s-.18.45-.44.56C459.9,199.82,458.86,200.29,457.81,200.75Z"/></a><a href="javascript:;" class="target" data="3"><path class="cls-5" d="M75.35,170.42a8.73,8.73,0,0,0-4.62-7q-14.07-8.16-28.17-16.25a9.14,9.14,0,0,0-8.67-.46c-3.29,1.53-6.33,3.62-9.48,5.46q-3.6,1.86-7,4.05l-12.52,7.2C2.35,164.89.38,167,.22,170c-.34,6.28-.21,12.58-.08,18.88,0,5.42-.18,10.84,0,16.25a8.48,8.48,0,0,0,4.53,7.23q14.22,8.26,28.5,16.45a8.75,8.75,0,0,0,8.65.23c2.93-1.48,5.7-3.27,8.53-4.93.29-.14.59-.26.87-.42L64,216.19c2.15-1.1,4.15-2.48,6.26-3.62a8.79,8.79,0,0,0,4.22-4.47,5.4,5.4,0,0,0,.9-3.28q0-11.17,0-22.34C75.31,177.44,75.68,174.43,75.35,170.42Z"/><path class="cls-2" d="M67.4,197.77c-1.36-.76-2.91-1.23-4.24-2a29.36,29.36,0,0,1-5.68-4A8.55,8.55,0,0,0,53,189.21s0,0,0,0a1.45,1.45,0,0,1-.86,1.08,4.74,4.74,0,0,1-1,.39l-12.24,3.5-5,1.44a3.18,3.18,0,0,1-1.41.18c-1-.19-1.09-1.16-1-1.8a4.83,4.83,0,0,1-1.52.07c-1.06-.19-1.36-1.05-1.74-2.14q-.8-2.25-1.57-4.5l-.72-2.09a10.3,10.3,0,0,0-9.56,4.47,28.92,28.92,0,0,1-3.19,4.07,27.47,27.47,0,0,1-4.54,3.2c-.71.42-1.74.59-1.41,1.59a2.15,2.15,0,0,0,1.71.93c9.7.06,19.41.05,29.11.05v.09c9.66,0,19.31,0,29,0a5,5,0,0,0,1.4-.51C68.05,198.74,67.86,198,67.4,197.77Z"/><path class="cls-2" d="M33,194.25c-.75-.14-.67-1-.61-1.52,0-.12,0-.2,0-.24a1.17,1.17,0,0,1-.29,0,5.34,5.34,0,0,1-1.5.1c-.74-.14-1-.73-1.3-1.72l-2.12-6.12-.09-.22a2.13,2.13,0,0,1-.2-.69,1,1,0,0,1,.62-.81c.26-.1.54-.19.81-.28l.57-.19a1.22,1.22,0,0,1-.78-1.21c0-.68.58-.83.88-.91l15.4-4.4c.45-.14.9-.27,1.35-.38a2.1,2.1,0,0,1,.9-.08.88.88,0,0,1,.6.39,1.44,1.44,0,0,1,.09,1.15c0,.07,0,.13,0,.17l.25-.05.28-.06a4.05,4.05,0,0,1,.5-.12,1.86,1.86,0,0,1,.76,0,1.26,1.26,0,0,1,.91,1c.86,2.38,1.7,4.75,2.54,7.14a1.47,1.47,0,0,1,0,1.2,1.66,1.66,0,0,1-1.13.69l-.59.14.41.43a1,1,0,0,1,.36.85,1,1,0,0,1-.59.7,4,4,0,0,1-.86.33l-16,4.58A2.68,2.68,0,0,1,33,194.25Zm-1.76-7.88a4,4,0,0,0,.67,1.84,1.81,1.81,0,0,1,1.49-1,1.76,1.76,0,0,1,.51,0,1.12,1.12,0,0,1,.8.66,3.56,3.56,0,0,0,.6.82.92.92,0,0,0,.2.1s0-.12,0-.16a4,4,0,0,0,0-.6,3.76,3.76,0,0,1,0-.58c0-.13.05-.75.47-.91a3.51,3.51,0,0,1,1.93-.34,2.35,2.35,0,0,1,.87.34,2.36,2.36,0,0,0,.8.3,2.06,2.06,0,0,0,2.28-1.14,2.39,2.39,0,0,1,1.88-1.44,1.55,1.55,0,0,1,.56,0,1.09,1.09,0,0,1,.75.63,4,4,0,0,0,.71.93,1.45,1.45,0,0,0,.13-.91,1.17,1.17,0,0,1,.87-1.5l.32-.09.25-.08a1,1,0,0,1,.57,0,1.1,1.1,0,0,1,.47.21,3.82,3.82,0,0,0-.53-1.54.62.62,0,0,0-.08-.12c-.16.56-.43.7-1.21.86l-.34.08a1.06,1.06,0,0,1-.52.05,1,1,0,0,1-.7-.54,4.39,4.39,0,0,0-.56-.82.79.79,0,0,0-.26-.12.59.59,0,0,0-.09.22,2.33,2.33,0,0,0,0,.45,2.44,2.44,0,0,1,0,.54c0,.13-.08.82-.54,1l-.41.13a3.32,3.32,0,0,1-1.72.24,2.08,2.08,0,0,1-.41-.11,4.84,4.84,0,0,0-.74-.2c-.92-.17-1.55.13-2.3,1.11a2.74,2.74,0,0,1-1,.78,3.51,3.51,0,0,1-.83.22l-.38.08a1,1,0,0,1-.47,0,1,1,0,0,1-.68-.53,7.43,7.43,0,0,0-.56-.82,1,1,0,0,0-.18-.19.69.69,0,0,0-.17.33,1.93,1.93,0,0,0,0,.47,3.28,3.28,0,0,1,0,.43c0,.24,0,.72-.34.89a4.76,4.76,0,0,1-1.45.48h-.07l-.12,0A1.19,1.19,0,0,1,31.23,186.37Z"/></a><line class="cls-6" x1="322.92" y1="176.34" x2="322.97" y2="176.35"/><line class="cls-7" x1="327.77" y1="177.13" x2="393.87" y2="187.81"/><line class="cls-6" x1="396.27" y1="188.2" x2="396.32" y2="188.21"/><line class="cls-8" x1="187.86" y1="178.42" x2="187.81" y2="178.42"/><line class="cls-9" x1="182.81" y1="178.75" x2="73.22" y2="186.03"/><line class="cls-8" x1="70.72" y1="186.19" x2="70.67" y2="186.19"/><line class="cls-10" x1="372.71" y1="62.96" x2="372.66" y2="62.98"/><line class="cls-11" x1="368.03" y1="64.96" x2="290.13" y2="98.23"/><line class="cls-10" x1="287.81" y1="99.22" x2="287.77" y2="99.24"/><line class="cls-12" x1="165.98" y1="93.19" x2="165.93" y2="93.17"/><line class="cls-13" x1="161.48" y1="91.15" x2="91.08" y2="59.1"/><line class="cls-12" x1="88.86" y1="58.09" x2="88.81" y2="58.07"/><path class="cls-4" d="M291,180a21.82,21.82,0,0,0,6.23-7.84,18.09,18.09,0,0,0,2-8.8c0-.54.24-.74.59-1a22.68,22.68,0,0,0,9.78-15.66A27.91,27.91,0,0,0,308.9,135a24.34,24.34,0,0,1,11.42,2.65,13.18,13.18,0,0,1,7.28,11.17,19,19,0,0,1-2.21,10.11,1.4,1.4,0,0,0,.2,1.81,18.57,18.57,0,0,1,1.9,16.92c-2.21,5-6.47,7.19-11.86,6.06a30.22,30.22,0,0,1-10.82-4.93,1.62,1.62,0,0,0-1.53-.26C300.33,179.39,293,180.22,291,180Z"/><path class="cls-1" d="M189.72,118.56a.86.86,0,0,1,.86-.87h7.15a16,16,0,0,1,6.24,1.06,16.83,16.83,0,0,1,4.19-4.19,1.13,1.13,0,0,0,.5-1.39,33.62,33.62,0,0,1-.62-12.52c1.7-11.84,8-20.25,19-25a41.58,41.58,0,0,1,5.61-1.77c-2.16-.32-4.07-.58-6-.87a51.9,51.9,0,0,0-17,0,81.23,81.23,0,0,0-17.12,5.23,2.12,2.12,0,0,1-1.41.22,24.9,24.9,0,0,0-10.63,0,42.81,42.81,0,0,0-24.87,15,32,32,0,0,0-7.5,17.06,3.37,3.37,0,0,1-1.1,2.26,35.65,35.65,0,0,0-5.22,6c-4.08,6-4.79,12.07-.85,18.38a1.56,1.56,0,0,1,0,2.1,6.6,6.6,0,0,0-.88,1.9,30.44,30.44,0,0,0-1,16.46c1.79,8.56,6.8,14.22,15.43,16.3,5.84,1.41,11.68.89,17.51-.2.75-.14,1-.4.88-1.15a37.17,37.17,0,0,1,.43-11,32.83,32.83,0,0,1,10.57-19.34,34.59,34.59,0,0,1,5.81-4.14Zm-7.08,21.94c-2.46,2.29-6,3.45-10.55,3.45h-7a.87.87,0,0,1-.86-.86V118.56a.87.87,0,0,1,.86-.87h7.71c4.21,0,7.55,1.15,9.92,3.41s3.59,5.47,3.59,9.49C186.36,134.85,185.11,138.19,182.64,140.5Z"/><path class="cls-3" d="M318.29,121.54a22.39,22.39,0,0,0-3.38-8.42,15.28,15.28,0,0,0-13.78-7c-.69,0-1.08,0-1.2-.94-1.29-9.61-6.16-16.77-14.87-21.15-7-3.53-14.52-4.51-22.27-3.82a11.2,11.2,0,0,1-5.4-.61c-5.46-2.19-11.12-3.56-19.84-3.6-5.89,0-13.17,3-18.61,9.93a33.62,33.62,0,0,0-6.88,17.35,23.71,23.71,0,0,0,1.15,11.8c.2.5-.14.6-.41.8a21,21,0,0,0-4,3.71,16.52,16.52,0,0,0-1.42,2.14,8.28,8.28,0,0,1,1,4.15,7.33,7.33,0,0,1-1.35,4.34,6.75,6.75,0,0,1-.57.63.83.83,0,0,1,0,.15c.22.65.48.81,1.2.69,1.21-.21,2.41-.37,3.61-.52,0-.15,0-.29,0-.45,0-4.29,1.1-7.63,3.26-9.94s5.31-3.5,9.32-3.5,7.12,1.19,9.28,3.53,3.22,5.67,3.22,9.95a20.42,20.42,0,0,1-.24,3.21c.95.24,1.91.47,2.86.68a20.61,20.61,0,0,1-.35-3.89c0-4.18,1.23-7.51,3.66-9.88s5.79-3.57,10-3.57a19.21,19.21,0,0,1,7.63,1.58.87.87,0,0,1,.45,1.13l-1.73,4.16a.84.84,0,0,1-.49.47.87.87,0,0,1-.69,0,11.54,11.54,0,0,0-5.2-1.25,6,6,0,0,0-4.76,2,8,8,0,0,0-1.81,5.52,9.54,9.54,0,0,0,1.19,5.13q1.95.22,3.93.36c.95.06,1.9.09,2.85.11v-2h-3.78a.86.86,0,0,1-.87-.86v-4.33a.86.86,0,0,1,.87-.86h9.73a.85.85,0,0,1,.86.86v6.75a30,30,0,0,0,3.72-.79l6-17.1a.86.86,0,0,1,.82-.58h6.35a.86.86,0,0,1,.82.58l.65,1.85a23.85,23.85,0,0,1,2.16-3.55,8.67,8.67,0,0,1,8.73-3.63,14.77,14.77,0,0,1,8.46,4.62,15,15,0,0,1,1.91.36,26.12,26.12,0,0,1,3.76,1.32.86.86,0,0,1,.45,1.12l-1.3,3.15a69.68,69.68,0,0,1,4.26,7.41,3.47,3.47,0,0,0,2.49,2,12.54,12.54,0,0,0,4.18.26,4.84,4.84,0,0,0,4.56-4.33A19.65,19.65,0,0,0,318.29,121.54Z"/><path class="cls-5" d="M301.81,127.85a28.54,28.54,0,0,0-2.55-3.91c-.28-.09-.59-.19-.83-.25-1.58-.39-3.29-.45-4,.18a1.6,1.6,0,0,0-.31,1.89,2.65,2.65,0,0,0,.78.73,29,29,0,0,0,3.17,1.66,13.71,13.71,0,0,1,5,3.54,7.31,7.31,0,0,1,1.46,4.58,7.2,7.2,0,0,1-2.72,5.91,11.21,11.21,0,0,1-7.19,2.11,16.56,16.56,0,0,1-7.33-1.57.87.87,0,0,1-.48-.77v-4.84a.87.87,0,0,1,1.22-.79,27.34,27.34,0,0,0,4.07,1.52c2.24.59,4.17.56,5-.07a1.56,1.56,0,0,0,.32-2,3.77,3.77,0,0,0-1-.86,30.75,30.75,0,0,0-3.07-1.6,15.41,15.41,0,0,1-3.57-2.16,8.54,8.54,0,0,1-2-2.52,7.34,7.34,0,0,1-.77-3.42,7.17,7.17,0,0,1,2.52-5.77,8,8,0,0,1,2.77-1.5,8.47,8.47,0,0,0-2.47-.78c-3.57-.49-5.73,1.11-6.55,4.76a26.93,26.93,0,0,1-1.87,5.54l5.42,15.37a.86.86,0,0,1-.11.78.85.85,0,0,1-.7.37h-5.61a.88.88,0,0,1-.83-.61l-1.59-5.23H271l-.68.34-1.49,4.89a.87.87,0,0,1-.83.61h-5.6a.86.86,0,0,1-.82-1.15l.69-2c-.58.09-1.17.17-1.76.24V142a.87.87,0,0,1-.59.82,29.16,29.16,0,0,1-4.6,1.12,30.38,30.38,0,0,1-4.4.32c-3.94,0-7-1.2-9.12-3.55-.19-.22-.37-.45-.55-.69-1.54-.29-3.07-.61-4.6-1l-2-.49a10.68,10.68,0,0,1-1.52,2.15c-2.17,2.35-5.3,3.55-9.29,3.55s-7.12-1.2-9.29-3.55A11.64,11.64,0,0,1,212,136a49.17,49.17,0,0,0-5.14.68c1.93,2.86,3.28,4.86,4,5.94a.88.88,0,0,1,.05.9.86.86,0,0,1-.76.46h-5.77a.86.86,0,0,1-.74-.41l-3.22-5.18c-.79.28-1.59.57-2.38.89-.49.21-.95.44-1.42.66v3.18a.87.87,0,0,1-.87.86h-5.2a.81.81,0,0,1-.58-.24,29.18,29.18,0,0,0-10.47,13.49,39.7,39.7,0,0,0-2.21,18.8c1,8.71,5.94,14.66,14.36,17.07,6.47,1.85,13,1.63,19.58.55a85.14,85.14,0,0,0,31.14-11.69,5.21,5.21,0,0,1,4.81-.6,72.61,72.61,0,0,0,20.7,3.45,43.3,43.3,0,0,0,6.63-.55c5-.9,9.64-2.73,13.23-6.54A18.11,18.11,0,0,0,293,163.44a2.44,2.44,0,0,1,1.2-2.51,27.33,27.33,0,0,0,9.4-11.73C306.51,141.8,305.45,134.7,301.81,127.85Z"/><path class="cls-14" d="M185.5,130.59c0,4-1.15,7.13-3.45,9.27s-5.62,3.23-10,3.23h-7V118.56h7.71q6,0,9.32,3.17T185.5,130.59Zm-5.41.13q0-7.91-7-7.9h-2.76v16h2.23Q180.1,138.79,180.09,130.72Z"/><path class="cls-14" d="M195.78,133.67v9.42h-5.2V118.56h7.15c3.33,0,5.8.6,7.4,1.82a7.24,7.24,0,0,1,1.2,9.38A7.86,7.86,0,0,1,203,132.4q5.53,8.26,7.22,10.69H204.4l-5.85-9.42Zm0-4.23h1.68a6.4,6.4,0,0,0,3.64-.82,2.94,2.94,0,0,0,1.17-2.58,2.68,2.68,0,0,0-1.2-2.48,7.14,7.14,0,0,0-3.71-.74h-1.58Z"/><path class="cls-14" d="M235.53,130.79q0,6.09-3,9.36t-8.66,3.27c-3.76,0-6.64-1.09-8.66-3.27s-3-5.31-3-9.4,1-7.2,3-9.35,4.92-3.23,8.69-3.23,6.65,1.09,8.64,3.26S235.53,126.72,235.53,130.79Zm-17.9,0q0,4.11,1.56,6.19a5.44,5.44,0,0,0,4.66,2.08q6.22,0,6.23-8.27t-6.19-8.29a5.51,5.51,0,0,0-4.69,2.09Q217.63,126.68,217.63,130.79Z"/><path class="cls-14" d="M249.93,129.31h9.73V142a26.89,26.89,0,0,1-8.73,1.39q-5.55,0-8.48-3.26t-2.93-9.37q0-5.94,3.4-9.26t9.42-3.33a18.33,18.33,0,0,1,7.28,1.51l-1.72,4.16a12.43,12.43,0,0,0-5.59-1.34,6.93,6.93,0,0,0-5.41,2.27,8.8,8.8,0,0,0-2,6.09,9.81,9.81,0,0,0,1.64,6.1,5.67,5.67,0,0,0,4.76,2.1,17.1,17.1,0,0,0,3.3-.33v-5.12h-4.64Z"/><path class="cls-14" d="M280.51,143.09l-1.78-5.84h-8.94L268,143.09h-5.6l8.66-24.63h6.35l8.7,24.63Zm-3-10.21q-2.46-7.93-2.78-9c-.2-.7-.35-1.24-.44-1.65q-.56,2.16-3.17,10.62Z"/><path class="cls-14" d="M303.68,136.27a6.33,6.33,0,0,1-2.39,5.24,10.4,10.4,0,0,1-6.65,1.91,15.58,15.58,0,0,1-6.95-1.48v-4.83a28.27,28.27,0,0,0,4.21,1.56,12.48,12.48,0,0,0,3.14.46,4.46,4.46,0,0,0,2.63-.66,2.22,2.22,0,0,0,.91-1.94,2.15,2.15,0,0,0-.4-1.29,4.65,4.65,0,0,0-1.18-1.08,29.68,29.68,0,0,0-3.18-1.66,15.29,15.29,0,0,1-3.38-2,7.69,7.69,0,0,1-1.79-2.27,6.41,6.41,0,0,1-.67-3,6.32,6.32,0,0,1,2.2-5.11,9.14,9.14,0,0,1,6.1-1.87,14,14,0,0,1,3.65.46,24.8,24.8,0,0,1,3.64,1.27l-1.68,4a25,25,0,0,0-3.25-1.12,10.61,10.61,0,0,0-2.52-.32,3.35,3.35,0,0,0-2.27.69,2.26,2.26,0,0,0-.79,1.79,2.3,2.3,0,0,0,.32,1.21,3.32,3.32,0,0,0,1,1,30.52,30.52,0,0,0,3.29,1.73,13,13,0,0,1,4.72,3.29A6.42,6.42,0,0,1,303.68,136.27Z"/></svg></div></div><br><div class="box-cor-tema box-conteudo"><div><p class="text-center"><b>Álcool</b></p><p>A ingesta alcoólica costuma provocar inicialmente uma breve fase de euforia e desinibição. Com o aumento do consumo, sucedem sintomas de lentificação psicomotora, prejuízo à coordenação e capacidade de julgamento. Associado a essas manifestações, também costumam surgir comportamento sexual inadequado, agressividade, humor instável, prejuízo no julgamento e/ou menor funcionamento social e ocupacional. A esse conjunto de sintomas, dá-se o nome de intoxicação alcoólica. Já a abstinência alcoólica é uma síndrome secundária a cessação ou intensa redução do uso pesado e/ou prolongado do álcool. Casos leves são marcados por tremores grosseiros, insônia, náuseas, vômitos e disautonomia (sudorese, taquicardia, taquipneia e tremores), além de leve ansiedade e irritabilidade. Em casos mais graves, podem ocorrer convulsões tipo tônico-clônico generalizadas, sintomas psicóticos e rebaixamento do nível de consciência.</p></div><div><p class="text-center"><b>Nicotina</b></p><p>Já a abstinência de nicotina é uma síndrome após a cessão ou redução abrupta do consumo de nicotina em pacientes em uso intenso e crônico. Ela é marcada por irritação, inquietação, ansiedade, insônia e dificuldade de concentração.</p></div><div><p class="text-center"><b>Cannabis ou Maconha</b></p><p>Agudamente, a cannabis ou maconha produz sensação de relaxamento e leve euforia. Os usuários costumam ter a impressão de o tempo passar mais devagar ou de alheamento em relação ao lugar. Referem intensificação das experiências auditivas, visuais e táteis. As conjuntivas tendem a ficar hiperemiadas; a boca, seca; e o apetite, aumentado. Em geral, esses efeitos não causam grande repercussão e cessam espontaneamente, não motivando busca por assistência médica. Seu uso crônico se relaciona com DPOC e síndrome amotivacional, marcada por alterações comportamentais (como isolamento, passividade, auto-negligência), cognitivas (diminuição da atenção, concentração e memória) e volitivas (relativa abulia e apatia). Além disso, existe uma relação bem documentada entre cannabis e desenvolvimento de esquizofrenia. A existência ou não de dependência de cannabis ainda não está clara, bem como não foi bem caracterizada nenhuma síndrome de abstinência relacionada.</p></div><div><p class="text-center"><b>Cocaína e derivados (crack)</b></p><p>A cocaína pode se apresentar na forma de um pó branco, de pureza variável, que costuma ser inalado. Pode também ser misturada com amoníaco e bicarbonato dissódico e aquecido, produzindo o crack, forma bastante adictiva e geralmente fumada. Muitas vezes, usa-se maconha misturada ao crack com o objetivo de aliviar seus efeitos estimulantes, composto denominado mesclado. O risco de dependência é alto, principalmente na forma de crack. Dentre seus efeitos agudos, a cocaína costuma causar aumento da auto-confiança e da energia, além de insônia. Doses mais altas podem se associar a euforia ou irritablidade, agitação, desinibição e sintomas psicóticos exuberantes, com delírios persecutórios e alucinações vívidas visuais e táteis. Em usuários crônicos, após 24 a 48h do último consumo, começa-se sintomas de abstinência: apatia e adinamia, intercaladas com períodos de intensa fissura e ansiedade. Tanto a intoxicação como a abstinência de cocaína costumam cursar com sintomas bem intensos, requerendo internação em grande parte dos casos.</p></div></div></div></div></div></div><paginas previous="unid_5/topico_1/1" next="unid_5/topico_2/1" pag="2" total="4"></paginas><modal target="mtc-atividade" titulo="Atividade"><div ng-include src="'views/curso/atividade.html'"></div></modal><modal target="mtc-apoio" titulo="Material de Apoio"><div ng-include src="'views/curso/apoio.html'"></div></modal>