<script>$(function() {
  var conteudo = $('.box-cor-tema > div'); //Captura as tagas "p" da classe text-tabela//
  $(conteudo[0]).siblings().hide(); //esconde tudo exceto o que está no ínidice 0 (siblings)//
  $('.target-svg').click(function(e) { 
    e.preventDefault();
    var data2 = $(this).attr('id'); //armazena o atributo data-map na variavel data//   
    // Conteudo//
    $(conteudo).hide();   //esconde o conteudo//
    $(conteudo[data2-1]).fadeIn('fast');  // mostra o conteudo//
  });
});</script><info unidade="2" tema="2" unome="{{unidades[1].nome}}" anome="{{unidades[1].atividade[1].nome}}"></info><div class="col-md-12"><div class="content-box"><div class="row"><div class="col-md-10 col-md-offset-1"><p class="text-center"><small>Clique em cada número para ler a informação</small></p><br><div class="row"><div class="col-md-10 col-md-offset-1"> <?xml version="1.0" encoding="utf-8"?> <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 834.6 267.7" style="enable-background:new 0 0 834.6 267.7;" xml:space="preserve"><style type="text/css">.st0{fill:#D3D3D3;}
              .st1{fill:#3DA054;}
              .st2{fill:#FFFFFF;}
              .st3{fill:#3F51B5;}
              .st4{fill:#FF6E6E;}
              .st5{fill:#0097A7;}</style><g><a href="javascript:void(0);" class="target-svg" id="1"><circle class="st0" cx="70.7" cy="25.2" r="25.2"/><circle class="st1" cx="70.7" cy="25.2" r="21.4"/><path class="st0" d="M100.9,107.1H40.5C18.1,107.1,0,125.2,0,147.6v79.6c0,22.4,18.1,40.5,40.5,40.5h60.4
                c22.4,0,40.5-18.1,40.5-40.5v-79.6C141.4,125.2,123.3,107.1,100.9,107.1z"/><path class="st1" d="M99.4,111.2H42c-21.2,0-38.5,17.2-38.5,38.5v75.5c0,21.2,17.2,38.5,38.5,38.5h57.3c21.2,0,38.5-17.2,38.5-38.5
                v-75.5C137.8,128.4,120.6,111.2,99.4,111.2z"/><rect x="66.6" y="45.5" class="st1" width="8.1" height="61.6"/><g><g><path class="st2" d="M74.2,37.6h-5.6V23.3l0.1-2.4l0.1-2.6c-0.9,0.9-1.6,1.4-1.9,1.7l-3,2.3l-2.7-3.2l8.5-6.4h4.6V37.6z"/></g></g><g><g><path class="st2" d="M39.5,195.4c0,1.5-0.3,2.8-0.8,3.8c-0.5,1-1.3,1.8-2.4,2.2l3.1,3.5h-3.5l-2.4-2.9h-0.2c-2,0-3.5-0.6-4.5-1.7
                    s-1.6-2.8-1.6-4.9s0.5-3.8,1.6-4.9c1.1-1.1,2.6-1.7,4.5-1.7s3.5,0.6,4.5,1.7C39,191.6,39.5,193.3,39.5,195.4z M30.1,195.4
                    c0,1.4,0.3,2.5,0.8,3.2s1.4,1.1,2.4,1.1c2.2,0,3.3-1.4,3.3-4.3c0-2.9-1.1-4.3-3.2-4.3c-1.1,0-1.9,0.4-2.5,1.1
                    C30.4,192.9,30.1,194,30.1,195.4z"/><path class="st2" d="M48.9,201.8l-0.4-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1c-0.5,0.2-1.1,0.4-1.8,0.4c-1.2,0-2-0.3-2.6-0.9
                    c-0.6-0.6-0.9-1.5-0.9-2.7V192h2.7v5.7c0,0.7,0.1,1.2,0.4,1.6c0.3,0.4,0.7,0.5,1.2,0.5c0.8,0,1.3-0.3,1.6-0.8
                    c0.3-0.5,0.5-1.3,0.5-2.5V192H51v9.8H48.9z"/><path class="st2" d="M60,201.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H60z M59.2,197.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V197.3z"/><path class="st2" d="M67.3,201.8h-2.7v-13.7h2.7V201.8z"/><path class="st2" d="M81.1,201.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H81.1z M80.3,197.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V197.3z"/><path class="st2" d="M94.8,201.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6S91,194,90.5,194c-0.8,0-1.3,0.3-1.6,0.8
                    c-0.3,0.5-0.5,1.3-0.5,2.5v4.6h-2.7V192h2l0.4,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.2,1.1-0.4,1.8-0.4c1.1,0,2,0.3,2.6,0.9
                    c0.6,0.6,0.9,1.5,0.9,2.7V201.8z"/><path class="st2" d="M101.7,199.9c0.5,0,1-0.1,1.7-0.3v2c-0.7,0.3-1.5,0.4-2.5,0.4c-1.1,0-1.9-0.3-2.3-0.8s-0.7-1.4-0.7-2.4V194
                    h-1.3v-1.1L98,192l0.8-2.1h1.7v2.1h2.8v2h-2.8v4.7c0,0.4,0.1,0.7,0.3,0.8S101.3,199.9,101.7,199.9z"/><path class="st2" d="M105.2,189.5c0-0.9,0.5-1.3,1.5-1.3s1.5,0.4,1.5,1.3c0,0.4-0.1,0.7-0.4,1c-0.2,0.2-0.6,0.3-1.1,0.3
                    C105.7,190.8,105.2,190.4,105.2,189.5z M108,201.8h-2.7V192h2.7V201.8z"/><path class="st2" d="M110,198.1v-2.2h4.7v2.2H110z"/><path class="st2" d="M26.7,221c-1.2,0-2.1-0.4-2.7-1.3c-0.7-0.9-1-2.1-1-3.7c0-1.6,0.3-2.9,1-3.8c0.7-0.9,1.6-1.3,2.8-1.3
                    c1.2,0,2.2,0.5,2.8,1.4h0.1c-0.1-0.7-0.2-1.4-0.2-2v-3.1h2.7v13.7h-2.1l-0.5-1.3h-0.1C28.9,220.5,28,221,26.7,221z M27.7,218.9
                    c0.7,0,1.2-0.2,1.5-0.6s0.5-1.1,0.5-2V216c0-1.1-0.2-1.8-0.5-2.3c-0.3-0.5-0.9-0.7-1.6-0.7c-0.6,0-1.1,0.3-1.4,0.8
                    c-0.3,0.5-0.5,1.2-0.5,2.2s0.2,1.7,0.5,2.2C26.6,218.6,27.1,218.9,27.7,218.9z"/><path class="st2" d="M39.5,221c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C40.9,221,40.2,221,39.5,221z M39.1,212.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5H41
                    c0-0.7-0.2-1.2-0.5-1.5C40.1,212.9,39.6,212.7,39.1,212.7z"/><path class="st2" d="M51,221c-1.2,0-2.1-0.4-2.7-1.3h-0.1c0.1,0.8,0.1,1.3,0.1,1.4v4h-2.7V211h2.2l0.4,1.3h0.1
                    c0.6-1,1.6-1.5,2.8-1.5c1.2,0,2.1,0.4,2.7,1.3s1,2.1,1,3.7c0,1-0.2,2-0.5,2.7c-0.3,0.8-0.7,1.4-1.3,1.8S51.8,221,51,221z
                     M50.3,213c-0.7,0-1.1,0.2-1.5,0.6c-0.3,0.4-0.5,1.1-0.5,2v0.3c0,1.1,0.2,1.8,0.5,2.3s0.8,0.7,1.5,0.7c1.2,0,1.8-1,1.8-3
                    c0-1-0.1-1.7-0.4-2.2C51.3,213.2,50.9,213,50.3,213z"/><path class="st2" d="M62.5,210.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5H57V211h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C61.3,211,61.9,210.8,62.5,210.8z"/><path class="st2" d="M69.7,221c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C71.1,221,70.4,221,69.7,221z M69.3,212.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C70.3,212.9,69.8,212.7,69.3,212.7z"/><path class="st2" d="M82.7,217.9c0,1-0.4,1.8-1.1,2.3s-1.7,0.8-3.1,0.8c-0.7,0-1.3,0-1.8-0.1c-0.5-0.1-1-0.2-1.4-0.4v-2.2
                    c0.5,0.2,1.1,0.4,1.7,0.6c0.6,0.2,1.2,0.2,1.6,0.2c1,0,1.5-0.3,1.5-0.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.4-0.3-0.7-0.4
                    c-0.3-0.2-0.7-0.4-1.3-0.6c-0.8-0.3-1.3-0.6-1.7-0.9c-0.4-0.3-0.6-0.6-0.8-0.9c-0.2-0.3-0.2-0.8-0.2-1.3c0-0.9,0.3-1.5,1-2
                    c0.7-0.5,1.6-0.7,2.9-0.7c1.2,0,2.3,0.3,3.5,0.8l-0.8,1.9c-0.5-0.2-1-0.4-1.4-0.5s-0.9-0.2-1.3-0.2c-0.8,0-1.2,0.2-1.2,0.6
                    c0,0.2,0.1,0.4,0.4,0.6c0.3,0.2,0.8,0.4,1.7,0.8c0.8,0.3,1.3,0.6,1.7,0.9s0.6,0.6,0.8,0.9S82.7,217.4,82.7,217.9z"/><path class="st2" d="M91.6,217.9c0,1-0.4,1.8-1.1,2.3s-1.7,0.8-3.1,0.8c-0.7,0-1.3,0-1.8-0.1c-0.5-0.1-1-0.2-1.4-0.4v-2.2
                    c0.5,0.2,1.1,0.4,1.7,0.6c0.6,0.2,1.2,0.2,1.6,0.2c1,0,1.5-0.3,1.5-0.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.4-0.3-0.7-0.4
                    c-0.3-0.2-0.7-0.4-1.3-0.6c-0.8-0.3-1.3-0.6-1.7-0.9c-0.4-0.3-0.6-0.6-0.8-0.9c-0.2-0.3-0.2-0.8-0.2-1.3c0-0.9,0.3-1.5,1-2
                    c0.7-0.5,1.6-0.7,2.9-0.7c1.2,0,2.3,0.3,3.5,0.8l-0.8,1.9c-0.5-0.2-1-0.4-1.4-0.5s-0.9-0.2-1.3-0.2c-0.8,0-1.2,0.2-1.2,0.6
                    c0,0.2,0.1,0.4,0.4,0.6c0.3,0.2,0.8,0.4,1.7,0.8c0.8,0.3,1.3,0.6,1.7,0.9s0.6,0.6,0.8,0.9S91.6,217.4,91.6,217.9z"/><path class="st2" d="M93.6,208.5c0-0.9,0.5-1.3,1.5-1.3s1.5,0.4,1.5,1.3c0,0.4-0.1,0.7-0.4,1c-0.2,0.2-0.6,0.3-1.1,0.3
                    C94.1,209.8,93.6,209.4,93.6,208.5z M96.4,220.8h-2.7V211h2.7V220.8z"/><path class="st2" d="M101.6,220.8l-3.7-9.8h2.8l1.9,5.6c0.2,0.7,0.3,1.4,0.4,2h0.1c0-0.6,0.2-1.2,0.4-2l1.9-5.6h2.8l-3.7,9.8
                    H101.6z"/><path class="st2" d="M118.4,215.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S118.4,214.9,118.4,215.9z
                     M111.6,215.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C111.8,214.2,111.6,214.9,111.6,215.9z"/><path class="st2" d="M34.2,240c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C35.6,240,35,240,34.2,240z M33.8,231.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C34.9,231.9,34.4,231.7,33.8,231.7z"/><path class="st2" d="M47.3,236.9c0,1-0.4,1.8-1.1,2.3s-1.7,0.8-3.1,0.8c-0.7,0-1.3,0-1.8-0.1c-0.5-0.1-1-0.2-1.4-0.4v-2.2
                    c0.5,0.2,1.1,0.4,1.7,0.6c0.6,0.2,1.2,0.2,1.6,0.2c1,0,1.5-0.3,1.5-0.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.4-0.3-0.7-0.4
                    c-0.3-0.2-0.7-0.4-1.3-0.6c-0.8-0.3-1.3-0.6-1.7-0.9c-0.4-0.3-0.6-0.6-0.8-0.9c-0.2-0.3-0.2-0.8-0.2-1.3c0-0.9,0.3-1.5,1-2
                    c0.7-0.5,1.6-0.7,2.9-0.7c1.2,0,2.3,0.3,3.5,0.8l-0.8,1.9c-0.5-0.2-1-0.4-1.4-0.5s-0.9-0.2-1.3-0.2c-0.8,0-1.2,0.2-1.2,0.6
                    c0,0.2,0.1,0.4,0.4,0.6c0.3,0.2,0.8,0.4,1.7,0.8c0.8,0.3,1.3,0.6,1.7,0.9s0.6,0.6,0.8,0.9S47.3,236.4,47.3,236.9z"/><path class="st2" d="M53.3,240c-3.1,0-4.6-1.7-4.6-5c0-1.7,0.4-2.9,1.2-3.8s2-1.3,3.6-1.3c1.1,0,2.2,0.2,3.1,0.7l-0.8,2.1
                    c-0.4-0.2-0.8-0.3-1.2-0.4s-0.7-0.2-1.1-0.2c-1.4,0-2.1,1-2.1,3c0,1.9,0.7,2.9,2.1,2.9c0.5,0,1-0.1,1.4-0.2s0.9-0.4,1.3-0.6v2.3
                    c-0.4,0.3-0.9,0.5-1.3,0.6S54,240,53.3,240z"/><path class="st2" d="M67.5,234.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S67.5,233.9,67.5,234.9z M60.7,234.9
                    c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C60.9,233.2,60.7,233.9,60.7,234.9z"/><path class="st2" d="M72.4,239.8h-2.7v-13.7h2.7V239.8z"/><path class="st2" d="M84.3,239.8h-2.7v-5.7c0-1.4-0.5-2.1-1.6-2.1c-0.8,0-1.3,0.3-1.6,0.8s-0.5,1.3-0.5,2.5v4.6h-2.7v-13.7h2.7
                    v2.8c0,0.2,0,0.7-0.1,1.5l-0.1,0.8h0.1c0.6-1,1.5-1.4,2.8-1.4c1.2,0,2,0.3,2.6,0.9s0.9,1.5,0.9,2.7V239.8z"/><path class="st2" d="M91.5,240c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C92.9,240,92.3,240,91.5,240z M91.1,231.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5H93
                    c0-0.7-0.2-1.2-0.5-1.5C92.2,231.9,91.7,231.7,91.1,231.7z"/><path class="st2" d="M103.2,229.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V230h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C102,230,102.6,229.8,103.2,229.8z"/><path class="st2" d="M106.9,235.6v-0.7c0-0.6,0.1-1.1,0.4-1.5s0.7-0.9,1.3-1.3c0.6-0.4,1-0.8,1.2-1.1c0.2-0.3,0.3-0.6,0.3-0.9
                    c0-0.4-0.1-0.7-0.4-0.9s-0.7-0.3-1.2-0.3c-0.9,0-1.9,0.3-3,0.9l-1-1.9c1.3-0.7,2.7-1.1,4.2-1.1c1.2,0,2.2,0.3,2.9,0.9
                    c0.7,0.6,1.1,1.4,1.1,2.3c0,0.6-0.1,1.2-0.4,1.7s-0.8,1-1.7,1.6c-0.6,0.4-0.9,0.7-1.1,0.9c-0.1,0.2-0.2,0.5-0.2,0.9v0.5H106.9z
                     M106.6,238.6c0-0.5,0.1-0.9,0.4-1.1s0.6-0.4,1.2-0.4c0.5,0,0.9,0.1,1.1,0.4s0.4,0.6,0.4,1.1c0,0.5-0.1,0.8-0.4,1.1
                    c-0.3,0.3-0.6,0.4-1.1,0.4c-0.5,0-0.9-0.1-1.1-0.4C106.8,239.4,106.6,239.1,106.6,238.6z"/></g></g><g><path class="st2" d="M79.5,132.6H62c-4.4,0-8.1,3.6-8.1,8.1v21.5c0,4.5,3.6,8.1,8.1,8.1h17.5c4.5,0,8.1-3.6,8.1-8.1v-21.5
                  C87.5,136.2,83.9,132.6,79.5,132.6z M85.5,160.5c0,1.4-1.1,2.5-2.5,2.5H58.4c-1.4,0-2.5-1.1-2.5-2.5v-18.3c0-1.4,1.1-2.5,2.5-2.5
                  H83c1.4,0,2.5,1.1,2.5,2.5V160.5z"/><path class="st2" d="M76.9,149.3h-3.2c-0.4,0-0.8-0.4-0.8-0.8v-3.2c0-0.4-0.4-0.8-0.8-0.8h-2.7c-0.4,0-0.8,0.4-0.8,0.8v3.2
                  c0,0.4-0.4,0.8-0.8,0.8h-3.2c-0.4,0-0.8,0.4-0.8,0.8v2.7c0,0.4,0.4,0.8,0.8,0.8h3.2c0.4,0,0.8,0.4,0.8,0.8v3.2
                  c0,0.4,0.4,0.8,0.8,0.8h2.7c0.4,0,0.8-0.4,0.8-0.8v-3.2c0-0.4,0.4-0.8,0.8-0.8h3.2c0.4,0,0.8-0.4,0.8-0.8v-2.7
                  C77.7,149.7,77.4,149.3,76.9,149.3z"/><path class="st2" d="M80.1,122.3H61.5c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3h0.2v2.5h18.1v-2.5h0.2c1.8,0,3.3-1.5,3.3-3.3
                  C83.3,123.7,81.9,122.3,80.1,122.3z"/></g></a><a href="javascript:void(0);" class="target-svg" id="2"><circle class="st0" cx="301.8" cy="25.2" r="25.2"/><circle class="st3" cx="301.8" cy="25.2" r="21.4"/><path class="st0" d="M332,107.1h-60.4c-22.4,0-40.5,18.1-40.5,40.5v79.6c0,22.4,18.1,40.5,40.5,40.5H332
                c22.4,0,40.5-18.1,40.5-40.5v-79.6C372.5,125.2,354.3,107.1,332,107.1z"/><path class="st3" d="M330.4,111.2h-57.3c-21.2,0-38.5,17.2-38.5,38.5v75.5c0,21.2,17.2,38.5,38.5,38.5h57.3
                c21.2,0,38.5-17.2,38.5-38.5v-75.5C368.9,128.4,351.7,111.2,330.4,111.2z"/><rect x="297.7" y="45.5" class="st3" width="8.1" height="61.6"/><g><path class="st2" d="M311,37.8h-18.4v-3.6l6.6-6.3c2-1.9,3.2-3.2,3.8-3.9s1-1.4,1.3-2s0.4-1.3,0.4-1.9c0-1-0.3-1.7-0.9-2.2
                  s-1.4-0.7-2.3-0.7c-1,0-2,0.2-3,0.7c-1,0.4-2,1.1-3,1.9l-3-3.4c1.3-1,2.4-1.8,3.2-2.2s1.8-0.8,2.8-1c1-0.2,2.1-0.3,3.4-0.3
                  c1.6,0,3.1,0.3,4.4,0.8c1.3,0.6,2.2,1.4,2.9,2.4c0.7,1,1,2.2,1,3.5c0,1.1-0.2,2.2-0.6,3.2s-1.1,2-2,3.1c-0.9,1.1-2.5,2.6-4.7,4.5
                  l-3.4,3v0.2H311V37.8z"/></g><g><g><path class="st2" d="M254.2,190.8h-7.4V178h7.4v2.2h-4.7v2.8h4.4v2.2h-4.4v3.3h4.7V190.8z"/><path class="st2" d="M265.5,190.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.2,0.3-1.5,0.8
                    s-0.5,1.3-0.5,2.5v4.6h-2.7V181h2l0.4,1.3h0.1c0.3-0.5,0.6-0.8,1.1-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.4h0.2
                    c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.1,0,2,0.3,2.5,0.9c0.6,0.6,0.9,1.5,0.9,2.7v6.4h-2.7v-5.7
                    c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.1,0.2-1.5,0.7c-0.3,0.5-0.5,1.2-0.5,2.2V190.8z"/><path class="st2" d="M282.2,191c-1.2,0-2.1-0.4-2.7-1.3s-1-2.1-1-3.7c0-1.6,0.3-2.9,1-3.8s1.6-1.4,2.8-1.4c0.6,0,1.2,0.1,1.6,0.4
                    s0.9,0.6,1.2,1.1h0.1l0.2-1.3h2.3v14.2H285V191c0-0.4,0-0.8,0.1-1.5H285c-0.3,0.5-0.7,0.8-1.1,1.1S282.8,191,282.2,191z
                     M283.1,188.9c0.7,0,1.2-0.2,1.5-0.6c0.3-0.4,0.5-1.1,0.5-2V186c0-1.1-0.2-1.8-0.5-2.3c-0.3-0.5-0.8-0.7-1.6-0.7
                    c-1.3,0-1.9,1-1.9,3c0,1,0.2,1.7,0.5,2.2S282.5,188.9,283.1,188.9z"/><path class="st2" d="M297.4,190.8l-0.4-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1c-0.5,0.2-1.1,0.4-1.8,0.4c-1.2,0-2-0.3-2.6-0.9
                    c-0.6-0.6-0.9-1.5-0.9-2.7V181h2.7v5.7c0,0.7,0.1,1.2,0.4,1.6c0.3,0.4,0.7,0.5,1.2,0.5c0.8,0,1.3-0.3,1.6-0.8
                    c0.3-0.5,0.5-1.3,0.5-2.5V181h2.7v9.8H297.4z"/><path class="st2" d="M306.7,191c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C308.1,191,307.5,191,306.7,191z M306.3,182.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C307.4,182.9,306.9,182.7,306.3,182.7z"/><path class="st2" d="M320.7,191c-1.2,0-2.1-0.4-2.7-1.3c-0.7-0.9-1-2.1-1-3.7c0-1.6,0.3-2.9,1-3.8c0.7-0.9,1.6-1.3,2.8-1.3
                    c1.2,0,2.2,0.5,2.8,1.4h0.1c-0.1-0.7-0.2-1.4-0.2-2v-3.1h2.7v13.7h-2.1l-0.5-1.3h-0.1C322.9,190.5,321.9,191,320.7,191z
                     M321.6,188.9c0.7,0,1.2-0.2,1.5-0.6s0.5-1.1,0.5-2V186c0-1.1-0.2-1.8-0.5-2.3c-0.3-0.5-0.9-0.7-1.6-0.7c-0.6,0-1.1,0.3-1.4,0.8
                    c-0.3,0.5-0.5,1.2-0.5,2.2s0.2,1.7,0.5,2.2C320.5,188.6,321,188.9,321.6,188.9z"/><path class="st2" d="M337.9,185.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S337.9,184.9,337.9,185.9z
                     M331.1,185.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C331.3,184.2,331.1,184.9,331.1,185.9z"/><path class="st2" d="M347,187.9c0,1-0.4,1.8-1.1,2.3s-1.7,0.8-3.1,0.8c-0.7,0-1.3,0-1.8-0.1c-0.5-0.1-1-0.2-1.4-0.4v-2.2
                    c0.5,0.2,1.1,0.4,1.7,0.6c0.6,0.2,1.2,0.2,1.6,0.2c1,0,1.5-0.3,1.5-0.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.4-0.3-0.7-0.4
                    c-0.3-0.2-0.7-0.4-1.3-0.6c-0.8-0.3-1.3-0.6-1.7-0.9c-0.4-0.3-0.6-0.6-0.8-0.9c-0.2-0.3-0.2-0.8-0.2-1.3c0-0.9,0.3-1.5,1-2
                    c0.7-0.5,1.6-0.7,2.9-0.7c1.2,0,2.3,0.3,3.5,0.8l-0.8,1.9c-0.5-0.2-1-0.4-1.4-0.5s-0.9-0.2-1.3-0.2c-0.8,0-1.2,0.2-1.2,0.6
                    c0,0.2,0.1,0.4,0.4,0.6c0.3,0.2,0.8,0.4,1.7,0.8c0.8,0.3,1.3,0.6,1.7,0.9s0.6,0.6,0.8,0.9S347,187.4,347,187.9z"/><path class="st2" d="M353.5,191c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C354.9,191,354.3,191,353.5,191z M353.1,182.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C354.2,182.9,353.7,182.7,353.1,182.7z"/><path class="st2" d="M264.4,210c-3.1,0-4.6-1.7-4.6-5c0-1.7,0.4-2.9,1.2-3.8s2-1.3,3.6-1.3c1.1,0,2.2,0.2,3.1,0.7l-0.8,2.1
                    c-0.4-0.2-0.8-0.3-1.2-0.4s-0.7-0.2-1.1-0.2c-1.4,0-2.1,1-2.1,3c0,1.9,0.7,2.9,2.1,2.9c0.5,0,1-0.1,1.4-0.2s0.9-0.4,1.3-0.6v2.3
                    c-0.4,0.3-0.9,0.5-1.3,0.6S265,210,264.4,210z"/><path class="st2" d="M278.6,204.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S278.6,203.9,278.6,204.9z
                     M271.8,204.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C271.9,203.2,271.8,203.9,271.8,204.9z"/><path class="st2" d="M289.6,209.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.2,0.3-1.5,0.8
                    s-0.5,1.3-0.5,2.5v4.6h-2.7V200h2l0.4,1.3h0.1c0.3-0.5,0.6-0.8,1.1-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.4h0.2
                    c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.1,0,2,0.3,2.5,0.9c0.6,0.6,0.9,1.5,0.9,2.7v6.4H293v-5.7
                    c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.1,0.2-1.5,0.7c-0.3,0.5-0.5,1.2-0.5,2.2V209.8z"/><path class="st2" d="M302.9,210c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C304.3,210,303.7,210,302.9,210z M302.5,201.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C303.5,201.9,303.1,201.7,302.5,201.7z"/><path class="st2" d="M313.1,210c-3.1,0-4.6-1.7-4.6-5c0-1.7,0.4-2.9,1.2-3.8s2-1.3,3.6-1.3c1.1,0,2.2,0.2,3.1,0.7l-0.8,2.1
                    c-0.4-0.2-0.8-0.3-1.2-0.4s-0.7-0.2-1.1-0.2c-1.4,0-2.1,1-2.1,3c0,1.9,0.7,2.9,2.1,2.9c0.5,0,1-0.1,1.4-0.2s0.9-0.4,1.3-0.6v2.3
                    c-0.4,0.3-0.9,0.5-1.3,0.6S313.7,210,313.1,210z M314.7,212c0,0.8-0.2,1.3-0.7,1.6c-0.4,0.3-1.1,0.5-2.1,0.5
                    c-0.5,0-0.9-0.1-1.3-0.2v-1.5c0.2,0,0.4,0.1,0.6,0.1s0.5,0.1,0.6,0.1c0.4,0,0.6-0.2,0.6-0.5c0-0.5-0.5-0.8-1.5-0.9l0.7-1.4h1.7
                    l-0.2,0.5c0.4,0.1,0.8,0.4,1,0.7C314.6,211.3,314.7,211.7,314.7,212z"/><path class="st2" d="M324.6,209.8l-0.5-1.3H324c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H324.6z M323.8,205.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V205.3z"/><path class="st2" d="M334.7,199.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V200h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C333.5,200,334.1,199.8,334.7,199.8z"/><path class="st2" d="M338.4,205.6v-0.7c0-0.6,0.1-1.1,0.4-1.5s0.7-0.9,1.3-1.3c0.6-0.4,1-0.8,1.2-1.1c0.2-0.3,0.3-0.6,0.3-0.9
                    c0-0.4-0.1-0.7-0.4-0.9s-0.7-0.3-1.2-0.3c-0.9,0-1.9,0.3-3,0.9l-1-1.9c1.3-0.7,2.7-1.1,4.2-1.1c1.2,0,2.2,0.3,2.9,0.9
                    c0.7,0.6,1.1,1.4,1.1,2.3c0,0.6-0.1,1.2-0.4,1.7s-0.8,1-1.7,1.6c-0.6,0.4-0.9,0.7-1.1,0.9c-0.1,0.2-0.2,0.5-0.2,0.9v0.5H338.4z
                     M338.1,208.6c0-0.5,0.1-0.9,0.4-1.1s0.6-0.4,1.2-0.4c0.5,0,0.9,0.1,1.1,0.4s0.4,0.6,0.4,1.1c0,0.5-0.1,0.8-0.4,1.1
                    c-0.3,0.3-0.6,0.4-1.1,0.4c-0.5,0-0.9-0.1-1.1-0.4C338.3,209.4,338.1,209.1,338.1,208.6z"/><path class="st2" d="M283.1,218.1c-1,0-1.8,0.4-2.4,1.2c-0.6,0.8-0.8,1.8-0.8,3.2c0,2.9,1.1,4.3,3.2,4.3c0.9,0,2-0.2,3.3-0.7v2.3
                    c-1.1,0.4-2.2,0.7-3.5,0.7c-1.9,0-3.3-0.6-4.3-1.7c-1-1.1-1.5-2.8-1.5-4.9c0-1.3,0.2-2.5,0.7-3.5s1.2-1.8,2.1-2.3
                    c0.9-0.5,2-0.8,3.2-0.8c1.2,0,2.5,0.3,3.8,0.9l-0.9,2.2c-0.5-0.2-1-0.4-1.5-0.6S283.6,218.1,283.1,218.1z"/><path class="st2" d="M297.8,223.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S297.8,222.9,297.8,223.9z
                     M291.1,223.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C291.2,222.2,291.1,222.9,291.1,223.9z"/><path class="st2" d="M308.9,228.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.2,0.3-1.5,0.8
                    s-0.5,1.3-0.5,2.5v4.6h-2.7V219h2l0.4,1.3h0.1c0.3-0.5,0.6-0.8,1.1-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.4h0.2
                    c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.1,0,2,0.3,2.5,0.9c0.6,0.6,0.9,1.5,0.9,2.7v6.4h-2.7v-5.7
                    c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.1,0.2-1.5,0.7c-0.3,0.5-0.5,1.2-0.5,2.2V228.8z"/><path class="st2" d="M326.7,223.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S326.7,222.9,326.7,223.9z
                     M319.9,223.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C320,222.2,319.9,222.9,319.9,223.9z"/><path class="st2" d="M261.9,248c-1.2,0-2.1-0.4-2.7-1.3H259c0.1,0.8,0.1,1.3,0.1,1.4v4h-2.7V238h2.2l0.4,1.3h0.1
                    c0.6-1,1.6-1.5,2.8-1.5c1.2,0,2.1,0.4,2.7,1.3s1,2.1,1,3.7c0,1-0.2,2-0.5,2.7c-0.3,0.8-0.7,1.4-1.3,1.8S262.7,248,261.9,248z
                     M261.1,240c-0.7,0-1.1,0.2-1.5,0.6c-0.3,0.4-0.5,1.1-0.5,2v0.3c0,1.1,0.2,1.8,0.5,2.3s0.8,0.7,1.5,0.7c1.2,0,1.8-1,1.8-3
                    c0-1-0.1-1.7-0.4-2.2C262.2,240.2,261.7,240,261.1,240z"/><path class="st2" d="M273.4,237.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V238h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C272.2,238,272.8,237.8,273.4,237.8z"/><path class="st2" d="M285,242.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S285,241.9,285,242.9z M278.2,242.9
                    c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C278.4,241.2,278.2,241.9,278.2,242.9z"/><path class="st2" d="M295.8,238v1.4l-1.5,0.4c0.3,0.4,0.4,0.9,0.4,1.5c0,1.1-0.4,1.9-1.1,2.5c-0.7,0.6-1.8,0.9-3.1,0.9l-0.5,0
                    l-0.4,0c-0.3,0.2-0.4,0.4-0.4,0.7c0,0.4,0.5,0.6,1.5,0.6h1.7c1.1,0,1.9,0.2,2.5,0.7c0.6,0.5,0.8,1.1,0.8,2c0,1.1-0.5,2-1.4,2.7
                    c-1,0.6-2.3,0.9-4.1,0.9c-1.4,0-2.4-0.2-3.1-0.7c-0.7-0.5-1.1-1.1-1.1-2c0-0.6,0.2-1.1,0.6-1.5s0.9-0.7,1.6-0.9
                    c-0.3-0.1-0.5-0.3-0.7-0.6c-0.2-0.3-0.3-0.5-0.3-0.8c0-0.4,0.1-0.7,0.3-0.9s0.5-0.5,0.9-0.7c-0.5-0.2-0.9-0.6-1.2-1.1
                    c-0.3-0.5-0.5-1.1-0.5-1.7c0-1.1,0.3-1.9,1-2.5s1.7-0.9,3-0.9c0.3,0,0.6,0,1,0.1c0.4,0,0.6,0.1,0.7,0.1H295.8z M288.2,249.2
                    c0,0.4,0.2,0.7,0.5,0.9s0.9,0.3,1.5,0.3c1,0,1.7-0.1,2.3-0.4s0.8-0.6,0.8-1.1c0-0.4-0.2-0.6-0.5-0.8s-0.8-0.2-1.5-0.2h-1.4
                    c-0.5,0-0.9,0.1-1.2,0.3C288.3,248.5,288.2,248.9,288.2,249.2z M289.2,241.2c0,0.5,0.1,1,0.4,1.3s0.6,0.5,1.1,0.5
                    c0.5,0,0.9-0.2,1.1-0.5s0.4-0.7,0.4-1.3c0-1.2-0.5-1.8-1.5-1.8C289.6,239.5,289.2,240.1,289.2,241.2z"/><path class="st2" d="M302.9,237.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V238h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C301.7,238,302.3,237.8,302.9,237.8z"/><path class="st2" d="M310,248c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C311.4,248,310.8,248,310,248z M309.6,239.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C310.6,239.9,310.2,239.7,309.6,239.7z"/><path class="st2" d="M319.3,248c-1.2,0-2.1-0.4-2.7-1.3c-0.7-0.9-1-2.1-1-3.7c0-1.6,0.3-2.9,1-3.8c0.7-0.9,1.6-1.3,2.8-1.3
                    c1.2,0,2.2,0.5,2.8,1.4h0.1c-0.1-0.7-0.2-1.4-0.2-2v-3.1h2.7v13.7h-2.1l-0.5-1.3h-0.1C321.5,247.5,320.5,248,319.3,248z
                     M320.2,245.9c0.7,0,1.2-0.2,1.5-0.6s0.5-1.1,0.5-2V243c0-1.1-0.2-1.8-0.5-2.3c-0.3-0.5-0.9-0.7-1.6-0.7c-0.6,0-1.1,0.3-1.4,0.8
                    c-0.3,0.5-0.5,1.2-0.5,2.2s0.2,1.7,0.5,2.2C319.1,245.6,319.6,245.9,320.2,245.9z"/><path class="st2" d="M327.5,235.5c0-0.9,0.5-1.3,1.5-1.3s1.5,0.4,1.5,1.3c0,0.4-0.1,0.7-0.4,1c-0.2,0.2-0.6,0.3-1.1,0.3
                    C328,236.8,327.5,236.4,327.5,235.5z M330.3,247.8h-2.7V238h2.7V247.8z"/><path class="st2" d="M338.6,237.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V238h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C337.4,238,337.9,237.8,338.6,237.8z"/><path class="st2" d="M342.3,243.6v-0.7c0-0.6,0.1-1.1,0.4-1.5s0.7-0.9,1.3-1.3c0.6-0.4,1-0.8,1.2-1.1c0.2-0.3,0.3-0.6,0.3-0.9
                    c0-0.4-0.1-0.7-0.4-0.9s-0.7-0.3-1.2-0.3c-0.9,0-1.9,0.3-3,0.9l-1-1.9c1.3-0.7,2.7-1.1,4.2-1.1c1.2,0,2.2,0.3,2.9,0.9
                    c0.7,0.6,1.1,1.4,1.1,2.3c0,0.6-0.1,1.2-0.4,1.7s-0.8,1-1.7,1.6c-0.6,0.4-0.9,0.7-1.1,0.9c-0.1,0.2-0.2,0.5-0.2,0.9v0.5H342.3z
                     M342,246.6c0-0.5,0.1-0.9,0.4-1.1s0.6-0.4,1.2-0.4c0.5,0,0.9,0.1,1.1,0.4s0.4,0.6,0.4,1.1c0,0.5-0.1,0.8-0.4,1.1
                    c-0.3,0.3-0.6,0.4-1.1,0.4c-0.5,0-0.9-0.1-1.1-0.4C342.1,247.4,342,247.1,342,246.6z"/></g></g><g><path class="st2" d="M301.8,165.4c-4.8,0-9.5,0-14.3,0c-3.8,0-6.9-3-6.9-6.8c0-9.5,0-19,0-28.6c0-3.9,3-6.9,6.9-6.9
                  c9.2,0,18.5,0,27.7,0c1.2,0,2.4,0,3.5,0.5c2.7,1.2,4.2,3.3,4.2,6.2c0.1,6,0,12,0,18c0,0.8,0,1.6,0,2.5c0,0.8-0.1,1.6-0.1,2.5
                  c0,1.9,0.1,3.7,0.1,5.6c0,3.4-2.1,6.2-5.5,6.9c-0.5,0.1-0.9,0.1-1.4,0.1c-3.4,0-6.8,0-10.2,0C304.5,165.3,303.1,165.3,301.8,165.4
                  C301.8,165.4,301.8,165.4,301.8,165.4z M283.9,126.3c12,12,23.9,23.9,35.8,35.8c0.7-0.7,1.2-1.5,1.3-2.5c0.1-1.4,0.1-2.8,0.1-4.2
                  c0-2.7,0-5.4,0-8.1c0-5.8,0-11.5,0-17.3c0-2.9-2.2-5.1-5.1-5.1c-1.6,0-3.3,0-4.9,0c-6.2,0-12.4,0-18.6,0c-1.8,0-3.6,0-5.4,0
                  C285.8,124.9,284.7,125.4,283.9,126.3z M291.6,150.8c-0.2,0-0.4,0-0.6,0c-1,0-2.1,0-3.1,0c-0.3,0-0.7,0-0.9,0.1
                  c-0.9,0.4-1.2,1.1-1.1,1.9c0.2,0.9,0.9,1.5,1.8,1.5c0.7,0,1.5,0,2.2,0c0.5,0,1.1,0,1.7,0c0,1,0,1.9,0,2.8c0,0.6,0,1.2,0.1,1.7
                  c0.1,0.4,0.5,0.8,0.9,1c1.3,0.5,2.6-0.3,2.6-1.8c0-1,0-1.9,0-2.9c0-0.3,0-0.5,0-0.9c0.2,0,0.4,0,0.6,0c1.1,0,2.1,0,3.2,0
                  c1.1,0,1.9-0.8,1.9-1.8c0-1-0.8-1.8-1.9-1.8c-1.1,0-2.2,0-3.2,0c-0.2,0-0.3,0-0.6,0c0-0.2,0-0.4,0-0.6c0-1.1,0-2.1,0-3.2
                  c0-0.9-0.5-1.6-1.3-1.8c-1.2-0.3-2.3,0.5-2.3,1.8C291.6,148.2,291.6,149.5,291.6,150.8z"/><path class="st2" d="M302.3,135.9c-0.2-0.4-0.1-0.8,0.1-1.1c0.6-0.8,1.2-1.2,2.3-1.2c3.6,0.1,7.3,0,10.9,0c1.3,0,2.1,0.8,2.2,1.9
                  c0,1.2-0.9,2-2.2,2c-3.7,0-7.4,0-11.1,0c-0.2,0-0.4-0.1-0.7-0.2C303.3,136.9,302.8,136.4,302.3,135.9z"/></g></a><a href="javascript:void(0);" class="target-svg" id="3"><circle class="st0" cx="532.8" cy="25.2" r="25.2"/><circle class="st4" cx="532.8" cy="25.2" r="21.4"/><path class="st0" d="M563,107.1h-60.4c-22.4,0-40.5,18.1-40.5,40.5v79.6c0,22.4,18.1,40.5,40.5,40.5H563
                c22.4,0,40.5-18.1,40.5-40.5v-79.6C603.5,125.2,585.4,107.1,563,107.1z"/><path class="st4" d="M561.5,111.2h-57.3c-21.2,0-38.5,17.2-38.5,38.5v75.5c0,21.2,17.2,38.5,38.5,38.5h57.3
                c21.2,0,38.5-17.2,38.5-38.5v-75.5C599.9,128.4,582.7,111.2,561.5,111.2z"/><rect x="528.7" y="45.5" class="st4" width="8.1" height="61.6"/><g><g><path class="st2" d="M541.1,18.4c0,1.5-0.5,2.9-1.5,4c-1,1.1-2.4,1.8-4.2,2.2v0.1c2.1,0.2,3.7,0.9,4.8,1.8c1.1,1,1.6,2.3,1.6,3.9
                    c0,2.4-0.9,4.2-2.8,5.6c-1.8,1.3-4.5,2-7.9,2c-2.9,0-5.4-0.4-7.6-1.3v-4.5c1,0.5,2.1,0.9,3.4,1.2c1.2,0.3,2.4,0.5,3.6,0.5
                    c1.8,0,3.2-0.3,4.1-0.9c0.9-0.6,1.3-1.5,1.3-2.8c0-1.2-0.5-2-1.5-2.5c-1-0.5-2.6-0.7-4.8-0.7h-2v-4h2c2,0,3.5-0.3,4.5-0.8
                    c0.9-0.5,1.4-1.4,1.4-2.6c0-1.9-1.2-2.8-3.7-2.8c-0.9,0-1.7,0.1-2.6,0.4c-0.9,0.3-1.9,0.7-3,1.4l-2.6-3.6
                    c2.4-1.6,5.3-2.4,8.6-2.4c2.7,0,4.9,0.5,6.4,1.6C540.4,15.1,541.1,16.5,541.1,18.4z"/></g></g><g><g><path class="st2" d="M493.2,193c0,1.4-0.4,2.4-1.3,3.2s-2.1,1.1-3.7,1.1h-1.2v4.6h-2.7V189h4.1c1.6,0,2.7,0.3,3.6,1
                    C492.8,190.7,493.2,191.7,493.2,193z M487.1,195h0.9c0.8,0,1.5-0.2,1.9-0.5s0.6-0.8,0.6-1.4c0-0.6-0.2-1.1-0.5-1.4
                    c-0.3-0.3-0.9-0.5-1.6-0.5h-1.2V195z"/><path class="st2" d="M504.4,196.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S504.4,195.9,504.4,196.9z
                     M497.6,196.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C497.7,195.2,497.6,195.9,497.6,196.9z"/><path class="st2" d="M512.1,191.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V192h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C510.9,192,511.4,191.8,512.1,191.8z"/><path class="st2" d="M522.5,202c-1.2,0-2.1-0.4-2.7-1.3s-1-2.1-1-3.7c0-1.6,0.3-2.9,1-3.8s1.6-1.4,2.8-1.4c0.6,0,1.2,0.1,1.6,0.4
                    s0.9,0.6,1.2,1.1h0.1l0.2-1.3h2.3v14.2h-2.7V202c0-0.4,0-0.8,0.1-1.5h-0.1c-0.3,0.5-0.7,0.8-1.1,1.1S523.2,202,522.5,202z
                     M523.5,199.9c0.7,0,1.2-0.2,1.5-0.6c0.3-0.4,0.5-1.1,0.5-2V197c0-1.1-0.2-1.8-0.5-2.3c-0.3-0.5-0.8-0.7-1.6-0.7
                    c-1.3,0-1.9,1-1.9,3c0,1,0.2,1.7,0.5,2.2S522.8,199.9,523.5,199.9z"/><path class="st2" d="M537.8,201.8l-0.4-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1c-0.5,0.2-1.1,0.4-1.8,0.4c-1.2,0-2-0.3-2.6-0.9
                    c-0.6-0.6-0.9-1.5-0.9-2.7V192h2.7v5.7c0,0.7,0.1,1.2,0.4,1.6c0.3,0.4,0.7,0.5,1.2,0.5c0.8,0,1.3-0.3,1.6-0.8
                    c0.3-0.5,0.5-1.3,0.5-2.5V192h2.7v9.8H537.8z"/><path class="st2" d="M548.9,201.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H548.9z M548.1,197.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V197.3z"/><path class="st2" d="M562.6,201.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6s-0.7-0.5-1.2-0.5c-0.8,0-1.3,0.3-1.6,0.8
                    c-0.3,0.5-0.5,1.3-0.5,2.5v4.6h-2.7V192h2l0.4,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.2,1.1-0.4,1.8-0.4c1.1,0,2,0.3,2.6,0.9
                    c0.6,0.6,0.9,1.5,0.9,2.7V201.8z"/><path class="st2" d="M569.5,199.9c0.5,0,1-0.1,1.7-0.3v2c-0.7,0.3-1.5,0.4-2.5,0.4c-1.1,0-1.9-0.3-2.3-0.8s-0.7-1.4-0.7-2.4V194
                    h-1.3v-1.1l1.5-0.9l0.8-2.1h1.7v2.1h2.8v2h-2.8v4.7c0,0.4,0.1,0.7,0.3,0.8S569.1,199.9,569.5,199.9z"/><path class="st2" d="M582.1,196.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S582.1,195.9,582.1,196.9z
                     M575.3,196.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C575.5,195.2,575.3,195.9,575.3,196.9z"/><path class="st2" d="M509,218.9c0.5,0,1-0.1,1.7-0.3v2c-0.7,0.3-1.5,0.4-2.5,0.4c-1.1,0-1.9-0.3-2.3-0.8s-0.7-1.4-0.7-2.4V213
                    h-1.3v-1.1l1.5-0.9l0.8-2.1h1.7v2.1h2.8v2h-2.8v4.7c0,0.4,0.1,0.7,0.3,0.8S508.7,218.9,509,218.9z"/><path class="st2" d="M517.1,221c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C518.6,221,517.9,221,517.1,221z M516.8,212.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C517.8,212.9,517.3,212.7,516.8,212.7z"/><path class="st2" d="M532.1,220.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.2,0.3-1.5,0.8
                    s-0.5,1.3-0.5,2.5v4.6h-2.7V211h2l0.4,1.3h0.1c0.3-0.5,0.6-0.8,1.1-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.4h0.2
                    c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.1,0,2,0.3,2.5,0.9c0.6,0.6,0.9,1.5,0.9,2.7v6.4h-2.7v-5.7
                    c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.1,0.2-1.5,0.7c-0.3,0.5-0.5,1.2-0.5,2.2V220.8z"/><path class="st2" d="M546.4,221c-1.2,0-2.1-0.4-2.7-1.3h-0.1c0.1,0.8,0.1,1.3,0.1,1.4v4H541V211h2.2l0.4,1.3h0.1
                    c0.6-1,1.6-1.5,2.8-1.5c1.2,0,2.1,0.4,2.7,1.3s1,2.1,1,3.7c0,1-0.2,2-0.5,2.7c-0.3,0.8-0.7,1.4-1.3,1.8S547.2,221,546.4,221z
                     M545.6,213c-0.7,0-1.1,0.2-1.5,0.6c-0.3,0.4-0.5,1.1-0.5,2v0.3c0,1.1,0.2,1.8,0.5,2.3s0.8,0.7,1.5,0.7c1.2,0,1.8-1,1.8-3
                    c0-1-0.1-1.7-0.4-2.2C546.7,213.2,546.2,213,545.6,213z"/><path class="st2" d="M561.3,215.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S561.3,214.9,561.3,215.9z
                     M554.5,215.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C554.7,214.2,554.5,214.9,554.5,215.9z"/><path class="st2" d="M507.2,237.9c0.5,0,1-0.1,1.7-0.3v2c-0.7,0.3-1.5,0.4-2.5,0.4c-1.1,0-1.9-0.3-2.3-0.8s-0.7-1.4-0.7-2.4V232
                    h-1.3v-1.1l1.5-0.9l0.8-2.1h1.7v2.1h2.8v2H506v4.7c0,0.4,0.1,0.7,0.3,0.8S506.9,237.9,507.2,237.9z"/><path class="st2" d="M516.4,229.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V230h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C515.2,230,515.8,229.8,516.4,229.8z"/><path class="st2" d="M525.3,239.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H525.3z M524.5,235.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V235.3z"/><path class="st2" d="M534.1,237.9c0.5,0,1-0.1,1.7-0.3v2c-0.7,0.3-1.5,0.4-2.5,0.4c-1.1,0-1.9-0.3-2.3-0.8s-0.7-1.4-0.7-2.4V232
                    h-1.3v-1.1l1.5-0.9l0.8-2.1h1.7v2.1h2.8v2h-2.8v4.7c0,0.4,0.1,0.7,0.3,0.8S533.7,237.9,534.1,237.9z"/><path class="st2" d="M544,239.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H544z M543.2,235.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V235.3z"/><path class="st2" d="M554.1,229.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V230h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C552.9,230,553.5,229.8,554.1,229.8z"/><path class="st2" d="M557.8,235.6v-0.7c0-0.6,0.1-1.1,0.4-1.5s0.7-0.9,1.3-1.3c0.6-0.4,1-0.8,1.2-1.1c0.2-0.3,0.3-0.6,0.3-0.9
                    c0-0.4-0.1-0.7-0.4-0.9s-0.7-0.3-1.2-0.3c-0.9,0-1.9,0.3-3,0.9l-1-1.9c1.3-0.7,2.7-1.1,4.2-1.1c1.2,0,2.2,0.3,2.9,0.9
                    c0.7,0.6,1.1,1.4,1.1,2.3c0,0.6-0.1,1.2-0.4,1.7s-0.8,1-1.7,1.6c-0.6,0.4-0.9,0.7-1.1,0.9c-0.1,0.2-0.2,0.5-0.2,0.9v0.5H557.8z
                     M557.5,238.6c0-0.5,0.1-0.9,0.4-1.1s0.6-0.4,1.2-0.4c0.5,0,0.9,0.1,1.1,0.4s0.4,0.6,0.4,1.1c0,0.5-0.1,0.8-0.4,1.1
                    c-0.3,0.3-0.6,0.4-1.1,0.4c-0.5,0-0.9-0.1-1.1-0.4C557.7,239.4,557.5,239.1,557.5,238.6z"/></g></g><g><g><path class="st2" d="M529.7,158.5c0,1,0,2,0,3c-0.2,0-0.3,0-0.5,0c-5.8,0-11.6,0-17.5,0c-1.3,0-2.3-0.5-3-1.6
                    c-0.3-0.5-0.5-1.2-0.5-1.8c0-9,0-18,0-27c0-2,1.5-3.4,3.4-3.4c0.4,0,0.7,0,1.2,0c0,0.6,0,1.1,0,1.6c0,1.5,1.2,2.9,2.7,3
                    c1.6,0.2,3-0.8,3.4-2.4c0.1-0.3,0.1-0.6,0.1-0.9c0-0.4,0-0.8,0-1.3c6.2,0,12.3,0,18.5,0c0,0.5,0,1,0,1.5c0,1.8,1.3,3.1,3.1,3.1
                    c1.7,0,3-1.4,3.1-3.1c0-0.5,0-1,0-1.4c3-0.5,4.6,1.4,4.6,3.6c0,3.7,0,7.5,0,11.2c0,0.1,0,0.3,0,0.4c-1,0-2,0-3.1,0c0-2,0-4,0-6.1
                    c-11.3,0-22.5,0-33.8,0c0,0.2,0,0.4,0,0.6c0,6.7,0,13.4,0,20.1c0,0.8,0,0.8,0.8,0.8c5.7,0,11.4,0,17.1,0
                    C529.3,158.5,529.5,158.5,529.7,158.5z"/><path class="st2" d="M532.8,158.5c0-6.7,5.5-12.2,12.2-12.3c6.8,0,12.4,5.5,12.4,12.3c0,6.8-5.5,12.3-12.3,12.3
                    C538.3,170.8,532.8,165.3,532.8,158.5z M535.9,158.5c-0.1,5.1,4.1,9.2,9.1,9.3c5.1,0.1,9.3-4.1,9.3-9.2c0.1-5-4.1-9.3-9.2-9.3
                    C540.1,149.2,535.9,153.3,535.9,158.5z"/><path class="st2" d="M520.5,146.2c-2.1,0-4.1,0-6.1,0c0-2,0-4,0-6.1c2,0,4,0,6.1,0C520.5,142.1,520.5,144.2,520.5,146.2z"/><path class="st2" d="M520.5,149.3c0,2,0,4,0,6c-2,0-4.1,0-6.1,0c0-2,0-4,0-6C516.4,149.3,518.4,149.3,520.5,149.3z"/><path class="st2" d="M529.7,140.1c0,2,0,4,0,6.1c-2,0-4,0-6.1,0c0-2,0-4,0-6.1C525.6,140.1,527.6,140.1,529.7,140.1z"/><path class="st2" d="M538.9,146.2c-2,0-4,0-6.1,0c0-2,0-4,0-6.1c2,0,4,0,6.1,0C538.9,142.2,538.9,144.1,538.9,146.2z"/><path class="st2" d="M523.7,149.3c2,0,4,0,6,0c0,2,0,4,0,6c-0.1,0-0.2,0-0.3,0c-1.8,0-3.5,0-5.3,0c-0.3,0-0.5,0-0.5-0.4
                    c0-1.8,0-3.6,0-5.5C523.6,149.5,523.6,149.5,523.7,149.3z"/><path class="st2" d="M517.4,126.3c0,0.9,0,1.9,0,2.8c0,1.1-0.6,1.7-1.5,1.7c-0.9,0-1.5-0.7-1.5-1.7c0-1.9,0-3.9,0-5.8
                    c0-1.2,1.1-2,2.1-1.5c0.7,0.3,0.9,0.9,0.9,1.6C517.4,124.3,517.4,125.3,517.4,126.3z"/><path class="st2" d="M539,126.2c0-1,0-1.9,0-2.9c0-1,0.6-1.7,1.5-1.7c0.9,0,1.5,0.6,1.6,1.6c0,2,0,4,0,6c0,0.9-0.6,1.6-1.5,1.6
                    c-0.9,0-1.6-0.6-1.6-1.6C538.9,128.2,539,127.2,539,126.2z"/><path class="st2" d="M541.3,154.4c0-0.9,0.4-1.5,1.1-1.9c1.3-0.7,2.7,0.3,2.8,1.8c0,1,0,1.9,0,2.9c0,0.3-0.1,0.6-0.1,1
                    c1.4,0,2.7,0,4,0c1.3,0,2.2,1.2,1.9,2.5c-0.3,0.9-0.9,1.4-2,1.4c-1.2,0-7.7,0-7.7,0S541.3,155.6,541.3,154.4z"/></g></g></a><a href="javascript:void(0);" class="target-svg" id="4"><circle class="st0" cx="763.9" cy="25.2" r="25.2"/><circle class="st5" cx="763.9" cy="25.2" r="21.4"/><path class="st0" d="M794.1,107.1h-60.4c-22.4,0-40.5,18.1-40.5,40.5v79.6c0,22.4,18.1,40.5,40.5,40.5h60.4
                c22.4,0,40.5-18.1,40.5-40.5v-79.6C834.6,125.2,816.4,107.1,794.1,107.1z"/><path class="st5" d="M792.5,111.2h-57.3c-21.2,0-38.5,17.2-38.5,38.5v75.5c0,21.2,17.2,38.5,38.5,38.5h57.3
                c21.2,0,38.5-17.2,38.5-38.5v-75.5C831,128.4,813.8,111.2,792.5,111.2z"/><rect x="759.8" y="45.5" class="st5" width="8.1" height="61.6"/><g><g><path class="st2" d="M772.8,32.5h-3.2v5.1h-5.4v-5.1h-11.2v-3.6l11.5-16h5.1v15.6h3.2V32.5z M764.2,28.4v-4.2
                    c0-0.7,0-1.7,0.1-3.1c0.1-1.3,0.1-2.1,0.1-2.3h-0.1c-0.4,0.9-1,1.8-1.6,2.7l-4.8,6.9H764.2z"/></g></g><g><g><path class="st2" d="M719.2,195.4c0,1.5-0.3,2.8-0.8,3.8c-0.5,1-1.3,1.8-2.4,2.2l3.1,3.5h-3.5l-2.4-2.9h-0.2
                    c-2,0-3.5-0.6-4.5-1.7s-1.6-2.8-1.6-4.9s0.5-3.8,1.6-4.9c1.1-1.1,2.6-1.7,4.5-1.7s3.5,0.6,4.5,1.7
                    C718.7,191.6,719.2,193.3,719.2,195.4z M709.8,195.4c0,1.4,0.3,2.5,0.8,3.2s1.4,1.1,2.4,1.1c2.2,0,3.3-1.4,3.3-4.3
                    c0-2.9-1.1-4.3-3.2-4.3c-1.1,0-1.9,0.4-2.5,1.1C710.1,192.9,709.8,194,709.8,195.4z"/><path class="st2" d="M728.6,201.8l-0.4-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1c-0.5,0.2-1.1,0.4-1.8,0.4c-1.2,0-2-0.3-2.6-0.9
                    c-0.6-0.6-0.9-1.5-0.9-2.7V192h2.7v5.7c0,0.7,0.1,1.2,0.4,1.6c0.3,0.4,0.7,0.5,1.2,0.5c0.8,0,1.3-0.3,1.6-0.8
                    c0.3-0.5,0.5-1.3,0.5-2.5V192h2.7v9.8H728.6z"/><path class="st2" d="M739.7,201.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H739.7z M738.9,197.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V197.3z"/><path class="st2" d="M753.4,201.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6s-0.7-0.5-1.2-0.5c-0.8,0-1.3,0.3-1.6,0.8
                    c-0.3,0.5-0.5,1.3-0.5,2.5v4.6h-2.7V192h2l0.4,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.2,1.1-0.4,1.8-0.4c1.1,0,2,0.3,2.6,0.9
                    c0.6,0.6,0.9,1.5,0.9,2.7V201.8z"/><path class="st2" d="M759.3,202c-1.2,0-2.1-0.4-2.7-1.3c-0.7-0.9-1-2.1-1-3.7c0-1.6,0.3-2.9,1-3.8c0.7-0.9,1.6-1.3,2.8-1.3
                    c1.2,0,2.2,0.5,2.8,1.4h0.1c-0.1-0.7-0.2-1.4-0.2-2v-3.1h2.7v13.7h-2.1l-0.5-1.3h-0.1C761.5,201.5,760.5,202,759.3,202z
                     M760.2,199.9c0.7,0,1.2-0.2,1.5-0.6s0.5-1.1,0.5-2V197c0-1.1-0.2-1.8-0.5-2.3c-0.3-0.5-0.9-0.7-1.6-0.7c-0.6,0-1.1,0.3-1.4,0.8
                    c-0.3,0.5-0.5,1.2-0.5,2.2s0.2,1.7,0.5,2.2C759.1,199.6,759.6,199.9,760.2,199.9z"/><path class="st2" d="M776.5,196.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S776.5,195.9,776.5,196.9z
                     M769.7,196.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C769.9,195.2,769.7,195.9,769.7,196.9z"/><path class="st2" d="M790.3,201.8l-0.4-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1c-0.5,0.2-1.1,0.4-1.8,0.4c-1.2,0-2-0.3-2.6-0.9
                    c-0.6-0.6-0.9-1.5-0.9-2.7V192h2.7v5.7c0,0.7,0.1,1.2,0.4,1.6c0.3,0.4,0.7,0.5,1.2,0.5c0.8,0,1.3-0.3,1.6-0.8
                    c0.3-0.5,0.5-1.3,0.5-2.5V192h2.7v9.8H790.3z"/><path class="st2" d="M802.1,198.9c0,1-0.4,1.8-1.1,2.3s-1.7,0.8-3.1,0.8c-0.7,0-1.3,0-1.8-0.1c-0.5-0.1-1-0.2-1.4-0.4v-2.2
                    c0.5,0.2,1.1,0.4,1.7,0.6c0.6,0.2,1.2,0.2,1.6,0.2c1,0,1.5-0.3,1.5-0.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.4-0.3-0.7-0.4
                    c-0.3-0.2-0.7-0.4-1.3-0.6c-0.8-0.3-1.3-0.6-1.7-0.9c-0.4-0.3-0.6-0.6-0.8-0.9c-0.2-0.3-0.2-0.8-0.2-1.3c0-0.9,0.3-1.5,1-2
                    c0.7-0.5,1.6-0.7,2.9-0.7c1.2,0,2.3,0.3,3.5,0.8l-0.8,1.9c-0.5-0.2-1-0.4-1.4-0.5s-0.9-0.2-1.3-0.2c-0.8,0-1.2,0.2-1.2,0.6
                    c0,0.2,0.1,0.4,0.4,0.6c0.3,0.2,0.8,0.4,1.7,0.8c0.8,0.3,1.3,0.6,1.7,0.9s0.6,0.6,0.8,0.9S802.1,198.4,802.1,198.9z"/><path class="st2" d="M810.4,201.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H810.4z M809.6,197.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V197.3z"/><path class="st2" d="M820.5,191.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5H815V192h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C819.3,192,819.9,191.8,820.5,191.8z"/><path class="st2" d="M744.8,215.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S744.8,214.9,744.8,215.9z
                     M738,215.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2
                    s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7C738.2,214.2,738,214.9,738,215.9z"/><path class="st2" d="M754,220.8l-0.4-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1c-0.5,0.2-1.1,0.4-1.8,0.4c-1.2,0-2-0.3-2.6-0.9
                    c-0.6-0.6-0.9-1.5-0.9-2.7V211h2.7v5.7c0,0.7,0.1,1.2,0.4,1.6c0.3,0.4,0.7,0.5,1.2,0.5c0.8,0,1.3-0.3,1.6-0.8
                    c0.3-0.5,0.5-1.3,0.5-2.5V211h2.7v9.8H754z"/><path class="st2" d="M763,218.9c0.5,0,1-0.1,1.7-0.3v2c-0.7,0.3-1.5,0.4-2.5,0.4c-1.1,0-1.9-0.3-2.3-0.8s-0.7-1.4-0.7-2.4V213
                    h-1.3v-1.1l1.5-0.9l0.8-2.1h1.7v2.1h2.8v2h-2.8v4.7c0,0.4,0.1,0.7,0.3,0.8S762.6,218.9,763,218.9z"/><path class="st2" d="M772.1,210.8c0.4,0,0.7,0,0.9,0.1l-0.2,2.5c-0.2-0.1-0.5-0.1-0.8-0.1c-0.9,0-1.5,0.2-2,0.7s-0.7,1.1-0.7,1.8
                    v5h-2.7V211h2l0.4,1.7h0.1c0.3-0.6,0.7-1,1.2-1.3C771,211,771.5,210.8,772.1,210.8z"/><path class="st2" d="M781.1,220.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H781.1z M780.3,216.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V216.3z"/><path class="st2" d="M792.6,217.9c0,1-0.4,1.8-1.1,2.3s-1.7,0.8-3.1,0.8c-0.7,0-1.3,0-1.8-0.1c-0.5-0.1-1-0.2-1.4-0.4v-2.2
                    c0.5,0.2,1.1,0.4,1.7,0.6c0.6,0.2,1.2,0.2,1.6,0.2c1,0,1.5-0.3,1.5-0.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.4-0.3-0.7-0.4
                    c-0.3-0.2-0.7-0.4-1.3-0.6c-0.8-0.3-1.3-0.6-1.7-0.9c-0.4-0.3-0.6-0.6-0.8-0.9c-0.2-0.3-0.2-0.8-0.2-1.3c0-0.9,0.3-1.5,1-2
                    c0.7-0.5,1.6-0.7,2.9-0.7c1.2,0,2.3,0.3,3.5,0.8l-0.8,1.9c-0.5-0.2-1-0.4-1.4-0.5s-0.9-0.2-1.3-0.2c-0.8,0-1.2,0.2-1.2,0.6
                    c0,0.2,0.1,0.4,0.4,0.6c0.3,0.2,0.8,0.4,1.7,0.8c0.8,0.3,1.3,0.6,1.7,0.9s0.6,0.6,0.8,0.9S792.6,217.4,792.6,217.9z"/><path class="st2" d="M717.1,239.8h-2.7v-5.7c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.2,0.3-1.5,0.8
                    s-0.5,1.3-0.5,2.5v4.6h-2.7V230h2l0.4,1.3h0.1c0.3-0.5,0.6-0.8,1.1-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.4h0.2
                    c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.7-0.4c1.1,0,2,0.3,2.5,0.9c0.6,0.6,0.9,1.5,0.9,2.7v6.4h-2.7v-5.7
                    c0-0.7-0.1-1.2-0.4-1.6c-0.2-0.4-0.6-0.5-1.1-0.5c-0.7,0-1.1,0.2-1.5,0.7c-0.3,0.5-0.5,1.2-0.5,2.2V239.8z"/><path class="st2" d="M730.4,240c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C731.9,240,731.2,240,730.4,240z M730.1,231.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C731.1,231.9,730.6,231.7,730.1,231.7z"/><path class="st2" d="M739.7,240c-1.2,0-2.1-0.4-2.7-1.3c-0.7-0.9-1-2.1-1-3.7c0-1.6,0.3-2.9,1-3.8c0.7-0.9,1.6-1.3,2.8-1.3
                    c1.2,0,2.2,0.5,2.8,1.4h0.1c-0.1-0.7-0.2-1.4-0.2-2v-3.1h2.7v13.7h-2.1l-0.5-1.3h-0.1C741.9,239.5,741,240,739.7,240z
                     M740.7,237.9c0.7,0,1.2-0.2,1.5-0.6s0.5-1.1,0.5-2V235c0-1.1-0.2-1.8-0.5-2.3c-0.3-0.5-0.9-0.7-1.6-0.7c-0.6,0-1.1,0.3-1.4,0.8
                    c-0.3,0.5-0.5,1.2-0.5,2.2s0.2,1.7,0.5,2.2C739.6,237.6,740.1,237.9,740.7,237.9z"/><path class="st2" d="M747.9,227.5c0-0.9,0.5-1.3,1.5-1.3s1.5,0.4,1.5,1.3c0,0.4-0.1,0.7-0.4,1c-0.2,0.2-0.6,0.3-1.1,0.3
                    C748.4,228.8,747.9,228.4,747.9,227.5z M750.7,239.8H748V230h2.7V239.8z"/><path class="st2" d="M757.5,240c-3.1,0-4.6-1.7-4.6-5c0-1.7,0.4-2.9,1.2-3.8s2-1.3,3.6-1.3c1.1,0,2.2,0.2,3.1,0.7l-0.8,2.1
                    c-0.4-0.2-0.8-0.3-1.2-0.4s-0.7-0.2-1.1-0.2c-1.4,0-2.1,1-2.1,3c0,1.9,0.7,2.9,2.1,2.9c0.5,0,1-0.1,1.4-0.2s0.9-0.4,1.3-0.6v2.3
                    c-0.4,0.3-0.9,0.5-1.3,0.6S758.2,240,757.5,240z"/><path class="st2" d="M769,239.8l-0.5-1.3h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.9,0.3c-0.9,0-1.7-0.3-2.2-0.8
                    s-0.8-1.3-0.8-2.3c0-1,0.4-1.8,1.1-2.3c0.7-0.5,1.8-0.8,3.3-0.8l1.7-0.1v-0.4c0-1-0.5-1.5-1.5-1.5c-0.8,0-1.7,0.2-2.8,0.7
                    l-0.9-1.8c1.1-0.6,2.4-0.9,3.8-0.9c1.3,0,2.3,0.3,3,0.9s1.1,1.4,1.1,2.6v6.5H769z M768.2,235.3l-1,0c-0.8,0-1.4,0.2-1.7,0.4
                    s-0.6,0.7-0.6,1.2c0,0.8,0.4,1.1,1.3,1.1c0.6,0,1.1-0.2,1.5-0.5s0.6-0.8,0.6-1.4V235.3z"/><path class="st2" d="M777.6,240c-3.1,0-4.6-1.7-4.6-5c0-1.7,0.4-2.9,1.2-3.8s2-1.3,3.6-1.3c1.1,0,2.2,0.2,3.1,0.7l-0.8,2.1
                    c-0.4-0.2-0.8-0.3-1.2-0.4s-0.7-0.2-1.1-0.2c-1.4,0-2.1,1-2.1,3c0,1.9,0.7,2.9,2.1,2.9c0.5,0,1-0.1,1.4-0.2s0.9-0.4,1.3-0.6v2.3
                    c-0.4,0.3-0.9,0.5-1.3,0.6S778.3,240,777.6,240z M779.3,242c0,0.8-0.2,1.3-0.7,1.6c-0.4,0.3-1.1,0.5-2.1,0.5
                    c-0.5,0-0.9-0.1-1.3-0.2v-1.5c0.2,0,0.4,0.1,0.6,0.1s0.5,0.1,0.6,0.1c0.4,0,0.6-0.2,0.6-0.5c0-0.5-0.5-0.8-1.5-0.9l0.7-1.4h1.7
                    l-0.2,0.5c0.4,0.1,0.8,0.4,1,0.7C779.2,241.3,779.3,241.7,779.3,242z"/><path class="st2" d="M791.8,234.9c0,1.6-0.4,2.9-1.3,3.8s-2,1.4-3.5,1.4c-0.9,0-1.8-0.2-2.5-0.6c-0.7-0.4-1.3-1-1.7-1.8
                    s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.9,1.3-3.7s2-1.3,3.5-1.3c0.9,0,1.8,0.2,2.5,0.6s1.3,1,1.7,1.8S791.8,233.9,791.8,234.9z
                     M785.6,228c-0.2,0-0.4,0.1-0.5,0.2c-0.2,0.2-0.3,0.4-0.4,0.7h-1.3c0.1-0.8,0.3-1.5,0.7-2c0.4-0.5,1-0.7,1.7-0.7
                    c0.2,0,0.5,0,0.7,0.1c0.2,0.1,0.5,0.2,0.7,0.3c0.2,0.1,0.4,0.2,0.7,0.3s0.4,0.1,0.6,0.1c0.2,0,0.4-0.1,0.5-0.2
                    c0.2-0.2,0.3-0.4,0.4-0.7h1.3c-0.1,0.8-0.3,1.5-0.7,2s-1,0.7-1.7,0.7c-0.2,0-0.5,0-0.7-0.1c-0.2-0.1-0.5-0.2-0.7-0.3
                    c-0.2-0.1-0.4-0.2-0.7-0.3C786,228.1,785.8,228,785.6,228z M785,234.9c0,1,0.2,1.7,0.5,2.2c0.3,0.5,0.8,0.7,1.6,0.7
                    c0.7,0,1.2-0.2,1.5-0.7c0.3-0.5,0.5-1.2,0.5-2.2c0-1-0.2-1.7-0.5-2.2s-0.8-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.5,0.7
                    C785.2,233.2,785,233.9,785,234.9z"/><path class="st2" d="M798.5,240c-1.6,0-2.8-0.4-3.7-1.3s-1.3-2.1-1.3-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.4-1.3
                    c1.4,0,2.5,0.4,3.2,1.2s1.2,1.9,1.2,3.3v1.3h-6.3c0,0.8,0.3,1.4,0.7,1.8s1,0.6,1.8,0.6c0.6,0,1.2-0.1,1.7-0.2s1.1-0.3,1.7-0.6
                    v2.1c-0.5,0.2-1,0.4-1.5,0.5C799.9,240,799.3,240,798.5,240z M798.1,231.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.8
                    c0-0.7-0.2-1.2-0.5-1.5C799.1,231.9,798.7,231.7,798.1,231.7z"/><path class="st2" d="M811.5,236.9c0,1-0.4,1.8-1.1,2.3s-1.7,0.8-3.1,0.8c-0.7,0-1.3,0-1.8-0.1c-0.5-0.1-1-0.2-1.4-0.4v-2.2
                    c0.5,0.2,1.1,0.4,1.7,0.6c0.6,0.2,1.2,0.2,1.6,0.2c1,0,1.5-0.3,1.5-0.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.4-0.3-0.7-0.4
                    c-0.3-0.2-0.7-0.4-1.3-0.6c-0.8-0.3-1.3-0.6-1.7-0.9c-0.4-0.3-0.6-0.6-0.8-0.9c-0.2-0.3-0.2-0.8-0.2-1.3c0-0.9,0.3-1.5,1-2
                    c0.7-0.5,1.6-0.7,2.9-0.7c1.2,0,2.3,0.3,3.5,0.8l-0.8,1.9c-0.5-0.2-1-0.4-1.4-0.5s-0.9-0.2-1.3-0.2c-0.8,0-1.2,0.2-1.2,0.6
                    c0,0.2,0.1,0.4,0.4,0.6c0.3,0.2,0.8,0.4,1.7,0.8c0.8,0.3,1.3,0.6,1.7,0.9s0.6,0.6,0.8,0.9S811.5,236.4,811.5,236.9z"/><path class="st2" d="M814.6,235.6v-0.7c0-0.6,0.1-1.1,0.4-1.5s0.7-0.9,1.3-1.3c0.6-0.4,1-0.8,1.2-1.1c0.2-0.3,0.3-0.6,0.3-0.9
                    c0-0.4-0.1-0.7-0.4-0.9s-0.7-0.3-1.2-0.3c-0.9,0-1.9,0.3-3,0.9l-1-1.9c1.3-0.7,2.7-1.1,4.2-1.1c1.2,0,2.2,0.3,2.9,0.9
                    c0.7,0.6,1.1,1.4,1.1,2.3c0,0.6-0.1,1.2-0.4,1.7s-0.8,1-1.7,1.6c-0.6,0.4-0.9,0.7-1.1,0.9c-0.1,0.2-0.2,0.5-0.2,0.9v0.5H814.6z
                     M814.4,238.6c0-0.5,0.1-0.9,0.4-1.1s0.6-0.4,1.2-0.4c0.5,0,0.9,0.1,1.1,0.4s0.4,0.6,0.4,1.1c0,0.5-0.1,0.8-0.4,1.1
                    c-0.3,0.3-0.6,0.4-1.1,0.4c-0.5,0-0.9-0.1-1.1-0.4C814.5,239.4,814.4,239.1,814.4,238.6z"/></g></g><g><path class="st2" d="M754.4,159.8c-9.4-2.1-15.9-11-14.8-20.7c1-9.2,8.2-16.4,17.2-17.2c9.4-0.9,18.2,5.3,20.5,14.8
                  c0.1,0,0.2-0.1,0.4-0.1c4.7-1.6,9.6,1.2,10.5,6.1c0.5,2.7-0.2,5.1-2,7.2c-0.1,0.1-0.2,0.2-0.2,0.2c-6.1,6.1-12.1,12.1-18.2,18.2
                  c-2.4,2.4-5.8,3.1-8.8,1.8c-3.8-1.6-5.8-5.8-4.7-9.8C754.3,160.1,754.3,160,754.4,159.8z M743.5,141.1c0,7.5,5.5,13.9,12.9,15
                  c0.4,0.1,0.7,0,1-0.3c5-5,10-10.1,15-15c1-1,1.2-1.9,0.9-3.2c-1.8-7.5-9.2-12.6-16.8-11.5C749,127.1,743.5,133.5,743.5,141.1z
                   M766.7,152c-2.6,2.6-5.2,5.2-7.8,7.8c-1.1,1.2-1.3,2.6-0.8,4.1c1,2.8,4.5,3.5,6.6,1.4c2.5-2.5,5-5,7.5-7.5
                  c0.1-0.1,0.1-0.1,0.1-0.2C770.5,155.8,768.6,153.9,766.7,152z M769.8,148.9c1.9,1.9,3.8,3.8,5.7,5.7c1.3-1.3,2.7-2.7,4.1-4.1
                  c1.2-1.2,2.4-2.4,3.6-3.6c1.2-1.3,1.5-3.2,0.7-4.7c-0.8-1.5-2.6-2.3-4.3-2c-0.8,0.1-1.4,0.4-2,1
                  C774.9,143.8,772.3,146.4,769.8,148.9z"/><path class="st2" d="M760.6,138.9c1.1,0,2.2,0,3.2,0c0.9,0,1.7,0.6,2,1.5c0.3,0.8,0,1.7-0.7,2.2c-0.4,0.3-0.9,0.5-1.4,0.5
                  c-1.7,0.1-3.4,0-5.1,0c-1.3,0-2.2-0.9-2.2-2.2c0-2.7,0-5.4,0-8.1c0-0.5,0-0.9,0-1.4c0-1.3,0.9-2.2,2.1-2.2c1.2,0,2.1,0.9,2.1,2.2
                  c0,2.3,0,4.7,0,7C760.6,138.5,760.6,138.7,760.6,138.9z"/></g></a></g></svg></div></div><div class="col-md-12"><br><br><div class="box-cor-tema texto-conteudo"><div><p>Tanto a fluoxetina como os tricíclicos podem ser usados como primeira escolha na maioria dos episódios depressivos. Por ter um mecanismo de ação mais seletivo e menos efeitos colaterais, a fluoxetina geralmente é preferida. Os tricíclicos tem grande relação com arritmias cardíacas, hipotensão, sedação, boca seca, constipação e retenção urinária.</p></div><div><p>O ideal é começar o antidepressivo em sua dose terapêutica mínima. Em caso de história de intolerância gastrointestinal, tentar doses menores por três a sete dias, em seguida aumentando-se até a dose-alvo. Uma reavaliação em duas semanas se faz necessária para observar os efeitos colaterais e a adesão ao tratamento.</p><p>A resposta à medicação costuma iniciar em 2 semanas e chegar ao auge em 4 semanas (6 semanas, nos idosos). O objetivo sempre é a remissão, ou seja, a ausência de sintomas depressivos. Se houver redução dos sintomas depressivos, mas sem remissão nesse período, indica-se o aumento da dose da medicação. A ausência de resposta após 4 a 6 semanas de tratamento sugere que um novo antidepressivo deve ser tentado. No entanto, antes de considerar a falta de resposta, deve-se investigar se o diagnóstico está correto, bem como a adesão ao tratamento.</p></div><div><p>Em linhas gerais, o tempo de tratamento com antidepressivo deve ser equivalente a 6 a 12 meses para um primeiro episódio depressivo; 2 ou 3 anos para um segundo episódio; 5 anos para um terceiro; e por toda a vida para um quarto episódio ou superior. No entanto, na prática, a presença de fatores de mau prognóstico implica em um aumento do tempo de tratamento, principalmente idade avançada, história de internação, tentativa de suicídio, sintomas psicóticos ou comorbidades clínicas relacionadas ao episódio depressivo.</p></div><div><p>Se insônia importante e/ou ansiedade associado ao quadro, pode-se associar um benzodiazepínico, preferencialmente em doses mais baixas. Em caso de alucinações ou delírios, é recomendável prescrever antipsicóticos. Nesse caso, devido à gravidade, o paciente deve ser encaminhado para avaliação por um psiquiatra.</p></div></div></div><br></div></div><br></div></div><paginas previous="unid_2/topico_2/1" next="unid_2/topico_3/1" pag="2" total="2"></paginas><modal target="mtc-atividade" titulo="Atividade"><div ng-include src="'views/curso/atividade.html'"></div></modal><modal target="mtc-apoio" titulo="Material de Apoio"><div ng-include src="'views/curso/apoio.html'"></div></modal>