<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Para discutir a implantação de ações nos territórios da estratégia saúde da família, é importante destacar algumas considerações.</p>
      <p>As gestões municipais precisam expandir as ações de saúde mental na Estratégia Saúde da Família, criando diretrizes para orientar os profissionais na efetiva integração da área da saúde mental com o restante da saúde geral, ofertando ações ampliadas de tratamento, criando instrumentos de avaliação de risco e vulnerabilidade dos usuários; promovendo condições técnicas e políticas, que estimulem a implantação dessas ações, priorizando a contratação de profissionais capacitados para realizar o matriciamento em saúde mental; e articulando políticas intersetoriais no território, utilizando o contexto comunitário para lidar com os determinantes sociais do sofrimento psíquico dos usuários.</p>
      <p>É necessário contratar profissionais para qualificar e fortalecer o apoio matricial e melhorar a integração da rede de saúde. É preciso estimular a divulgação dos trabalhos da rede de atenção psicossocial, por meio de capacitações para usuários e profissionais do município, dando visibilidade a estes trabalhos. As gestões municipais precisam incentivar a capacitação dos profissionais da atenção primária para o uso racional de psicotrópicos, estimulando a prevenção quaternária, criando ainda um programa de educação permanente, que vise estimular formas não farmacológicas de tratamento. </p>
      <p>Também é essencial incentivar a inserção na atenção primária dos programas de formação, especialmente as residências médicas e multiprofissionais, reforçando a ideia do papel ativo do usuário no tratamento, estimulando a negociação e sua participação nas decisões a serem tomadas. Isto implica formar profissionais que conheçam a realidade de nossos municípios e que ajam como apoiadores de seus pacientes, e não como detentores do conhecimento e de decisões que serão impostas aos usuários (ONOCKO-CAMPOS, 2012).</p>
      <p class="box-cor-tema">
        Destaca-se que para promover a organização da assistência em saúde mental nas UAPS, é preciso implantar avaliações de risco e dispositivos de intervenção oportunos, o que ainda poderia ajudar a melhorar a adesão aos tratamentos. O apoio matricial mostra-se capaz de promover a integração da equipe de saúde mental à equipe de saúde da família, auxiliando também na articulação da rede de serviços de saúde quando adequadamente expandida e implantada. Para tanto, Tavares (2016) julga interessante propor um projeto de intervenção como forma de promover saúde mental, prevenir transtornos mentais e facilitar o acesso de usuários em sofrimento psíquico aos serviços de saúde.
      </p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_5/topico_2/2"
  next="unid_6/topico_1/2"
  pag="1" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>