<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="box-cor-tema">12. Criar a função de gerente do cuidado para gerenciamento do projeto.</p>
      <p class="box-cor-tema">
        Alguns centros, como o AIMS Center, em Washington, utilizam a figura do “Care Manager” ou “gerente de cuidado”, que coordena o esforço global do grupo e garante uma comunicação eficaz entre os membros da equipe. Gestores de cuidados são tipicamente enfermeiros, psicólogos, assistentes sociais entre outros profissionais, mas a capacidade de executar as tarefas que precisam ser concluídas e criar um plano sob medida para quem vai fazer cada uma dessas tarefas é muito mais importante do que as credenciais de cada um.
      </p>
      <p>O gerente de cuidado é um profissional de saúde comportamental, que executa todas as tarefas de gerenciamento de cuidados incluindo a oferta de psicoterapia, quando isso faz parte do plano de tratamento. Um gerente de cuidados em tempo integral normalmente supervisiona 100-150 pacientes, dependendo de como o programa está estruturado. Gestores de cuidados eficazes são capazes de apoiar o psiquiatra-consultor (matriciador) em seu papel através da coordenação do projeto terapêutico, proporcionando melhor acompanhamento da resposta ao tratamento, alertando o psiquiatra quando o paciente não está melhorando, apoiando à gestão de medicamentos, e facilitando a comunicação com o psiquiatra em relação a mudanças de tratamento. Eles também oferecem aconselhamento breve, utilizando técnicas baseadas em evidências, como entrevista motivacional, ativação comportamental, tratamento e resolução de problemas, e ajudam a facilitar mudanças no tratamento caso os pacientes não estejam melhorando conforme o esperado.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/9"
  next="unid_6/topico_1/11"
  pag="10" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>