<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>A estratégia de intervenção tem como alvo a rede de poder e o jogo de interesses que se fazem presentes no campo da investigação, colocando em análise os efeitos das práticas no cotidiano institucional, desconstruindo territórios e facultando a criação das novas práticas (ROCHA, 2003).</p>
      <p>Os procedimentos da intervenção estão estruturados a seguir, detalhando-se as ações a serem realizadas:</p>
      <p class="box-cor-tema">1. Cadastro e busca-ativa dos usuários através de instrumento próprio e capacitação dos agentes comunitários de saúde para aplicação.</p>
      <p>Sugere-se criar, em parceria com os profissionais dos CAPS e as equipes de matriciamento em saúde mental, um instrumento para que os agentes comunitários de saúde possam identificar e cadastrar os usuários de psicotrópicos de suas áreas, que necessitem e desejem ser acompanhados pela equipe de Saúde da Família. Para facilitar a busca-ativa pelos ACS sugere-se priorizar o cadastro dos usuários de psicotrópicos. Esta estratégia foi pensada pela facilidade de identificação na comunidade daqueles que fazem uso de medicação controlada. Entretanto quaisquer usuários, que desejem, poderão ser cadastrados.</p>
      <p>Além de identificar o paciente através de dados sociodemográficos, como nome, endereço, idade, escolaridade, ocupação, informações sobre a habitação e a família, rede de apoio, entre outros, este instrumento poderá ser útil para avaliar a gravidade e complexidade do caso.</p>
      <p class="box-cor-tema">2. Capacitação dos gestores, das Equipes de Saúde da Família, NASF e RAPS.</p>
      <p>Deverão, inicialmente, ser sensibilizados os gestores através da apresentação deste projeto e de rodas de conversa sobre o tema. Com o apoio da gestão municipal, poderão ser realizadas reuniões com a equipe matricial e os demais profissionais do município.</p>
      <p>Os profissionais das Equipes de Saúde da Família receberão aprimoramento específico para o atendimento sob a forma de consulta conjunta através do apoio matricial de médicos psiquiatras, psicólogos, terapeutas ocupacionais, assistentes sociais, entre outros profissionais do NASF e dos serviços de saúde mental, ou por meio de outras estratégias definidas pelas equipes e seus apoiadores.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/1"
  next="unid_6/topico_1/3"
  pag="2" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>