<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="box-cor-tema">3. Realização de avaliação dos cadastros levantados em cada equipe de Saúde da Família, realizando o diagnóstico em saúde mental da comunidade estudada.</p>
      <p>Uma vez levantada uma quantidade mínima de cadastros terá início a avaliação desta fase do projeto. A avaliação será realizada pela equipe de Saúde da Família, com o apoio da equipe matricial. Esta avaliação tem como objetivo nortear a organização do atendimento, baseado nos princípios do sistema único de saúde, principalmente os da universalidade e equidade.</p>
      <p>Com base nas informações dos cadastros, será definido a que grupo o paciente pertence (pessoa com transtornos mentais severos e persistentes, de transtornos mentais comuns, transtornos neurológicos, sofrimento psíquico, uso problemático de álcool ou outras substâncias, dependente de benzodiazepínicos, egresso de internações psiquiátricas, entre outros) e o grau de gravidade do problema, observando-se o uso de medicação psicotrópica e a rede social de apoio de que o mesmo dispõe. A partir de uma classificação de risco e vulnerabilidade, será possível definir a cronologia e os tipos de atendimento a que esse usuário poderá ser submetido: atendimento individual e/ou em grupo com médico e/ou enfermeiro da equipe de Saúde da Família, visita domiciliar com abordagem familiar, interconsulta com a equipe matricial ou referência para serviço secundário ou terciário.</p>
      <p>A avaliação dos cadastros será útil também para o levantamento do perfil de saúde mental da comunidade estudada, identificando os principais problemas para melhor abordá-los através de atividades comunitárias, sessões educativas, entre outros..</p>
      <p class="box-cor-tema">4. Reorganização dos processos de trabalho das equipes de saúde da família.</p>
      <p>Após territorialização e diagnóstico de saúde da comunidade, a equipe de Saúde da Família deve implantar o acolhimento e um cronograma que responda à demanda espontânea e organizada, baseado no acesso avançado.</p>
      <p>O atendimento poderá ocorrer de forma individual ou coletiva (grupos), a depender da necessidade dos pacientes ou a critério da equipe. O agendamento será realizado através dos agentes comunitários de saúde, ou por demanda espontânea, fortalecendo o vínculo dos ACS e do serviço com estes indivíduos.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/2"
  next="unid_6/topico_1/4"
  pag="3" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>