<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="box-cor-tema">5. Realização de visitas domiciliares com abordagem familiar para casos selecionados, ampliando o vínculo com as famílias, tomando-as como parceiras no tratamento e construindo redes de apoio e integração.</p>
      <p>A família do paciente pode funcionar como recurso terapêutico, ou como fator agravante do quadro. Desta forma, alguns pacientes deverão receber visita domiciliar com abordagem familiar através da utilização de instrumentos como o genograma e o “PRACTICE” (P- Problema apresentado; R-Papéis desempenhados pelos integrantes da família; A–Afeto; C-Comunicação; T–Tempo no Ciclo de Vida; I-Doenças na família no passado e presente; C–Enfrentando o estresse; E-Ecologia/ambiente). Estes instrumentos ajudarão a identificar o papel protetor e/ou agressor desta família, direcionando o trabalho a ser realizado com estes indivíduos.</p>
      <p class="box-cor-tema">6. Utilizar o apoio matricial e a interconsulta em saúde mental para casos selecionados, contando com matriciadores lotados preferencialmente em equipes NASF.</p>
      <p>De acordo com a necessidade, a equipe matricial poderá se fazer presente através de diversas maneiras. É importante negociar com a gestão municipal, que os matriciadores sejam contratados para este fim, sejam eles lotados em NASF, CAPS ou serviços ambulatoriais. Percebe-se que a vinculação ao NASF facilita todo o processo de integração entre os serviços, sendo esta modalidade preferencial.</p>
      <p>Sobre o modo de funcionamento do matriamento Fortes, (2008) sugere:</p>
      <div ng-controller="accordionController">
        <accordion close-others="oneAtATime">
          <accordion-group  class="green2">
            <p>Uma Equipe de Matriciamento (EM) poderia ser composta de um psiquiatra e um psicólogo, sendo que cada EM seria responsável por oito unidades da ESF. </p>
            <accordion-heading is-open="status.open">
              <div class="text-center">
                Equipe de Matriciamento (EM) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
              </div>
            </accordion-heading>
          </accordion-group>
          <accordion-group  class="green2">
            <p>A EM ficaria alocada em uma unidade secundária (Centro de Saúde, Policlínica, CAPS, etc.).</p>
            <accordion-heading is-open="status.open">
              <div class="text-center">
                Locação da unidade <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
              </div>
            </accordion-heading>
          </accordion-group>
          <accordion-group  class="green2">
            <p>Cada um desses profissionais seria contratado em regime de 20h, com quatro turnos de 5h, assim distribuídos. </p>
            <accordion-heading is-open="status.open">
              <div class="text-center">
                Contratação de profissionais <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
              </div>
            </accordion-heading>
          </accordion-group>
          <accordion-group  class="green2">
            <p>Dois turnos para realização de uma visita mensal a cada unidade do ESF, em que poderiam ser realizadas as seguintes atividades: supervisão dos grupos e discussão de casos em interconsulta; grupo operativo com a equipe; a consulta conjunta, na qual o paciente seria visto ao mesmo tempo pela equipe de saúde da família e os matriciadores; a visita domiciliar em conjunto; o desenvolvimento de atividades comunitárias.</p>
            <accordion-heading is-open="status.open">
              <div class="text-center">
                Divisão de atividades <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
              </div>
            </accordion-heading>
          </accordion-group>
          <accordion-group  class="green2">
            <p>Um turno para atendimento direto ambulatorial nas unidades secundárias de casos mais complexos, que fossem encaminhados pelo médico da ESF (p.ex. pacientes com risco moderado a grave de suicídio, transtornos psicóticos agudos, pacientes que não melhoram apesar do tratamento adequado etc.).</p>
            <accordion-heading is-open="status.open">
              <div class="text-center">
                Atendimento direto ambulatorial <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
              </div>
            </accordion-heading>
          </accordion-group>
          <accordion-group  class="green2">
            <p>Um turno que seria livre e com horário variável para: capacitação teórica da própria EM e das equipes da ESF; reuniões administrativas; atividades comunitárias, incluindo artísticas e culturais; supervisão para a EM.</p>
            <accordion-heading is-open="status.open">
              <div class="text-center">
                Turno livre com horário variável <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
              </div>
            </accordion-heading>
          </accordion-group>
        </accordion>       
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/3"
  next="unid_6/topico_1/5"
  pag="4" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>