<style>
.target {
  cursor: pointer;
}
</style>
<script>
$(function() {

  $('.box-conteudo div:not(:first)').hide();

  var conteudo = $('.box-conteudo div');

  $('.target').click(function(e) {
    var data = Number($(this).attr('data'));

    conteudo.hide();
    $(conteudo[data]).show();


  });
})
</script>
<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Os interconsultores atuarão auxiliando e supervisionando a equipe de saúde da família para detecção precoce e abordagem adequada de pessoas em sofrimento psíquico; "cuidando de quem cuida", através da realização de grupos de reflexão, pois na medida em que as equipes de saúde sintam-se menos angustiadas, podem melhor desempenhar seus papéis de vínculos de apoio, ampliando as ações intersetoriais e aumentando a rede de suporte para as pessoas da comunidade (VASCONCELOS, 2001).</p>
      <p>As principais atividades desenvolvidas pela equipe matricial serão:</p>
      <p class="text-center"><small><b>(Clique em cada número para visualizar)</b></small></p>
      <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- <img src="assets/images/unidade_6/resource.svg" class="img-responsive"> -->
          <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 369.94 77.66"><defs><style>.cls-1{fill:#b6b5b5;}.cls-2{fill:#3f4e97;}.cls-3,.cls-5{fill:#324891;}.cls-16,.cls-4,.cls-6{fill:#fff;}.cls-12,.cls-15,.cls-17,.cls-5,.cls-9{stroke:#fff;stroke-miterlimit:10;}.cls-12,.cls-15,.cls-5,.cls-9{stroke-width:1.5px;}.cls-6{font-size:17.02px;font-family:OpenSans-Bold, Open Sans;font-weight:700;letter-spacing:-0.03em;}.cls-7,.cls-9{fill:#1a8d9b;}.cls-8{fill:#279da6;}.cls-10,.cls-12{fill:#cc686d;}.cls-11{fill:#d0787e;}.cls-13{fill:#68a871;}.cls-14,.cls-15{fill:#419752;}.cls-16,.cls-17{fill-rule:evenodd;}.cls-17{fill:none;stroke-width:0.5px;}</style></defs><title>pagina5</title>
            <rect class="cls-1" y="39.05" width="369.94" height="2.06" rx="1.03" ry="1.03"/>
            <a href="javascript:;" class="target" data="0">
              <path class="cls-2" d="M82.06,41A31.63,31.63,0,0,1,50.64,72.59V9.35A31.62,31.62,0,0,1,82.06,41Z"/><path class="cls-3" d="M18.81,41A31.62,31.62,0,0,1,50.44,9.35h.2V72.59h-.2A31.63,31.63,0,0,1,18.81,41Z"/><path class="cls-2" d="M16.52,41A34.39,34.39,0,0,0,36.78,72,33.93,33.93,0,0,0,81.49,27.31a34.28,34.28,0,0,0-29-20.14,2.8,2.8,0,1,1,.34-2.36c22.33,1.84,38.78,23.5,32.65,45.81C79.21,73.2,52.35,84.15,32.12,72.3A36.85,36.85,0,0,1,14.15,41,1.19,1.19,0,0,1,16.52,41Z"/><path class="cls-4" d="M50.44,11.49A29.48,29.48,0,1,1,21,41,29.51,29.51,0,0,1,50.44,11.49Zm0,56.47a27,27,0,1,0-27-27A27,27,0,0,0,50.44,68Z"/>
              <circle class="cls-5" cx="21.22" cy="13.58" r="12.83"/><text class="cls-6" transform="translate(12.15 19.42)">01</text><path class="cls-4" d="M51.07,45.22a8.08,8.08,0,0,1-4.54-1.47,38.39,38.39,0,0,1-3.08-2.48A.76.76,0,0,1,43.39,40,17.59,17.59,0,0,1,48,36.65a6.48,6.48,0,0,1,5.88.08,18.42,18.42,0,0,1,4.52,3.33.73.73,0,0,1,.05,1.08,12.72,12.72,0,0,1-6.32,3.92A9.07,9.07,0,0,1,51.07,45.22Zm-3.64-4.66a3.49,3.49,0,1,0,3.51-3.39A3.38,3.38,0,0,0,47.43,40.56Z"/><path class="cls-4" d="M36.62,34.73a4.27,4.27,0,0,1-6.86,0c.58-.19,1.15-.36,1.71-.57s.58-.38.34-.87-.37-.74-.52-1.12-.31-.62,0-.93c0,0,0-.14,0-.21a2,2,0,0,1,1.23-2,2,2,0,0,1,2.08.38A1.58,1.58,0,0,1,35.24,31a4.46,4.46,0,0,1,0,1.1,8.56,8.56,0,0,1-.65,1.28c-.24.46-.14.69.36.87.29.11.58.2.87.29S36.34,34.65,36.62,34.73Z"/>
              <path class="cls-4" d="M65.4,49.2c.59-.2,1.16-.37,1.71-.58s.57-.38.35-.83a6.7,6.7,0,0,1-.53-1.16,3,3,0,0,1,0-.89,2.26,2.26,0,0,0,0-.26,2,2,0,0,1,3.31-1.59,1.43,1.43,0,0,1,.62,1.46,4.86,4.86,0,0,1,0,1.15,7.71,7.71,0,0,1-.65,1.28c-.23.43-.13.68.34.85.28.11.57.21.86.3l.86.25C70.88,51.48,66.84,51.48,65.4,49.2Z"/><path class="cls-4" d="M72.26,34.75c-1.47,2.28-5.51,2.28-6.84,0,.57-.19,1.15-.37,1.72-.58s.55-.38.32-.84-.38-.76-.54-1.16-.26-.59,0-.89c.06-.06,0-.23,0-.35A2,2,0,0,1,69.51,29c.95.39,1.53.82,1.37,1.92a7.8,7.8,0,0,1,0,1.19,7.76,7.76,0,0,1-.65,1.24c-.22.42-.12.67.35.84S71.67,34.56,72.26,34.75Z"/><path class="cls-4" d="M47.55,61.89c.61-.2,1.17-.38,1.73-.58s.6-.38.35-.86-.37-.74-.51-1.12-.3-.62,0-.93c.06-.06,0-.23,0-.35a1.89,1.89,0,0,1,1-1.74,1.94,1.94,0,0,1,2.92,1.84c-.08.37,0,.79-.06,1.15a7.06,7.06,0,0,1-.63,1.18c-.22.41-.12.67.32.83s1.15.37,1.79.58a4.38,4.38,0,0,1-6.93,0Z"/><path class="cls-4" d="M47.55,23.77c.66-.22,1.23-.41,1.8-.62s.51-.38.32-.78a12.12,12.12,0,0,1-.55-1.15c-.11-.3-.3-.62,0-.94,0,0,0-.17,0-.25a2,2,0,0,1,1.25-2,2.07,2.07,0,0,1,2,.38,1.5,1.5,0,0,1,.63,1.6,4.48,4.48,0,0,1,0,1.1,9.07,9.07,0,0,1-.65,1.23c-.22.42-.12.69.36.85s1.11.36,1.74.56a4.12,4.12,0,0,1-3.18,1.71A4.23,4.23,0,0,1,47.55,23.77Z"/><path class="cls-4" d="M36.64,49.21a4.1,4.1,0,0,1-3.33,1.7,4.18,4.18,0,0,1-3.59-1.7c.61-.2,1.18-.38,1.74-.59s.59-.37.34-.86a10.18,10.18,0,0,1-.51-1.12c-.11-.3-.32-.6,0-.93.09-.09,0-.32,0-.49a2,2,0,0,1,2.82-1.69,1.66,1.66,0,0,1,1.1,2,8.08,8.08,0,0,1-.15,1.31,4,4,0,0,1-.51.89c-.24.46-.15.7.36.88S36,49,36.64,49.21Z"/>
              <path class="cls-4" d="M40.43,35.39c0,.13.27.37.44.38s.2-.06.32-.16a.3.3,0,0,0,0-.49c-.13-.1-.24-.18-.34-.17A.61.61,0,0,0,40.43,35.39Z"/><path class="cls-4" d="M42.83,36.5a.55.55,0,0,0,.39.38.57.57,0,0,0,.41-.37.47.47,0,0,0-.14-.27.35.35,0,0,0-.53,0C42.88,36.35,42.82,36.43,42.83,36.5Z"/><path class="cls-4" d="M41.65,35.94a.57.57,0,0,0,.4.38c.08,0,.17,0,.28-.13a.31.31,0,0,0,0-.5.42.42,0,0,0-.28-.12A.54.54,0,0,0,41.65,35.94Z"/><path class="cls-4" d="M44.43,36.7a.45.45,0,0,0-.26.17.29.29,0,0,0,0,.4.47.47,0,0,0,.24.19.44.44,0,0,0,.28-.12.31.31,0,0,0,0-.49C44.6,36.75,44.51,36.69,44.43,36.7Z"/><path class="cls-4" d="M39.43,34.59a.29.29,0,0,0,0,.4.31.31,0,0,0,.52.07.31.31,0,0,0,0-.5c-.11-.09-.19-.15-.27-.14A.41.41,0,0,0,39.43,34.59Z"/>
              <path class="cls-4" d="M38.09,34.21c0,.13.22.37.37.39s.17,0,.28-.1a.31.31,0,0,0,0-.5c-.11-.09-.19-.15-.27-.15A.56.56,0,0,0,38.09,34.21Z"/><path class="cls-4" d="M51,52.14a.61.61,0,0,0,.47-.35c0-.14-.18-.33-.29-.5l-.21,0c-.13.15-.38.31-.37.45A.59.59,0,0,0,51,52.14Z"/><path class="cls-4" d="M50.77,54.08a.29.29,0,0,0,0,.39.41.41,0,0,0,.26.17c.08,0,.17,0,.29-.14a.3.3,0,0,0,0-.47c-.12-.09-.21-.15-.29-.14A.46.46,0,0,0,50.77,54.08Z"/><path class="cls-4" d="M51,49.62c.08,0,.17,0,.29-.14a.29.29,0,0,0,0-.47c-.12-.09-.21-.16-.3-.15s-.17.1-.25.19a.29.29,0,0,0,0,.39A.48.48,0,0,0,51,49.62Z"/><path class="cls-4" d="M50.76,50.32a.29.29,0,0,0,0,.38c.09.09.17.17.26.17s.17,0,.28-.14a.29.29,0,0,0,0-.47c-.13-.09-.22-.15-.3-.14S50.84,50.22,50.76,50.32Z"/><path class="cls-4" d="M50.81,48.23a.33.33,0,0,0,.41,0c.1-.07.19-.15.2-.23s0-.17-.13-.28a.33.33,0,0,0-.5,0c-.1.11-.17.19-.16.27A.46.46,0,0,0,50.81,48.23Z"/><path class="cls-4" d="M50.77,52.82a.29.29,0,0,0,0,.39.51.51,0,0,0,.26.18c.09,0,.18,0,.3-.15a.3.3,0,0,0,0-.47c-.12-.08-.21-.14-.29-.13A.46.46,0,0,0,50.77,52.82Z"/><path class="cls-4" d="M40.42,46.13a.5.5,0,0,0,.21.27.36.36,0,0,0,.43,0c.12-.09.22-.17.23-.27s-.07-.19-.18-.31a.36.36,0,0,0-.52,0C40.49,45.94,40.41,46,40.42,46.13Z"/><path class="cls-4" d="M42.84,45a.55.55,0,0,0,.41.35.42.42,0,0,0,.26-.14.3.3,0,0,0,0-.5.43.43,0,0,0-.27-.11C43.05,44.65,42.83,44.89,42.84,45Z"/><path class="cls-4" d="M38.09,47.28c0,.08.09.15.17.22a.38.38,0,0,0,.46,0,.46.46,0,0,0,.16-.23c0-.08-.05-.16-.14-.25a.36.36,0,0,0-.54,0C38.12,47.13,38.07,47.21,38.09,47.28Z"/><path class="cls-4" d="M44.69,44.19a.36.36,0,0,0-.54,0c-.09.1-.15.18-.15.25s.09.16.17.24a.38.38,0,0,0,.46,0c.08-.07.16-.14.17-.22S44.76,44.29,44.69,44.19Z"/><path class="cls-4" d="M41.65,45.55a.58.58,0,0,0,.38.38.43.43,0,0,0,.27-.1.32.32,0,0,0,0-.51.54.54,0,0,0-.27-.14A.57.57,0,0,0,41.65,45.55Z"/><path class="cls-4" d="M39.26,46.72a.43.43,0,0,0,.19.22.35.35,0,0,0,.44,0,.4.4,0,0,0,.17-.23c0-.07-.05-.15-.14-.24a.35.35,0,0,0-.53,0A.37.37,0,0,0,39.26,46.72Z"/>
              <path class="cls-4" d="M61.38,35.08a.33.33,0,0,0-.4,0c-.11.1-.22.19-.23.3s.09.19.22.32a.32.32,0,0,0,.47,0c.12-.13.2-.24.19-.33S61.5,35.17,61.38,35.08Z"/><path class="cls-4" d="M58.42,36.5a.59.59,0,0,0,.4.38.57.57,0,0,0,.4-.37.47.47,0,0,0-.16-.29.34.34,0,0,0-.49,0C58.48,36.33,58.41,36.42,58.42,36.5Z"/><path class="cls-4" d="M59.76,35.75a.29.29,0,0,0,0,.38c.08.09.16.18.26.19s.18,0,.3-.14a.29.29,0,0,0,0-.46.54.54,0,0,0-.29-.15A.48.48,0,0,0,59.76,35.75Z"/><path class="cls-4" d="M57.25,37.08c0,.12.25.35.4.36s.18,0,.29-.14a.28.28,0,0,0,0-.46.56.56,0,0,0-.3-.15A.59.59,0,0,0,57.25,37.08Z"/><path class="cls-4" d="M63.77,34a.32.32,0,0,0-.4,0c-.1.08-.19.15-.2.24s0,.17.14.29a.32.32,0,0,0,.48,0c.11-.11.18-.2.17-.28A.43.43,0,0,0,63.77,34Z"/><path class="cls-4" d="M62.59,34.56a.33.33,0,0,0-.41,0c-.09.08-.18.16-.19.24s0,.17.14.28a.33.33,0,0,0,.49,0c.1-.12.17-.2.16-.28A.43.43,0,0,0,62.59,34.56Z"/><path class="cls-4" d="M60.91,45.92a.29.29,0,0,0,0,.39.57.57,0,0,0,.31.24c.09,0,.2-.07.34-.19a.3.3,0,0,0,0-.46.52.52,0,0,0-.34-.17C61.1,45.73,61,45.82,60.91,45.92Z"/><path class="cls-4" d="M63.57,46.9c-.16,0-.41.24-.4.37a.52.52,0,0,0,.39.38.49.49,0,0,0,.3-.14.29.29,0,0,0,0-.47C63.75,47,63.66,46.89,63.57,46.9Z"/><path class="cls-4" d="M58.56,44.81a.3.3,0,0,0,0,.39c.09.09.17.17.26.17s.18,0,.29-.15a.29.29,0,0,0,0-.47.53.53,0,0,0-.3-.13C58.72,44.63,58.64,44.72,58.56,44.81Z"/><path class="cls-4" d="M59.76,45.35a.29.29,0,0,0,0,.39c.08.1.15.18.25.19s.17,0,.29-.12a.29.29,0,0,0,0-.47c-.11-.1-.2-.17-.28-.16A.51.51,0,0,0,59.76,45.35Z"/><path class="cls-4" d="M57.25,44.43a.55.55,0,0,0,.4.38.5.5,0,0,0,.29-.16.29.29,0,0,0,0-.47c-.12-.08-.21-.14-.29-.13S57.24,44.3,57.25,44.43Z"/><path class="cls-4" d="M62,46.71a.39.39,0,0,0,.19.24.33.33,0,0,0,.42,0c.09-.08.18-.16.19-.25s-.07-.17-.17-.28a.34.34,0,0,0-.5,0C62,46.55,62,46.64,62,46.71Z"/>
              <path class="cls-4" d="M51,31.38a.59.59,0,0,0,.45-.37.46.46,0,0,0-.15-.31.37.37,0,0,0-.55,0,.5.5,0,0,0-.17.29A.57.57,0,0,0,51,31.38Z"/><path class="cls-4" d="M51,27.6c.07,0,.15,0,.25-.12a.32.32,0,0,0,0-.53.39.39,0,0,0-.25-.1.39.39,0,0,0-.23.16.32.32,0,0,0,0,.44A.46.46,0,0,0,51,27.6Z"/><path class="cls-4" d="M50.63,32.23a.51.51,0,0,0,.37.39.54.54,0,0,0,.42-.35c0-.07,0-.15-.1-.24a.36.36,0,0,0-.56,0C50.68,32.08,50.62,32.16,50.63,32.23Z"/><path class="cls-4" d="M50.81,28.25a.34.34,0,0,0,0,.45.46.46,0,0,0,.22.16.39.39,0,0,0,.25-.1.32.32,0,0,0,0-.53.46.46,0,0,0-.25-.13A.39.39,0,0,0,50.81,28.25Z"/><path class="cls-4" d="M50.8,33.27a.33.33,0,0,0,0,.45.38.38,0,0,0,.22.15.42.42,0,0,0,.25-.09.33.33,0,0,0,0-.54c-.1-.08-.18-.13-.25-.12A.46.46,0,0,0,50.8,33.27Z"/><path class="cls-4" d="M50.8,29.52a.32.32,0,0,0,0,.45.38.38,0,0,0,.23.14c.07,0,.15,0,.25-.11a.32.32,0,0,0,0-.53.48.48,0,0,0-.25-.11A.46.46,0,0,0,50.8,29.52Z"/><path class="cls-4" d="M50.88,38.79a1.79,1.79,0,0,1,1.94,1.7,1.84,1.84,0,0,1-1.91,1.83,1.76,1.76,0,0,1-1.85-1.81,1.55,1.55,0,0,0,1.46-.35A1.3,1.3,0,0,0,50.88,38.79Z"/>
            </a>
            <a href="javascript:;" class="target" data="1">
              <path class="cls-7" d="M168.45,40.42A31.62,31.62,0,0,0,136.83,8.8V72A31.62,31.62,0,0,0,168.45,40.42Z"/><path class="cls-8" d="M105.21,40.42A31.61,31.61,0,0,0,136.83,72V8.8A31.62,31.62,0,0,0,105.21,40.42Z"/><path class="cls-4" d="M136.83,10.94a29.49,29.49,0,1,1-29.48,29.48A29.51,29.51,0,0,1,136.83,10.94Zm0,56.47a27,27,0,1,0-27-27A27,27,0,0,0,136.83,67.41Z"/><path class="cls-8" d="M102.23,53.43c9.46,25,41.71,31.37,60.74,13.13,1.11-1.06-.57-2.73-1.68-1.68-18.12,17.37-49,10.84-57.22-13.34C96.79,30,112.29,8.09,134.11,6a2.74,2.74,0,0,0,2.4,1.42,2.77,2.77,0,1,0-2.57-3.78C110.2,5.91,93.46,30.24,102.23,53.43Z"/><circle class="cls-9" cx="165.97" cy="13.68" r="12.83"/><text class="cls-6" transform="translate(156.9 19.52)">02</text><path class="cls-4" d="M149.84,26.57c3-.05,4.69,1.58,4.86,4.62a4.33,4.33,0,0,0,0,.89,1.45,1.45,0,0,0,.47.73,1.45,1.45,0,0,1,.66,1.25,3,3,0,0,1-1.26,2.41,2,2,0,0,0-.58.64,4.46,4.46,0,0,1-4,2.71A4.54,4.54,0,0,1,146,37.27a3.21,3.21,0,0,0-.74-.82A2.84,2.84,0,0,1,144,33.82a1.54,1.54,0,0,1,.63-1,.8.8,0,0,0,.42-.76,13.36,13.36,0,0,1,.14-1.79C145.67,27.84,147.2,26.61,149.84,26.57Zm-4,6.78-.17-.09c-.28.25-.69.46-.79.77a1.68,1.68,0,0,0,.92,1.76c.51.15.64.51.81.88a3.62,3.62,0,0,0,6.81-.09,1.33,1.33,0,0,1,.73-.8A1.74,1.74,0,0,0,155,34c-.12-.32-.53-.52-.81-.77-.16,0-.19-.17-.19-.32a3,3,0,0,0-2.43-3,6.18,6.18,0,0,0-1.7-.29A4.79,4.79,0,0,0,146.49,31C145.8,31.59,145.91,32.51,145.8,33.35Z"/><path class="cls-4" d="M149.72,34c-.2,1-.37,1.1-1.39,1.11-.43,0-.86,0-1.28,0a.88.88,0,0,1-.93-.93,3.92,3.92,0,0,1,0-.84.81.81,0,0,1,.86-.78c.53,0,1.07,0,1.6,0a1,1,0,0,1,1,.56c.21.41.41.4.71,0a1.6,1.6,0,0,1,.91-.53,8.64,8.64,0,0,1,1.61,0,.83.83,0,0,1,.9.87q0,.42,0,.84a.82.82,0,0,1-.86.85q-.87,0-1.74,0a.88.88,0,0,1-.92-.8c0-.16-.19-.29-.3-.43Zm2.29-.9a4.34,4.34,0,0,1-.51,0c-.56-.07-.75.17-.74.73s.14.76.69.71a5.13,5.13,0,0,1,1,0c.52,0,.77-.09.78-.7s-.24-.8-.79-.74A2.54,2.54,0,0,1,152,33.13Zm-4.16,1.43h.83c.41,0,.42-.31.38-.59s.21-.77-.34-.81a13,13,0,0,0-1.65,0,.47.47,0,0,0-.33.23c-.29.72,0,1.18.79,1.18Z"/><path class="cls-4" d="M124.08,26.57c.58.06,1.16.09,1.73.2,2.19.43,3.36,1.9,3.56,4.4a1.72,1.72,0,0,0,.53,1.35,1.81,1.81,0,0,1,.34,1.41,3,3,0,0,1-1.4,2.18,2.1,2.1,0,0,0-.58.78,4.54,4.54,0,0,1-5.32,2.45A5.16,5.16,0,0,1,120,36.91a4.07,4.07,0,0,0-.85-1A3.06,3.06,0,0,1,118,33.2c0-.19.08-.47.21-.55.64-.39.58-1,.67-1.64C119.31,27.87,120.82,26.61,124.08,26.57Zm.48,12.14a5.5,5.5,0,0,0,1.66-.76,12.07,12.07,0,0,0,1.57-2c.13-.17.23-.41.4-.47a1.83,1.83,0,0,0,1.2-1.56,1.19,1.19,0,0,0-.32-1c-.37-.24-.76-.07-.94.42,0,.13-.25.2-.39.29-.09-.14-.24-.26-.26-.41a4.78,4.78,0,0,1-.08-1.07,1.42,1.42,0,0,0-1-1.48,6.3,6.3,0,0,0-4.58,0,1.45,1.45,0,0,0-1,1.54,3.61,3.61,0,0,1,0,.93,1.63,1.63,0,0,1-.33.52,2.93,2.93,0,0,0-.42-.37c-.23-.15-.52-.42-.71-.37a.88.88,0,0,0-.48.65,1.76,1.76,0,0,0,1,1.75,1.52,1.52,0,0,1,.77.81A4.23,4.23,0,0,0,124.56,38.71Z"/><path class="cls-4" d="M126.64,36.82a1.94,1.94,0,0,1-2.51-.65,2,2,0,0,1-2.49.69c0-1,.82-1.66,2.18-1.78A2.42,2.42,0,0,1,126.64,36.82Z"/><path class="cls-4" d="M130.58,46.48h-4.22c.58-2,1.14-4,1.72-6a12.32,12.32,0,0,1,3.15,2.09c0-.41-.09-.82-.15-1.24-1.11-.71-2.25-1.4-3.44-2.15-.71,2.46-1.41,4.86-2.1,7.26a6.65,6.65,0,0,1-.32-1.45c-.06-.49-.12-1-.22-1.46a1.76,1.76,0,0,1,.28-1.69c.69-.84.31-1.51-.79-1.58a6.27,6.27,0,0,0-1.06,0c-.69.07-.92.39-.71,1a4.28,4.28,0,0,0,.48.86c.07.13.23.26.21.37-.17,1.28-.37,2.55-.58,4-.74-2.56-1.43-5-2.15-7.42-1,.59-1.89,1.14-2.79,1.66a5.42,5.42,0,0,0-3.09,5.54c.09.95,0,1,1,1h13.75C129.87,47,130.22,46.76,130.58,46.48Zm-14.92,0a4.09,4.09,0,0,1,1.51-4.2c1-.7,2-1.31,3-2,.61,2.11,1.19,4.11,1.79,6.21Z"/><path class="cls-4" d="M131.07,37.71a17.48,17.48,0,0,1,.46-2.89,8.27,8.27,0,0,1,1.32-2.28c.28-.37.52-.62.4-1.12a1,1,0,0,1,.28-.72,5.46,5.46,0,0,1,8.11-.05,1,1,0,0,1,.31.71,1.9,1.9,0,0,0,.46,1.46,9.58,9.58,0,0,1,1.48,7.25c-.17,1-.35,2-.49,3-.06.44-.21.74-.69.73a8.19,8.19,0,0,0-3.73,1,3.76,3.76,0,0,1-3.8-.43,2.47,2.47,0,0,0-1.77-.49,4.17,4.17,0,0,1-.61,0,1,1,0,0,1-1-1C131.58,41.11,131.3,39.37,131.07,37.71Zm4.05-2.16c-.69.6-1.34,1.15-2,1.73a.83.83,0,0,0-.25.56,8.58,8.58,0,0,0,1.38,4.48,3.74,3.74,0,0,0,4.81,1.49,5.12,5.12,0,0,0,2.79-4,1.61,1.61,0,0,0-.45-1.3,12.68,12.68,0,0,0-2-1.19l-.14.19.46,1.33Zm-.92-1.9H141c.08-.64.19-1.32.25-2a.92.92,0,0,0-.2-.6,4.77,4.77,0,0,0-6.87,0,.77.77,0,0,0-.23.52C134,32.27,134.13,33,134.2,33.65Z"/><path class="cls-4" d="M133.65,44.78l2.54,9.42c-.3,0-.51.06-.72.06-2.54,0-5.07,0-7.6,0-.71,0-1-.22-.91-.94A7.27,7.27,0,0,1,129.47,48C130.76,46.89,132.16,45.91,133.65,44.78Z"/><path class="cls-4" d="M139.11,54.25l2.53-9.32a22.21,22.21,0,0,1,4.91,3.9,7.06,7.06,0,0,1,1.68,4.73c0,.24-.32.66-.5.66C144.9,54.26,142.06,54.25,139.11,54.25Z"/><path class="cls-4" d="M136.41,32v-.8l.73-.07.07-.72H138l.12.71.7.08V32l-.72.11-.09.7-.75.06-.15-.77Z"/><path class="cls-4" d="M156.81,41.7c-1-.65-2-1.23-3-1.88a.75.75,0,0,0-1,0,4.43,4.43,0,0,1-5.5.09,1.94,1.94,0,0,0-.43-.27.68.68,0,0,0-.5,0c-.72.44-1.44.87-2.15,1.32a2.07,2.07,0,0,0,0,.22c-.11.65-.23,1.33-.32,2s-.53,1.16-1.18,1.15a4.62,4.62,0,0,0-1,.08l.21.14.8.54a27.39,27.39,0,0,1,3.07,2.27h12.33c.32,0,.69,0,.73-.43C159,44.84,158.71,43,156.81,41.7Zm-1.5,3.14-1,.08-.08,1h-1.14l-.07-1-1-.09V43.68l1,0,.1-1h1.14c0,.33,0,.62.06,1l1,.06Z"/>
            </a>
            <a href="javascript:;" class="target" data="2">
              <path class="cls-10" d="M201.39,37.6A31.62,31.62,0,0,0,233,69.22V6A31.63,31.63,0,0,0,201.39,37.6Z"/><path class="cls-11" d="M264.64,37.6A31.62,31.62,0,0,0,233,6V69.22A31.62,31.62,0,0,0,264.64,37.6Z"/><path class="cls-4" d="M233,67.08A29.49,29.49,0,1,1,262.5,37.6,29.52,29.52,0,0,1,233,67.08Zm0-56.47a27,27,0,1,0,27,27A27,27,0,0,0,233,10.61Z"/><path class="cls-11" d="M267.62,24.59c-9.47-25-41.72-31.37-60.75-13.13-1.1,1.06.58,2.73,1.68,1.68C226.67-4.23,257.6,2.3,265.78,26.48c7.28,21.53-8.23,43.45-30,45.55a2.77,2.77,0,1,0,.17,2.36C259.64,72.11,276.38,47.78,267.62,24.59Z"/><circle class="cls-12" cx="203.3" cy="64.07" r="12.83"/><text class="cls-6" transform="translate(193.18 70.14)">03</text><path class="cls-4" d="M253.39,39.79a1.29,1.29,0,0,1-1,.82,1.1,1.1,0,0,1-.93-.29l-3.13-3.12-3.76-3.76-3.77-3.77L237.11,26l-.11-.09-6.85,6.88L228.59,31c.09-.09.21-.23.35-.36l7-7c.76-.76,1.32-.76,2.08,0L243,28.58a1.74,1.74,0,0,0,.18.16c0-.16,0-.28,0-.39,0-.78,0-1.56,0-2.34a1.07,1.07,0,0,1,.68-1,1.09,1.09,0,0,1,1.16.16,1.16,1.16,0,0,1,.41,1c0,1.49,0,3,0,4.46a.9.9,0,0,0,.31.73q3.6,3.59,7.19,7.2a4.55,4.55,0,0,1,.48.65Z"/><path class="cls-4" d="M228.61,49.68a3.37,3.37,0,0,0,1.4-2.47c0-.94-.13-1.89-.2-2.86.39-.18.86-.37,1.3-.61a2.88,2.88,0,0,0,1.67-2.5,6,6,0,0,0-.77-3.12,6.32,6.32,0,0,0-1.66-2c-.18-.14-.18-.26-.15-.47.09-.55.11-1.11.18-1.66a.76.76,0,0,1,.18-.45c1.11-1.14,2.24-2.26,3.37-3.39.75-.75,1.49-1.5,2.26-2.23a1,1,0,0,1,1.52,0c.72.66,1.39,1.36,2.08,2.05l3.75,3.75,3.76,3.76c.75.75,1.49,1.52,2.26,2.25a1.76,1.76,0,0,1,.61,1.34c0,2.07,0,4.15,0,6.21a2.59,2.59,0,0,1-2.36,2.39c-.87.06-1.75,0-2.63,0h-3.38a2.76,2.76,0,0,1-2.95-3V42.82a2.08,2.08,0,0,0-1.24-2,1.72,1.72,0,0,0-2,.63,2.19,2.19,0,0,0-.43,1.46c0,1.3,0,2.6,0,3.91a2.69,2.69,0,0,1-1.4,2.53,3.25,3.25,0,0,1-1.36.37c-1.18,0-2.36,0-3.55,0Z"/><path class="cls-4" d="M227.76,36.57a4.63,4.63,0,0,1,3,2.81,6.71,6.71,0,0,1,.36,1.77,1.24,1.24,0,0,1-.71,1.13,5.35,5.35,0,0,1-1.95.69.39.39,0,0,1-.28-.18,8.79,8.79,0,0,0-2-2.45c-.53-.42-1.11-.78-1.68-1.16a1.69,1.69,0,0,0-.33-.17c.21-.37.44-.7.6-1a4.61,4.61,0,0,0-.31-4.67.31.31,0,0,1,0-.45,2.46,2.46,0,0,1,3.49-.11,2.41,2.41,0,0,1-.13,3.58,1.23,1.23,0,0,1-.25.14Z"/><path class="cls-4" d="M223.88,39.74c-.36-.19-.75-.31-1.14-.47a4,4,0,0,0,.63-6.18A4,4,0,0,0,217.8,33a3.76,3.76,0,0,0-1.23,2.42,4,4,0,0,0,1.79,3.84c-.38.15-.72.26-1,.41a7.73,7.73,0,0,0-4.46,5.42c-.08.34-.15.68-.22,1v1.1a3.38,3.38,0,0,0,2.18,2,14.56,14.56,0,0,0,4.41.9,18.66,18.66,0,0,0,4.09-.16,9.74,9.74,0,0,0,3.79-1.17,2.16,2.16,0,0,0,1.3-1.92A7.7,7.7,0,0,0,223.88,39.74Zm.77,4.1a.1.1,0,0,1-.1.1h-.69a.1.1,0,0,0-.1.11v.68a.1.1,0,0,1-.1.1h-.39a.1.1,0,0,1-.11-.1v-.68a.1.1,0,0,0-.1-.11h-.68a.1.1,0,0,1-.11-.1v-.39a.11.11,0,0,1,.11-.1h.68a.09.09,0,0,0,.1-.1v-.69a.11.11,0,0,1,.11-.1h.39a.11.11,0,0,1,.1.1v.69a.09.09,0,0,0,.1.1h.69a.11.11,0,0,1,.1.1Z"/>
            </a>
            <a href="javascript:;" class="target" data="3">

              <path class="cls-13" d="M287.45,37.55A31.63,31.63,0,0,1,318.87,5.93V69.17A31.62,31.62,0,0,1,287.45,37.55Z"/><path class="cls-14" d="M350.7,37.55a31.62,31.62,0,0,1-31.63,31.62h-.2V5.93h.2A31.63,31.63,0,0,1,350.7,37.55Z"/><path class="cls-13" d="M353,37.55a33.92,33.92,0,1,0-65,13.66,34.28,34.28,0,0,0,29.06,20.14,2.79,2.79,0,1,1-.35,2.36c-22.33-1.84-38.78-23.5-32.65-45.8C290.3,5.32,317.16-5.63,337.39,6.22a36.85,36.85,0,0,1,18,31.33A1.19,1.19,0,0,1,353,37.55Z"/><path class="cls-4" d="M319.07,67a29.49,29.49,0,1,1,29.49-29.49A29.52,29.52,0,0,1,319.07,67Zm0-56.48a27,27,0,1,0,27,27A27,27,0,0,0,319.07,10.56Z"/><circle class="cls-15" cx="348.71" cy="63.67" r="12.83"/><text class="cls-6" transform="translate(339.37 69.47)">04</text><path class="cls-4" d="M316.06,21.34a4.68,4.68,0,0,0-.64.75,5.3,5.3,0,0,0-.92,3,5.49,5.49,0,0,0,.15,1.26.91.91,0,1,0,1.78-.42,3.93,3.93,0,0,1-.09-.84,3.49,3.49,0,0,1,.59-2,2.66,2.66,0,0,1,.47-.53A3.19,3.19,0,0,1,316.06,21.34Z"/><path class="cls-4" d="M322.09,22.09a4.22,4.22,0,0,0-.64-.75,3.19,3.19,0,0,1-1.34,1.26,2.71,2.71,0,0,1,.48.53,3.48,3.48,0,0,1,.58,2,3.93,3.93,0,0,1-.09.84.91.91,0,1,0,1.78.42,5.49,5.49,0,0,0,.15-1.26A5.3,5.3,0,0,0,322.09,22.09Z"/><path class="cls-16" d="M318.76,22.3a2.49,2.49,0,1,0-2.5-2.49A2.5,2.5,0,0,0,318.76,22.3Z"/><path class="cls-4" d="M315.72,19.07a.92.92,0,0,1-1.15.58.93.93,0,0,1-.59-1.16,5.47,5.47,0,0,1,1.83-2.61,4.81,4.81,0,0,1,2.95-1,4.88,4.88,0,0,1,2.92.95,5.42,5.42,0,0,1,1.83,2.57.92.92,0,0,1-1.74.59,3.49,3.49,0,0,0-1.19-1.69,3.06,3.06,0,0,0-1.82-.58,2.94,2.94,0,0,0-1.84.6A3.48,3.48,0,0,0,315.72,19.07Z"/><path class="cls-4" d="M330,28.58a3.22,3.22,0,0,1,.7.14,3,3,0,0,1,.42-1.78,4.62,4.62,0,0,0-1-.19,5.36,5.36,0,0,0-3.06.71,5.57,5.57,0,0,0-1,.75.92.92,0,0,0,0,1.3.91.91,0,0,0,1.29,0,4.1,4.1,0,0,1,.68-.5A3.42,3.42,0,0,1,330,28.58Z"/><path class="cls-4" d="M332.08,31.07a2.57,2.57,0,0,1-.22.68,3.58,3.58,0,0,1-2.18,1.82.92.92,0,1,0,.53,1.76,6.06,6.06,0,0,0,1.16-.5,5.31,5.31,0,0,0,2.14-2.3,4.48,4.48,0,0,0,.33-.93A3.16,3.16,0,0,1,332.08,31.07Z"/><path class="cls-16" d="M336,27.26a2.49,2.49,0,1,1-3.4-.91A2.49,2.49,0,0,1,336,27.26Z"/><path class="cls-4" d="M333,25.5a.91.91,0,1,1-.38-1.79,5.38,5.38,0,0,1,3.18.28,4.77,4.77,0,0,1,2.31,2.06,4.85,4.85,0,0,1,.64,3,5.37,5.37,0,0,1-1.31,2.87.92.92,0,0,1-1.29.09.93.93,0,0,1-.09-1.3,3.56,3.56,0,0,0,.86-1.88,2.92,2.92,0,0,0-.4-1.87A3,3,0,0,0,335,25.68,3.5,3.5,0,0,0,333,25.5Z"/><path class="cls-4" d="M329.68,40.82a3.84,3.84,0,0,1,.78.34,3.51,3.51,0,0,1,1.4,1.49,2.87,2.87,0,0,1,.23.68,3.14,3.14,0,0,1,1.75-.54,4.88,4.88,0,0,0-.32-.93,5.53,5.53,0,0,0-3.31-2.8.92.92,0,0,0-.53,1.76Z"/><path class="cls-4" d="M330.73,45.67a2.64,2.64,0,0,1-.7.15,3.48,3.48,0,0,1-2-.48,3.6,3.6,0,0,1-.68-.5.92.92,0,1,0-1.26,1.34,5.63,5.63,0,0,0,1,.76,5.37,5.37,0,0,0,3.06.7,4.49,4.49,0,0,0,1-.18A3.11,3.11,0,0,1,330.73,45.67Z"/><path class="cls-16" d="M336,47.14a2.49,2.49,0,1,1-.91-3.41A2.5,2.5,0,0,1,336,47.14Z"/><path class="cls-4" d="M336,43.64a.92.92,0,0,1,1.37-1.22,5.45,5.45,0,0,1,1.35,2.89,5,5,0,0,1-2.92,5.09,5.41,5.41,0,0,1-3.14.3.92.92,0,1,1,.36-1.8,3.51,3.51,0,0,0,2.06-.19,3.11,3.11,0,0,0,1.82-3.18A3.51,3.51,0,0,0,336,43.64Z"/><path class="cls-4" d="M305.44,43.33a2.5,2.5,0,0,1,.22-.67,3.56,3.56,0,0,1,2.18-1.83.92.92,0,0,0-.53-1.76,5.8,5.8,0,0,0-1.16.5,5.4,5.4,0,0,0-2.15,2.3,5.11,5.11,0,0,0-.32.93A3.16,3.16,0,0,1,305.44,43.33Z"/><path class="cls-4" d="M311.46,44.89a.91.91,0,0,0-1.29,0,4.1,4.1,0,0,1-.68.5,3.51,3.51,0,0,1-2,.48,2.64,2.64,0,0,1-.7-.15,3.12,3.12,0,0,1-.42,1.79,5.35,5.35,0,0,0,1,.18,5.28,5.28,0,0,0,3.06-.71,5.14,5.14,0,0,0,1-.75A.92.92,0,0,0,311.46,44.89Z"/><path class="cls-16" d="M301.55,47.14a2.49,2.49,0,1,1,3.4.92A2.49,2.49,0,0,1,301.55,47.14Z"/><path class="cls-4" d="M304.57,48.9a.91.91,0,0,1,1.08.71.9.9,0,0,1-.71,1.08,5.36,5.36,0,0,1-3.17-.28,4.77,4.77,0,0,1-2.31-2.06,4.84,4.84,0,0,1-.64-3,5.34,5.34,0,0,1,1.31-2.86.9.9,0,0,1,1.29-.09.92.92,0,0,1,.09,1.29,3.56,3.56,0,0,0-.86,1.88,2.91,2.91,0,0,0,.4,1.87,3,3,0,0,0,1.44,1.3A3.5,3.5,0,0,0,304.57,48.9Z"/><path class="cls-4" d="M307.84,33.58a3.84,3.84,0,0,1-.78-.34,3.54,3.54,0,0,1-1.41-1.49,3.37,3.37,0,0,1-.22-.68,3.06,3.06,0,0,1-1.75.54,4.66,4.66,0,0,0,.32.93,5.4,5.4,0,0,0,2.15,2.3,5.8,5.8,0,0,0,1.16.5.92.92,0,0,0,.53-1.76Z"/><path class="cls-4" d="M311.41,28.22a4.81,4.81,0,0,0-1-.75,5.3,5.3,0,0,0-3.06-.71,4.38,4.38,0,0,0-1,.18,3.11,3.11,0,0,1,.42,1.79,2.65,2.65,0,0,1,.69-.15,3.49,3.49,0,0,1,2,.48,3.6,3.6,0,0,1,.68.5.92.92,0,0,0,1.3,0A.93.93,0,0,0,311.41,28.22Z"/><path class="cls-16" d="M301.54,27.26a2.5,2.5,0,1,1,.91,3.41A2.5,2.5,0,0,1,301.54,27.26Z"/><path class="cls-4" d="M301.53,30.77a.91.91,0,0,1-.07,1.29.92.92,0,0,1-1.29-.08,5.35,5.35,0,0,1-1.35-2.88,4.85,4.85,0,0,1,.63-3,4.8,4.8,0,0,1,2.29-2,5.33,5.33,0,0,1,3.14-.31.92.92,0,1,1-.36,1.8,3.51,3.51,0,0,0-2.06.19A3.08,3.08,0,0,0,301,27a3,3,0,0,0-.4,1.89A3.63,3.63,0,0,0,301.53,30.77Z"/><path class="cls-4" d="M316.07,53.06a3.11,3.11,0,0,1,1.34-1.25,2.77,2.77,0,0,1-.48-.54,3.43,3.43,0,0,1-.58-2,4,4,0,0,1,.09-.84.91.91,0,1,0-1.78-.42,5.55,5.55,0,0,0-.15,1.26,5.3,5.3,0,0,0,.92,3A4.22,4.22,0,0,0,316.07,53.06Z"/><path class="cls-4" d="M322.87,48.05a.91.91,0,0,0-1.78.42,4,4,0,0,1,.09.84,3.44,3.44,0,0,1-.59,2,3.09,3.09,0,0,1-.47.54,3.11,3.11,0,0,1,1.34,1.25,4.68,4.68,0,0,0,.64-.75,5.3,5.3,0,0,0,.92-3A5.55,5.55,0,0,0,322.87,48.05Z"/><path class="cls-16" d="M318.76,57.08a2.49,2.49,0,1,1,2.49-2.49A2.5,2.5,0,0,1,318.76,57.08Z"/><path class="cls-4" d="M321.8,55.34a.91.91,0,0,1,1.15-.58.92.92,0,0,1,.59,1.15,5.42,5.42,0,0,1-1.83,2.61,5,5,0,0,1-5.87,0A5.44,5.44,0,0,1,314,56a.92.92,0,0,1,1.74-.6,3.49,3.49,0,0,0,1.19,1.69,3.11,3.11,0,0,0,3.66,0A3.53,3.53,0,0,0,321.8,55.34Z"/><path class="cls-17" d="M320.93,47.23h-4.34V41.41h4.34Zm11.74-10a13.94,13.94,0,1,1-13.94-13.81A13.87,13.87,0,0,1,332.67,37.24Z"/><rect class="cls-4" x="317.04" y="42.03" width="3.39" height="0.32"/><rect class="cls-4" x="317.04" y="42.9" width="3.39" height="0.32"/><rect class="cls-4" x="317.04" y="43.78" width="3.39" height="0.32"/><rect class="cls-4" x="317.04" y="44.65" width="3.39" height="0.32"/><rect class="cls-4" x="317.04" y="45.51" width="2.03" height="0.19"/><rect class="cls-4" x="317.04" y="46.24" width="2.03" height="0.19"/>
            </a>
          </svg>
        </div>
        <div class="col-md-12">
          <br>
          <div class="box-cor-tema box-conteudo text-center">
            <div>
              <p>Supervisão de alguns grupos educativos e discussão de casos em interconsulta.</p>
            </div>
            <div>
              <p>Consulta conjunta, na qual o paciente seria visto ao mesmo tempo pela equipe de Saúde da Família e pela equipe matricial. </p>
            </div>
            <div>
              <p>Visita domiciliar em conjunto. </p>
            </div>
            <div>
              <p>Uma reunião por mês para capacitação teórica dos profissionais; reuniões administrativas; atividades comunitárias, incluindo artísticas e culturais.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/4"
  next="unid_6/topico_1/6"
  pag="5" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>