<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="box-cor-tema">7. Criar os ambulatórios de Psiquiatria e Psicologia para atendimento individual.</p>
      <p>Para que os CAPS possam realizar aquilo a que são propostos, é necessário desafogar seus ambulatórios. Percebe-se hoje que estes dispositivos realizam praticamente apenas atendimentos individuais, especialmente por médicos psiquiatras.</p>
      <p>Os psiquiatras matriciadores, assim como os psicólogos e outros profissionais não médicos dos NASF, podem realizar ambulatórios em policlínicas, CAPS ou nas próprias ESF (quando não houver médico na unidade, por exemplo), de modo que possam oferecer assistência a usuários que demandem atendimento individual. Os próprios profissionais encaminhariam os pacientes para seus ambulatórios, evitando a “empurroterapia” por profissionais pouco comprometidos com seu trabalho.</p>
      <p>Para melhor organização das referências, sugere-se que cada psiquiatra seja vinculado a um determinado território do município. Desta forma, esse psiquiatra seria matriciador das UAPS desse território, e ele mesmo encaminharia os casos que julgasse necessário para os demais serviços da rede de atenção psicossocial.</p>
      <p class="box-cor-tema">8. Realização de educação voltada à saúde mental.</p>
      <p>Deve-se realizar educação voltada à saúde mental, trabalhando mitos, crenças populares e o estigma através da promoção de sessões educativas, debates, atividades artísticas e de grupos de uma maneira geral com temáticas específicas de acordo com a realidade da comunidade e usando recursos da mesma; e também da incorporação da promoção em saúde mental nas ações voltadas para grupos específicos: hipertensão, diabetes, saúde da mulher, criança e adolescente, idoso, entre outros.</p>
      <p>Sugere-se implantar, com o apoio do NASF, um serviço de promoção de saúde mental, que objetivará a realização de sessões educativas, debates e orientação quanto a crenças populares e preconceito; atividades artísticas e oficinas (pintura, serigrafia, teatro, corte/costura, artesanato); além de outras atividades comunitárias, como a comemoração anual do “Dia da Saúde Mental”, a ser realizada no dia já consagrado pela Organização Mundial da Saúde, dia 10 de outubro de cada ano.</p>
      <p>A economia solidária será ainda forte aliada na construção desses espaços, promovendo o empoderamento dessas comunidades.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/5"
  next="unid_6/topico_1/7"
  pag="6" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>