<script src="assets/js/hide-show-unless.js"></script>
<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box-cor-tema">
        <p>9. Instituição da terapia comunitária.</p>
        <p class="text-center"><small>(Clique em cada número para visualizar)</small></p>
        <br>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-12 row-bg-linha hidden-xs">
            <div class="col-md-offset-2 col-md-3 col-sm-offset-1 col-sm-1 col-xs-offset-1 col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="1">
                <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
              </a>
            </div>
            <div class="col-md-3 col-sm-1 col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="2">
                <div class="box-circulo"><span class="box-circulo-link">2</span></div>
              </a>
            </div>
            <div class="col-md-3 col-sm-1 col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="3">
                <div class="box-circulo"><span class="box-circulo-link">3</span></div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
        <div class="row visible-xs">
          <p class="visible-xs text-center"><b>Melhor visualizado em modo paisagem (Horizontal)</b></p>
          <br>
        </div>
        <!-- Mobile -->
        <div class="row visible-xs">
          <div class="col-xs-12 row-bg-linha">
            <div class="col-xs-offset-1 col-xs-3 text-center">
              <a href="javascript:void(0);" class="target" data="1">
                <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
              </a>
            </div>
            <div class="col-xs-3 text-center">
              <a href="javascript:void(0);" class="target" data="2">
                <div class="box-circulo"><span class="box-circulo-link">2</span></div>
              </a>
            </div>
            <div class="col-xs-3 text-center">
              <a href="javascript:void(0);" class="target" data="3">
                <div class="box-circulo"><span class="box-circulo-link">3</span></div>
              </a>
            </div>
          </div>
        </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 texto-conteudo">
            <div>
              <p><b>Sobre a Terapia Comunitária</b></p>
              <p>A terapia comunitária foi criada há 20 anos pelo psiquiatra e antropólogo Adalberto Barreto, da Universidade Federal do Ceará. O método surgiu na comunidade do Pirambu, em Fortaleza, e se alastrou para todo o Brasil, existindo hoje 7 mil terapeutas comunitários. Seus principais objetivos são reunir pessoas, trocar experiências, participar de vivências, expandir conhecimentos e pontos de vista sobre emoções que todos nós sentimos, através de ações de inclusão social e diversidade cultural (MARCHETTI, 2003).</p>
              <div class="row">
                <div class="col-md-9">
                  <br>
                  <p>Desta forma, trabalha-se a promoção e a prevenção em saúde mental. Esta técnica é caracterizada por um espaço de convivência social. Representa uma oportunidade das pessoas buscarem e encontrarem uma rede social de apoio. Isto, independente de idade, classe social e nível de instrução. Trata-se de encontrar um grupo social de acolhimento. As vivências terapêuticas são baseadas em partilhar emoções que fazem parte da vida de todo ser humano.</p>
                </div>
                <div class="col-md-3">
                  <p class="text-center">Terapia Comunitária</p>
                  <img src="assets/images/unidade_6/slideshow1.png" class="img-responsive">
                </div>
              </div>
            </div>
            <div>
              <p>Muitas vezes, uma pessoa pode apoiar outra por ter vivenciado e encontrado solução para os mesmos problemas e também ser ajudado simultaneamente, uma vez que o problema do outro pode ser semelhante ao seu. O resultado terapêutico é atingido de forma individual, mesmo diante de histórias e narrativas compartilhadas, pois todo participante sente e percebe de acordo com suas vivências pessoais.</p>
              <p class="box-cor-tema">
                A presença e participação do outro é importante e é o referencial de apoio e das diferenças culturais. A cada encontro, é possível também observar o resultado coletivo, através das construções e produções do grupo, durante o processo de terapia (GOMES et al., 2003).
              </p>
            </div>
            <div>
              <div class="row">
                <div class="col-md-offset-3 col-md-6">
                  <img src="assets/images/unidade_6/slideshow2.png" class="img-responsive">
                </div>
              </div>
              <br>
              <p>Para realizar este procedimento, pretende-se identificar na comunidade pessoas com perfil adequado para se tornarem terapeutas comunitários, para que estas possam realizar as reuniões independentemente do apoio dos profissionais de saúde em espaços da própria comunidade.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/6"
  next="unid_6/topico_1/8"
  pag="7" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>