<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="box-cor-tema">10. Parcerias a serem efetivadas e constituição de novos espaços de reabilitação psicossocial dentro da comunidade.</p>
      <p>A partir da territorialização de cada área, os diversos equipamentos sociais serão mapeados, e ao longo da aplicação deste projeto de intervenção, deverão ser gradualmente estabelecidas parcerias das mais diversas etiologias com indivíduos e instituições, que poderão em determinados momentos ser úteis na sua sedimentação e construção de uma comunidade mentalmente mais saudável. Estes parceiros poderão atuar através da melhor divulgação das atividades desenvolvidas pelos mesmos, ou ainda por meio da criação conjunta de propostas que visem constituir novos espaços de reabilitação psicossocial, como oficinas terapêuticas, e promover a saúde mental, como novos espaços de lazer, educação, profissionalização e esportes.</p>
      <p>Os principais parceiros até o momento deverão ser: centros de atenção psicossocial geral e álcool-drogas; hospitais; centros de cidadania; narcótico-anônimos; alcoólico-anônimos; associação de moradores; igrejas da comunidade; pastores, líderes comunitários, vereadores e rezadeiras da comunidade, entre muitos outros.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/7"
  next="unid_6/topico_1/9"
  pag="8" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>