<script src="assets/js/hide-show-unless.js"></script>
<!-- Cabeçalho -->
<info
  unidade="6"
  tema="1"
  unome="{{unidades[5].nome}}"
  anome="{{unidades[5].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="box-cor-tema">11. Utilizar os indicadores específicos em saúde mental, que deverão ser analisados mensalmente, para avaliar e redirecionar as atividades desenvolvidas.</p>
      <p>Com a implantação do E-SUS, alguns indicadores de saúde mental estão sendo utilizados. Estes indicadores podem ajudar na avaliação deste trabalho.</p>
      <p>Também podem ser utilizados outros indicadores:</p>
      <p class="text-center"><small>(Clique em cada número para visualizar)</small></p>
      <br>
      <div class="row">
        <div class="col-md-12 col-sm-12 row-bg-linha hidden-xs">
          <div class="col-md-offset-2 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="1">
              <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="2">
              <div class="box-circulo"><span class="box-circulo-link">2</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="3">
              <div class="box-circulo"><span class="box-circulo-link">3</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="4">
              <div class="box-circulo"><span class="box-circulo-link">4</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="5">
              <div class="box-circulo"><span class="box-circulo-link">5</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="6">
              <div class="box-circulo"><span class="box-circulo-link">6</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="7">
              <div class="box-circulo"><span class="box-circulo-link">7</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="8">
              <div class="box-circulo"><span class="box-circulo-link">8</span></div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
      <div class="row visible-xs">
        <p class="visible-xs text-center"><b>Melhor visualizado em modo paisagem (Horizontal)</b></p>
        <br>
      </div>
      <!-- Mobile -->
      <div class="row visible-xs">
        <div class="col-xs-12 row-bg-linha">
          <div class="col-xs-offset-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="1">
              <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="2">
              <div class="box-circulo"><span class="box-circulo-link">2</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="3">
              <div class="box-circulo"><span class="box-circulo-link">3</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="4">
              <div class="box-circulo"><span class="box-circulo-link">4</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="5">
              <div class="box-circulo"><span class="box-circulo-link">5</span></div>
            </a>
          </div>
        </div>
      </div>
      <br>
      <!-- Mobile 2-->
      <div class="row visible-xs">
        <div class="col-xs-12 row-bg-linha">
          <div class="col-xs-offset-3 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="6">
              <div class="box-circulo"><span class="box-circulo-link">6</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="7">
              <div class="box-circulo"><span class="box-circulo-link">7</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="8">
              <div class="box-circulo"><span class="box-circulo-link">8</span></div>
            </a>
          </div>
        </div>
      </div>
      </div>
      <!-- Conteudo box -->
      <br>
      <div class="col-md-12 box-cor-tema texto-conteudo" style="margin-bottom: 15px;">
        <div>
          Atenção a pessoas com problema de uso prejudicial de álcool: percentual de pessoas acompanhadas pela rede básica com problemas de uso prejudicial de álcool, por faixa etária e sexo.
        </div>
        <div>
          Atenção a pessoas com problema de uso prejudicial de outras drogas e drogas ilícitas: percentual de pessoas com problemas de uso prejudicial de outras drogas, acompanhadas na rede básica, por faixa etária e sexo.
        </div>
        <div>
          Atenção a pessoas com transtorno mental grave (severo) e persistente: número de pessoas identificadas com transtornos psiquiátricos graves (severos), por faixa etária e sexo.
        </div>
        <div>
          Atenção a pessoas com outros transtornos mentais que fazem uso de medicação psicotrópica: número de pessoas identificadas com outros transtornos mentais que fazem uso de medicação psicotrópica, por faixa etária e sexo.
        </div>
        <div>
          Atenção a pessoas com transtornos mentais egressas de internação psiquiátrica: percentual de pessoas com transtorno mental egressas de internação psiquiátrica acompanhadas pela rede básica, por faixa etária e sexo.
        </div>
        <div>
          Atenção a usuários com transtornos convulsivos (epilepsia): prevalência de transtornos convulsivos (epilepsia), por sexo e faixa etária.
        </div>
        <div>
          Prevenção ao uso inadequado de benzodiazepínicos: número de pessoas que utilizam benzodiazepínicos atendidas pela rede básica, por faixa etária e sexo.
        </div>
        <div>
          Prevenção e atenção dos casos de tentativas de suicídio: percentual de pessoas com tentativa de suicídio acompanhada pela rede básica, por faixa etária e sexo (por população).
        </div>
      </div>
      <p>Poderão ainda ser analisados indicadores para avaliar o aumento da mobilização de recursos comunitários, redução dos índices de violência no território e indicadores que identifiquem a ampliação de trabalhos comunitários e territoriais.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_6/topico_1/8"
  next="unid_6/topico_1/10"
  pag="9" total="11">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>