<!-- Cabeçalho -->
<info
  unidade="4"
  tema="1"
  unome="{{unidades[3].nome}}"
  anome="{{unidades[3].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Os sintomas descritos na tela anterior são considerados fenômenos inconscientes e involuntários, ou seja, manifestam-se independente do desejo do indivíduo. Os pacientes acreditam que suas queixas são orgânicas e custam admitir o substrato psicológico.</p>

      <p>Esses fenômenos costumam causar grande sofrimento e prejuízo individual e social, sendo classificados em transtorno conversivo, dissociativo ou somatoforme de acordo com o tipo de manifestação. No entanto, essa sintomatologia pode ser secundária a outro transtorno, por exemplo episódio depressivo.</p>
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <p>Fortes (2004) distingue ainda o que seriam os “somatizadores de apresentação” e os “somatizadores verdadeiros”. Os primeiros seriam aqueles que fazem da queixa somática uma primeira forma de apresentar seu sofrimento, mas que quando questionados a respeito das possíveis causas do mal-estar somático se referem a problemas relacionais de toda ordem.</p>

           <p>Os segundos seriam aqueles que, mesmo quando questionados a respeito de uma possível origem não orgânica para os sintomas, insistem na hipótese unicamente orgânica, negando qualquer origem relacional e emocional. Entretanto, a caracterização dessa manifestação de sofrimento como somatização também é problemática. Em primeiro lugar, pelo fato do termo ser genérico; em segundo pela confusão com o diagnóstico específico transtorno de somatização, subtipo de transtorno somatoforme, presente nos manuais de classificações psiquiátricas (FORTES, 2004).</p>
        </div>
        <div class="col-md-3 col-sm-3">
          <p class="text-center"><small>Transtorno de somatização</small></p>
          <img src="assets/images/unidade_4/pagina3.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_4/topico_1/1"
  next="unid_4/topico_1/3"
  pag="2" total="5">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>