<!-- Cabeçalho -->
<info
  unidade="4"
  tema="1"
  unome="{{unidades[3].nome}}"
  anome="{{unidades[3].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Quando os sintomas se manifestam voluntariamente, deve-se indagar a motivação. Se eles são produzidos intencionalmente com fins de ganhos primários – externos, diretos com a doença (como evitação de situações difíceis ou perigosas, esquiva de responsabilidades legais ou recompensas, por exemplo, aposentadorias, indenização, cama e comida grátis, drogas, etc.), denomina-se simulação.</p> 

      <p>No entanto, se forem causados voluntariamente com fins de ganho secundário, com o objetivo (muitas vezes pouco claro para o indivíduo) de obter atenção, trata-se de um transtorno factício, também chamada Síndrome de Munchaunsen.</p>

      <p>As queixas produzidas em transtornos factícios e simulações são as mais diversas possíveis, podendo ser físicas, psicológicas ou mistas. Os transtornos factícios costumam ser associados a uma história de internações recorrentes em que se cogita um transtorno genuíno (por exemplo, pensa-se em hipoglicemia A/E ou tumores de pâncreas em pacientes que injetam em si insulina com o objetivo de se internar e assumir a posição de doente ou em hipertensão em outro com picos hipertensivos induzidos por substâncias que elevam a pressão arterial). Outras vezes pais ou cuidadores com transtorno factício criam uma doença no terceiro (geralmente criança ou idoso) a fim de que o adulto mantenha relação com os médicos. Esse tipo especial de transtorno factício em que os sintomas são induzidos em um terceiro denomina-se Síndrome de Munchaunsen por procuração</p>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img src="assets/images/unidade_4/pagina4.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_4/topico_1/2"
  next="unid_4/topico_1/4"
  pag="3" total="5">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>