<!-- Cabeçalho -->
<info
  unidade="4"
  tema="1"
  unome="{{unidades[3].nome}}"
  anome="{{unidades[3].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>A simulação, conforme explicado anteriormente, é a produção voluntária de sintomas com o objetivo de ganho real e bem definido. Geralmente, o quadro clínico melhora após o objetivo ser atingido, não sendo mais necessário fingir. Se a sintomatologia persiste mesmo após esse momento, denomina-se metassimulação ou simulação residual. Se, em vez de criar novos sintomas, o indivíduo tende a omitir os existentes, tem-se uma dissimulação. Os objetivos para isso são os mais diversos, por exemplo evitar internação ou interdição, ganhar liberdade do manicômio judiciário, anulação de casamento, progressão de regime penal (em pacientes encarcerados). Existe também o caso de a queixa ser real, mas ter a intensidade propositalmente agravada por um objetivo claro. Nesse caso, há um supersimulação.</p>
      <p>Na psiquiatria, os transtornos mais simulados são transtornos dissociativos de:</p>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img src="assets/images/unidade_4/pagina5.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_4/topico_1/3"
  next="unid_4/topico_1/5"
  pag="4" total="5">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>