<style type="text/css">
  svg a circle:hover path {
  fill: #CBCBCB;
  cursor:pointer; 
}
</style>
<!-- Cabeçalho -->
<info
  unidade="4"
  tema="1"
  unome="{{unidades[3].nome}}"
  anome="{{unidades[3].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Quando pensar em simulação?</p>
      <p>Na prática, pode ser difícil de ser reconhecido, devendo-se estar atento para algumas caraterísticas. Clique em cada número </p>
      <div class="row"> 
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.98 354.31"><defs><style>.cls-1{fill:#2695c2;}.cls-2{fill:#0097a7;}.cls-3{fill:#34bbd1;}.cls-4{fill:#1cc5a8;}.cls-5{fill:#86b28d;}.cls-6{fill:#3da054;}.cls-7{fill:#efdf58;}.cls-8{fill:#ff9740;}.cls-9{fill:#ff6e6e;}.cls-10{fill:#ef568e;}.cls-11{fill:#5a5476;}.cls-12{fill:#3f51b5;}.cls-13{fill:#fff;}.cls-14{fill:#8e8e8e;}.cls-15{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}</style></defs><title></title>

            <a href="javascript:void(0);" data-toggle="modal" data-target="#8"><circle class="cls-1" cx="38.95" cy="256.69" r="13.44"/></a>
            <path class="cls-1" d="M174.71,179.59l-1.21-2.09L54.07,246.63c-.45.09-.8-.11-1.24-.72a16,16,0,0,0-6.42-5.12,17.21,17.21,0,0,0-13.3-.68c-.63.21-1.1.42-1.47-.43-1.84-4.31-3.54-8.68-5-13.13a149.36,149.36,0,0,1-4.58-17.27,92.51,92.51,0,0,1-1.63-9.79c1.53,1.12,2.89,2.09,4.21,3.11.61.48,1.2.65,1.7,0s.23-1.25-.45-1.77c-2.06-1.54-4.06-3.16-6.1-4.73a1.28,1.28,0,0,0-2,.29c-1.56,2-3.15,4.07-4.71,6.11-.45.6-.78,1.25,0,1.83s1.28.14,1.75-.48c1-1.29,2-2.55,3.13-4,.17.63.33,1.06.4,1.51a159.89,159.89,0,0,0,4.76,21.28,145.3,145.3,0,0,0,6.42,17.69,1.35,1.35,0,0,1-.59,2A17.55,17.55,0,0,0,48,271.79c7.73-4.77,10.5-13.44,7.17-21.92-.2-.52-.21-.83,0-1.11l87.46-50.62,21.2-12.21c2.59-1.49,5.15-3.05,7.78-4.49a.53.53,0,0,0,.1-.13ZM39,272.2a15.51,15.51,0,1,1,15.51-15.51A15.51,15.51,0,0,1,39,272.2Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#9"><circle class="cls-2" cx="17.57" cy="177.2" r="13.44"/></a>
            <path class="cls-2" d="M173.7,178.31v-2.42l-138,.16c-.43-.15-.64-.5-.71-1.24a15.91,15.91,0,0,0-3-7.65,17.16,17.16,0,0,0-11.18-7.24c-.65-.13-1.16-.19-1.05-1.1C20.31,154.16,21,149.53,22,145a147.44,147.44,0,0,1,4.67-17.25,92.51,92.51,0,0,1,3.48-9.29c.77,1.74,1.46,3.26,2.09,4.8.29.72.72,1.16,1.48.82s.83-1,.5-1.75c-1-2.37-1.93-4.77-2.91-7.15a1.29,1.29,0,0,0-1.92-.77c-2.37,1-4.76,2-7.13,2.94-.69.29-1.3.68-.88,1.6s1,.75,1.75.45c1.5-.61,3-1.2,4.69-1.86-.17.64-.25,1.09-.41,1.51a160.36,160.36,0,0,0-6.52,20.81,145.65,145.65,0,0,0-3.28,18.52c-.12,1.17-.62,1.37-1.51,1.45a17.55,17.55,0,0,0,1.79,35c9.08-.26,15.8-6.39,17.16-15.39.09-.55.24-.83.57-1l101.05-.11,24.46,0c3,0,6-.07,9,0a.29.29,0,0,0,.15-.06ZM9.82,190.63A15.51,15.51,0,1,1,31,185,15.5,15.5,0,0,1,9.82,190.63Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#10"><circle class="cls-3" cx="38.92" cy="97.05" r="13.44"/></a>
            <path class="cls-3" d="M173.1,176.87l1.21-2.08L55.14,105.2c-.3-.34-.3-.75,0-1.42a16,16,0,0,0,1.28-8.12,17.24,17.24,0,0,0-6-11.9c-.49-.44-.9-.75-.35-1.48,2.84-3.73,5.79-7.37,8.94-10.83A146.39,146.39,0,0,1,71.77,58.92a90.12,90.12,0,0,1,7.7-6.26c-.23,1.89-.39,3.54-.63,5.19-.11.77,0,1.37.87,1.47s1.2-.42,1.31-1.27c.33-2.55.74-5.09,1.1-7.64a1.29,1.29,0,0,0-1.27-1.63c-2.55-.35-5.09-.72-7.64-1.06-.74-.1-1.46-.07-1.56.92s.5,1.18,1.28,1.29c1.6.22,3.2.48,5,.76-.47.46-.77.81-1.12,1.09A158.93,158.93,0,0,0,60.66,66.45,143.46,143.46,0,0,0,48.47,80.78a1.36,1.36,0,0,1-2,.48A17.55,17.55,0,0,0,30.28,112.4c8,4.36,16.87,2.47,22.6-4.61.35-.44.62-.6,1-.54l87.26,50.94,21.1,12.39c2.58,1.51,5.21,3,7.76,4.53a.32.32,0,0,0,.16,0ZM25.44,104.72a15.51,15.51,0,1,1,21.15,5.8A15.51,15.51,0,0,1,25.44,104.72Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#11"><circle class="cls-4" cx="97.41" cy="39.14" r="13.44"/></a>
            <path class="cls-4" d="M173.71,175.35l2.09-1.19L107.38,54.31c-.08-.45.11-.8.72-1.23a16,16,0,0,0,5.17-6.39,17.26,17.26,0,0,0,.76-13.3c-.21-.63-.41-1.1.43-1.46,4.32-1.82,8.7-3.49,13.16-4.91a147.42,147.42,0,0,1,17.3-4.48,90,90,0,0,1,9.8-1.57c-1.13,1.52-2.11,2.87-3.14,4.18-.48.62-.65,1.2,0,1.7s1.25.25,1.77-.43c1.56-2.05,3.19-4,4.78-6.07a1.29,1.29,0,0,0-.29-2.05c-2-1.57-4.05-3.17-6.08-4.74-.59-.46-1.24-.79-1.82,0s-.15,1.27.47,1.75c1.27,1,2.53,2,3.94,3.16-.64.16-1.07.32-1.51.38a160.42,160.42,0,0,0-21.32,4.64,143.52,143.52,0,0,0-17.72,6.31,1.36,1.36,0,0,1-2-.6A17.55,17.55,0,0,0,82.26,48.11c4.72,7.76,13.37,10.58,21.87,7.31.52-.2.84-.21,1.11,0l50.1,87.76,12.08,21.27c1.49,2.6,3,5.17,4.46,7.8a.33.33,0,0,0,.12.11ZM81.9,39a15.51,15.51,0,1,1,15.42,15.6A15.51,15.51,0,0,1,81.9,39Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#12"><circle class="cls-5" cx="177.04" cy="17.57" r="13.44"/></a>
            <path class="cls-5" d="M175.76,173.7h2.41v-138c.15-.43.49-.64,1.23-.7a16.05,16.05,0,0,0,7.65-3,17.21,17.21,0,0,0,7.26-11.18c.13-.65.19-1.16,1.1-1.05,4.66.57,9.29,1.28,13.87,2.26a146.83,146.83,0,0,1,17.24,4.69,90.26,90.26,0,0,1,9.29,3.49c-1.74.76-3.26,1.45-4.8,2.08-.72.29-1.16.72-.83,1.48s1,.84,1.76.5c2.37-1,4.77-1.93,7.15-2.9a1.29,1.29,0,0,0,.77-1.92c-1-2.37-2-4.76-2.93-7.13-.29-.69-.69-1.3-1.6-.89s-.75,1-.46,1.76c.62,1.49,1.2,3,1.86,4.69-.63-.17-1.09-.25-1.5-.41a159.44,159.44,0,0,0-20.81-6.55,143.66,143.66,0,0,0-18.52-3.3c-1.17-.12-1.37-.62-1.45-1.51a17.55,17.55,0,0,0-35,1.75c.26,9.08,6.37,15.81,15.37,17.18.56.09.84.24,1,.57V136.66q0,12.22,0,24.46c0,3,.06,6,0,9a.42.42,0,0,0,.06.15ZM163.62,9.8A15.51,15.51,0,1,1,169.27,31,15.51,15.51,0,0,1,163.62,9.8Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#1"><circle class="cls-6" cx="256.54" cy="38.89" r="13.44"/></a>
            <path class="cls-6" d="M177.38,173.46l2.09,1.2,69-119.51c.34-.3.75-.31,1.42,0A16.11,16.11,0,0,0,258,56.39a17.25,17.25,0,0,0,11.88-6c.44-.5.74-.91,1.48-.36,3.74,2.82,7.4,5.75,10.87,8.89a146.26,146.26,0,0,1,12.59,12.68,89.84,89.84,0,0,1,6.3,7.67c-1.89-.21-3.55-.37-5.2-.6-.77-.11-1.36,0-1.45.87s.42,1.21,1.27,1.31c2.55.32,5.09.72,7.64,1.07A1.3,1.3,0,0,0,305,80.59c.33-2.55.69-5.1,1-7.65.1-.74.06-1.46-.93-1.56s-1.17.51-1.28,1.29c-.21,1.61-.47,3.21-.73,5a14,14,0,0,1-1.1-1.11,160.15,160.15,0,0,0-14.75-16.07,144.6,144.6,0,0,0-14.39-12.12,1.34,1.34,0,0,1-.49-2,17.55,17.55,0,0,0-31.21-16c-4.33,8-2.4,16.88,4.71,22.57.44.35.6.62.55,1L195.9,141.38q-6.15,10.58-12.28,21.16c-1.5,2.59-2.94,5.22-4.5,7.78a.34.34,0,0,0,0,.16Zm71.43-148a15.51,15.51,0,1,1-5.7,21.18A15.5,15.5,0,0,1,248.81,25.45Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#2"><circle class="cls-7" cx="315.03" cy="97.62" r="13.44"/></a>
            <path class="cls-7" d="M179.27,174.72l1.21,2.09,119.44-69.13c.45-.09.8.11,1.23.71a16,16,0,0,0,6.42,5.13,17.23,17.23,0,0,0,13.31.68c.63-.21,1.1-.42,1.46.43,1.84,4.31,3.54,8.67,5,13.13A148.82,148.82,0,0,1,331.91,145a91.66,91.66,0,0,1,1.63,9.79c-1.53-1.13-2.89-2.09-4.2-3.11-.62-.48-1.21-.65-1.71,0s-.23,1.26.45,1.77c2.06,1.55,4.06,3.17,6.1,4.74a1.3,1.3,0,0,0,2.05-.3c1.55-2,3.14-4.06,4.7-6.11.45-.59.78-1.24,0-1.82s-1.27-.14-1.75.48c-1,1.28-2,2.54-3.13,4-.17-.64-.33-1.07-.4-1.51a158.34,158.34,0,0,0-4.76-21.28A143.64,143.64,0,0,0,324.44,114a1.36,1.36,0,0,1,.59-2A17.55,17.55,0,0,0,306,82.52c-7.74,4.77-10.5,13.43-7.18,21.91.2.52.21.84,0,1.12l-87.45,50.61-21.2,12.21c-2.6,1.5-5.16,3.06-7.78,4.5a.37.37,0,0,0-.11.13ZM315,82.11a15.51,15.51,0,1,1-15.51,15.51A15.5,15.5,0,0,1,315,82.11Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#3"><circle class="cls-8" cx="336.41" cy="177.1" r="13.44"/></a>
            <path class="cls-8" d="M180.29,176v2.41l138-.15c.43.15.64.49.71,1.24a16,16,0,0,0,3,7.64,17.24,17.24,0,0,0,11.18,7.25c.65.13,1.16.19,1.05,1.1-.56,4.65-1.27,9.28-2.24,13.86a147.07,147.07,0,0,1-4.67,17.26,91.9,91.9,0,0,1-3.48,9.29c-.76-1.74-1.46-3.26-2.09-4.8-.29-.72-.72-1.16-1.48-.83s-.83,1-.5,1.76c1,2.37,1.93,4.77,2.91,7.15a1.29,1.29,0,0,0,1.92.77c2.37-1,4.76-1.95,7.13-2.95.69-.28,1.3-.68.89-1.59s-1-.76-1.76-.46c-1.5.62-3,1.2-4.69,1.87.17-.64.25-1.09.41-1.51a159.31,159.31,0,0,0,6.52-20.81A142.35,142.35,0,0,0,336.38,196c.13-1.16.62-1.36,1.52-1.44a17.55,17.55,0,0,0-1.79-35c-9.08.26-15.81,6.38-17.17,15.39-.09.55-.24.83-.57,1L217.32,176l-24.46,0c-3,0-6,.07-9,0a.32.32,0,0,0-.16.06Zm163.87-12.33A15.51,15.51,0,1,1,323,169.35,15.52,15.52,0,0,1,344.16,163.67Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#4"><circle class="cls-9" cx="315.07" cy="257.26" r="13.44"/></a>
            <path class="cls-9" d="M180.88,177.44l-1.21,2.08L298.84,249.1c.3.35.31.75,0,1.43a16,16,0,0,0-1.27,8.11,17.17,17.17,0,0,0,6,11.9c.5.45.91.75.35,1.49-2.83,3.73-5.79,7.37-8.94,10.83a150.66,150.66,0,0,1-12.74,12.53,93.74,93.74,0,0,1-7.7,6.26c.22-1.89.39-3.55.62-5.2.11-.77,0-1.36-.86-1.46s-1.21.42-1.32,1.27c-.33,2.55-.74,5.09-1.1,7.64a1.29,1.29,0,0,0,1.27,1.63c2.55.34,5.09.72,7.64,1.06.74.1,1.46.07,1.57-.93s-.51-1.17-1.29-1.28c-1.6-.22-3.2-.48-5-.76.47-.46.77-.81,1.12-1.09a161.31,161.31,0,0,0,16.14-14.67,144.6,144.6,0,0,0,12.19-14.33,1.36,1.36,0,0,1,2-.49,17.54,17.54,0,0,0,16.15-31.13c-8-4.36-16.87-2.48-22.59,4.61-.35.43-.63.6-1,.54l-87.26-50.95-21.1-12.38c-2.58-1.51-5.2-3-7.76-4.53a.32.32,0,0,0-.16,0Zm147.66,72.14a15.51,15.51,0,1,1-21.15-5.8A15.5,15.5,0,0,1,328.54,249.58Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#5"><circle class="cls-10" cx="256.57" cy="315.17" r="13.44"/></a>
            <path class="cls-10" d="M180.27,179l-2.09,1.2L246.6,300c.09.45-.11.8-.72,1.22a15.94,15.94,0,0,0-5.16,6.39,17.2,17.2,0,0,0-.76,13.31c.21.63.41,1.1-.44,1.46-4.32,1.81-8.7,3.49-13.16,4.91a147.42,147.42,0,0,1-17.3,4.48,92.49,92.49,0,0,1-9.8,1.57c1.14-1.52,2.11-2.88,3.14-4.19.48-.61.65-1.2,0-1.7s-1.25-.24-1.77.44c-1.56,2.05-3.19,4-4.77,6.07a1.29,1.29,0,0,0,.28,2.05c2,1.57,4,3.17,6.08,4.74.6.45,1.24.79,1.83,0s.14-1.27-.48-1.76c-1.27-1-2.52-2-3.94-3.15.64-.17,1.07-.32,1.52-.39a159.91,159.91,0,0,0,21.31-4.63,143.57,143.57,0,0,0,17.72-6.32,1.36,1.36,0,0,1,2,.6,17.55,17.55,0,0,0,29.55-18.89c-4.72-7.76-13.37-10.57-21.87-7.3-.52.2-.84.21-1.11,0l-50.1-87.75-12.08-21.27c-1.48-2.61-3-5.18-4.45-7.81a.36.36,0,0,0-.13-.1Zm91.81,136.31a15.51,15.51,0,1,1-15.42-15.6A15.51,15.51,0,0,1,272.08,315.26Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#6"><circle class="cls-11" cx="176.94" cy="336.73" r="13.44"/></a>
            <path class="cls-11" d="M178.22,180.61h-2.41v138c-.15.44-.5.64-1.24.71a16.05,16.05,0,0,0-7.65,3,17.25,17.25,0,0,0-7.26,11.18c-.13.65-.19,1.16-1.1,1.05-4.65-.57-9.29-1.28-13.86-2.26a149,149,0,0,1-17.25-4.69,92.64,92.64,0,0,1-9.29-3.49c1.74-.76,3.26-1.45,4.8-2.08.73-.3,1.17-.72.83-1.49s-1-.83-1.75-.5c-2.37,1-4.78,1.93-7.16,2.91a1.29,1.29,0,0,0-.77,1.92c1,2.37,2,4.76,2.94,7.13.28.69.68,1.3,1.59.88s.76-1,.46-1.75c-.62-1.5-1.2-3-1.86-4.69.64.17,1.09.25,1.51.41a158.78,158.78,0,0,0,20.8,6.54,144,144,0,0,0,18.52,3.31c1.17.12,1.37.62,1.45,1.51a17.55,17.55,0,0,0,35-1.75c-.25-9.08-6.37-15.81-15.37-17.19-.55-.08-.83-.23-1-.56v-101l.06-24.46c0-3-.07-6,0-9a.29.29,0,0,0-.06-.15ZM190.36,344.5a15.5,15.5,0,1,1-5.65-21.19A15.5,15.5,0,0,1,190.36,344.5Z"/>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#7"><circle class="cls-12" cx="97.44" cy="315.42" r="13.44"/></a>
            <path class="cls-12" d="M176.6,180.85l-2.09-1.21-69,119.52c-.34.3-.74.3-1.42,0A16,16,0,0,0,96,297.91,17.2,17.2,0,0,0,84.1,304c-.44.49-.75.91-1.48.35-3.75-2.81-7.41-5.75-10.88-8.88a146.38,146.38,0,0,1-12.59-12.69,89.84,89.84,0,0,1-6.3-7.67c1.89.22,3.55.38,5.2.61.77.1,1.36-.05,1.46-.88s-.43-1.2-1.27-1.31c-2.56-.31-5.1-.71-7.65-1.06A1.29,1.29,0,0,0,49,273.72c-.33,2.55-.69,5.09-1,7.64-.1.74-.06,1.47.93,1.56s1.18-.51,1.28-1.29c.22-1.6.47-3.2.74-5,.46.47.81.76,1.09,1.11a160.25,160.25,0,0,0,14.75,16.07,144.6,144.6,0,0,0,14.39,12.12,1.35,1.35,0,0,1,.49,2,17.55,17.55,0,0,0,31.22,16c4.32-8,2.39-16.88-4.72-22.57-.44-.35-.6-.63-.55-1l50.52-87.51,12.28-21.16c1.51-2.59,2.95-5.22,4.5-7.78a.27.27,0,0,0,0-.16Zm-71.42,148a15.51,15.51,0,1,1,5.7-21.18A15.52,15.52,0,0,1,105.18,328.86Z"/><path class="cls-13" d="M257,38.9a8.55,8.55,0,0,1-1,4.72,4.06,4.06,0,0,1-6.39,0,8.4,8.4,0,0,1-1.07-4.67,8.56,8.56,0,0,1,1-4.74,4,4,0,0,1,6.39.07A8.42,8.42,0,0,1,257,38.9Zm-5.94,0a9.76,9.76,0,0,0,.38,3.21,1.35,1.35,0,0,0,2.6,0,9,9,0,0,0,.4-3.19,9.13,9.13,0,0,0-.4-3.21,1.36,1.36,0,0,0-1.29-1,1.34,1.34,0,0,0-1.3,1A9.43,9.43,0,0,0,251,38.9Z"/><path class="cls-13" d="M264.61,45h-2.56v-7l0-1.15,0-1.27a10.12,10.12,0,0,1-.89.84l-1.4,1.13-1.23-1.55,3.91-3.12h2.11Z"/><path class="cls-13" d="M314.42,97.63a8.52,8.52,0,0,1-1,4.71,3.63,3.63,0,0,1-3.21,1.53,3.58,3.58,0,0,1-3.18-1.58,8.34,8.34,0,0,1-1.07-4.66,8.6,8.6,0,0,1,1-4.75,3.63,3.63,0,0,1,3.21-1.52,3.58,3.58,0,0,1,3.18,1.6A8.42,8.42,0,0,1,314.42,97.63Zm-5.94,0a9.65,9.65,0,0,0,.38,3.2,1.35,1.35,0,0,0,2.6,0,9.08,9.08,0,0,0,.4-3.19,9.24,9.24,0,0,0-.4-3.22,1.35,1.35,0,0,0-1.29-1,1.34,1.34,0,0,0-1.3,1A9.54,9.54,0,0,0,308.48,97.63Z"/><path class="cls-13" d="M324.21,103.71h-8.5v-1.79l3.05-3.09a23.53,23.53,0,0,0,1.77-1.92,4.21,4.21,0,0,0,.6-1,2.44,2.44,0,0,0,.19-1,1.38,1.38,0,0,0-.41-1.09,1.54,1.54,0,0,0-1.07-.36,3.2,3.2,0,0,0-1.38.32,7.27,7.27,0,0,0-1.38.93l-1.4-1.66A8.85,8.85,0,0,1,317.17,92a5.21,5.21,0,0,1,1.29-.48,6.19,6.19,0,0,1,1.56-.18,4.57,4.57,0,0,1,2,.42A3.25,3.25,0,0,1,323.39,93a3.08,3.08,0,0,1,.48,1.71,4.1,4.1,0,0,1-.3,1.57,5.83,5.83,0,0,1-.91,1.51,22.28,22.28,0,0,1-2.18,2.21l-1.57,1.47v.11h5.3Z"/><path class="cls-13" d="M335.8,177.12a8.43,8.43,0,0,1-1,4.71,4.06,4.06,0,0,1-6.39-.05,8.36,8.36,0,0,1-1.07-4.66,8.6,8.6,0,0,1,1-4.75,4.06,4.06,0,0,1,6.39.07A8.46,8.46,0,0,1,335.8,177.12Zm-5.94,0a9.65,9.65,0,0,0,.38,3.2,1.35,1.35,0,0,0,2.6,0,13,13,0,0,0,0-6.41,1.35,1.35,0,0,0-1.29-1,1.34,1.34,0,0,0-1.3,1A9.46,9.46,0,0,0,329.86,177.12Z"/><path class="cls-13" d="M345.12,173.76a2.84,2.84,0,0,1-.69,1.93,3.55,3.55,0,0,1-1.94,1.1v.05a3.85,3.85,0,0,1,2.23.9,2.5,2.5,0,0,1,.75,1.91,3.24,3.24,0,0,1-1.27,2.73,5.81,5.81,0,0,1-3.63,1,8.79,8.79,0,0,1-3.51-.66v-2.18a7.9,7.9,0,0,0,1.55.58,6.57,6.57,0,0,0,1.68.22,3.24,3.24,0,0,0,1.88-.43,1.58,1.58,0,0,0,.61-1.39,1.25,1.25,0,0,0-.7-1.21,5.13,5.13,0,0,0-2.23-.36h-.92v-2h.94a4.37,4.37,0,0,0,2.07-.37,1.35,1.35,0,0,0,.65-1.27c0-.92-.58-1.38-1.73-1.38a4,4,0,0,0-1.22.2,5.9,5.9,0,0,0-1.38.69l-1.18-1.77a6.57,6.57,0,0,1,4-1.2,5.12,5.12,0,0,1,3,.77A2.46,2.46,0,0,1,345.12,173.76Z"/><path class="cls-13" d="M314.28,257.27a8.47,8.47,0,0,1-1,4.72,4.06,4.06,0,0,1-6.39-.05,11.07,11.07,0,0,1,0-9.41,4,4,0,0,1,6.38.07A8.34,8.34,0,0,1,314.28,257.27Zm-5.94,0a9.43,9.43,0,0,0,.39,3.21,1.35,1.35,0,0,0,2.59,0,13,13,0,0,0,0-6.4,1.36,1.36,0,0,0-1.29-1,1.34,1.34,0,0,0-1.3,1A9.43,9.43,0,0,0,308.34,257.27Z"/><path class="cls-13" d="M324.35,260.83h-1.47v2.52h-2.51v-2.52h-5.19V259l5.33-7.85h2.37v7.64h1.47Zm-4-2v-2.06c0-.34,0-.84,0-1.49s0-1,.07-1.14h-.07a9.26,9.26,0,0,1-.74,1.33l-2.23,3.36Z"/><path class="cls-13" d="M256,315.18a8.53,8.53,0,0,1-1,4.72,3.63,3.63,0,0,1-3.22,1.53,3.58,3.58,0,0,1-3.17-1.58,8.4,8.4,0,0,1-1.07-4.67,8.58,8.58,0,0,1,1-4.74,4,4,0,0,1,6.38.07A8.33,8.33,0,0,1,256,315.18Zm-6,0a9.43,9.43,0,0,0,.39,3.21,1.35,1.35,0,0,0,1.3,1,1.36,1.36,0,0,0,1.3-1,9.14,9.14,0,0,0,.4-3.2,9.38,9.38,0,0,0-.4-3.21,1.36,1.36,0,0,0-1.3-1,1.34,1.34,0,0,0-1.29,1A9.13,9.13,0,0,0,250.09,315.18Z"/><path class="cls-13" d="M261.75,313.49a3.92,3.92,0,0,1,2.81,1,3.55,3.55,0,0,1,1,2.71,4,4,0,0,1-1.25,3.14,5.32,5.32,0,0,1-3.59,1.1,7,7,0,0,1-3.28-.66v-2.22a7.18,7.18,0,0,0,1.53.57,6.58,6.58,0,0,0,1.65.22c1.57,0,2.36-.64,2.36-1.93s-.82-1.84-2.44-1.84a5.83,5.83,0,0,0-1,.09,6.59,6.59,0,0,0-.87.19l-1-.55.46-6.2h6.59v2.18h-4.34l-.22,2.39.29-.06A5.51,5.51,0,0,1,261.75,313.49Z"/><path class="cls-13" d="M176.3,336.75a8.42,8.42,0,0,1-1.05,4.71,4,4,0,0,1-6.38,0,8.36,8.36,0,0,1-1.07-4.66,8.6,8.6,0,0,1,1-4.75,4,4,0,0,1,6.38.07A8.39,8.39,0,0,1,176.3,336.75Zm-6,0a9.33,9.33,0,0,0,.39,3.2,1.34,1.34,0,0,0,1.3,1,1.36,1.36,0,0,0,1.3-1,9.32,9.32,0,0,0,.4-3.19,9.11,9.11,0,0,0-.41-3.22,1.35,1.35,0,0,0-2.59,0A9.46,9.46,0,0,0,170.35,336.75Z"/><path class="cls-13" d="M177.5,337.66q0-3.62,1.53-5.37a5.7,5.7,0,0,1,4.57-1.76,8.61,8.61,0,0,1,1.63.12v2.06a6.15,6.15,0,0,0-1.47-.17,4.91,4.91,0,0,0-2.15.4,2.61,2.61,0,0,0-1.25,1.18,5.52,5.52,0,0,0-.5,2.22H180a2.84,2.84,0,0,1,2.64-1.42,3.26,3.26,0,0,1,2.55,1,4,4,0,0,1,.93,2.83,4.27,4.27,0,0,1-1.1,3.08,4.07,4.07,0,0,1-3.05,1.13,4.43,4.43,0,0,1-2.35-.62,4.13,4.13,0,0,1-1.54-1.82A6.84,6.84,0,0,1,177.5,337.66Zm4.39,3.28a1.54,1.54,0,0,0,1.27-.56,2.47,2.47,0,0,0,.44-1.57,2.2,2.2,0,0,0-.41-1.4,1.52,1.52,0,0,0-1.25-.51,1.93,1.93,0,0,0-1.33.5,1.55,1.55,0,0,0-.55,1.18,2.69,2.69,0,0,0,.52,1.68A1.58,1.58,0,0,0,181.89,340.94Z"/><path class="cls-13" d="M96.79,315.43a8.41,8.41,0,0,1-1,4.71,4.05,4.05,0,0,1-6.39,0,8.4,8.4,0,0,1-1.07-4.67,8.54,8.54,0,0,1,1-4.74,4,4,0,0,1,6.39.07A8.42,8.42,0,0,1,96.79,315.43Zm-5.94,0a9.76,9.76,0,0,0,.38,3.21,1.36,1.36,0,0,0,2.6,0,13,13,0,0,0,0-6.4,1.35,1.35,0,0,0-1.29-1,1.33,1.33,0,0,0-1.3,1A9.43,9.43,0,0,0,90.85,315.43Z"/><path class="cls-13" d="M99.29,321.51l4.56-10h-6v-2.16h8.72V311L102,321.51Z"/><path class="cls-13" d="M38.33,256.7a8.53,8.53,0,0,1-1,4.72A3.63,3.63,0,0,1,34.07,263a3.58,3.58,0,0,1-3.17-1.58,8.4,8.4,0,0,1-1.07-4.67,8.58,8.58,0,0,1,1-4.74,3.61,3.61,0,0,1,3.2-1.53,3.61,3.61,0,0,1,3.19,1.6A8.42,8.42,0,0,1,38.33,256.7Zm-5.94,0a9.76,9.76,0,0,0,.38,3.21,1.35,1.35,0,0,0,2.6,0,13,13,0,0,0,0-6.41,1.36,1.36,0,0,0-1.3-1,1.34,1.34,0,0,0-1.29,1A9.43,9.43,0,0,0,32.39,256.7Z"/><path class="cls-13" d="M43.81,250.47a4.62,4.62,0,0,1,2.82.79,2.53,2.53,0,0,1,1.07,2.14,2.82,2.82,0,0,1-.52,1.66,4.32,4.32,0,0,1-1.66,1.3,6,6,0,0,1,2,1.53,2.88,2.88,0,0,1,.59,1.74A2.91,2.91,0,0,1,46.9,262a4.94,4.94,0,0,1-3.09.91,5.1,5.1,0,0,1-3.13-.85,2.83,2.83,0,0,1-1.14-2.4,3.18,3.18,0,0,1,.55-1.85,4.56,4.56,0,0,1,1.78-1.42,4.47,4.47,0,0,1-1.5-1.41,3,3,0,0,1-.46-1.63A2.52,2.52,0,0,1,41,251.27,4.58,4.58,0,0,1,43.81,250.47Zm-1.89,9.08a1.35,1.35,0,0,0,.49,1.11,2.13,2.13,0,0,0,1.37.4,2.16,2.16,0,0,0,1.43-.41,1.37,1.37,0,0,0,.47-1.09,1.45,1.45,0,0,0-.47-1,6.22,6.22,0,0,0-1.52-1Q41.92,258.3,41.92,259.55Zm1.88-7.2a1.6,1.6,0,0,0-1.06.33,1.13,1.13,0,0,0-.41.9,1.4,1.4,0,0,0,.32.9,3.69,3.69,0,0,0,1.16.81,3.27,3.27,0,0,0,1.14-.78,1.43,1.43,0,0,0,.33-.93,1.08,1.08,0,0,0-.42-.9A1.66,1.66,0,0,0,43.8,252.35Z"/><path class="cls-13" d="M17,177.22a8.52,8.52,0,0,1-1,4.71,3.63,3.63,0,0,1-3.21,1.53,3.6,3.6,0,0,1-3.18-1.58,8.36,8.36,0,0,1-1.07-4.66,8.6,8.6,0,0,1,1-4.75A3.61,3.61,0,0,1,12.7,171a3.6,3.6,0,0,1,3.18,1.59A8.46,8.46,0,0,1,17,177.22Zm-5.94,0a9.65,9.65,0,0,0,.38,3.2,1.35,1.35,0,0,0,2.6,0A13,13,0,0,0,14,174a1.36,1.36,0,0,0-1.29-1,1.34,1.34,0,0,0-1.3,1A9.46,9.46,0,0,0,11,177.22Z"/><path class="cls-13" d="M26.69,176.33a8.09,8.09,0,0,1-1.51,5.36,5.7,5.7,0,0,1-4.58,1.77,8.3,8.3,0,0,1-1.64-.12v-2.06a5.78,5.78,0,0,0,1.46.18,5.16,5.16,0,0,0,2.12-.38,2.62,2.62,0,0,0,1.27-1.19,5.1,5.1,0,0,0,.51-2.23h-.1a2.81,2.81,0,0,1-1.11,1.09,3.56,3.56,0,0,1-1.58.32,3.21,3.21,0,0,1-2.51-1,4.08,4.08,0,0,1-.91-2.83,4.24,4.24,0,0,1,1.11-3.09,4,4,0,0,1,3-1.13,4.36,4.36,0,0,1,2.36.63,4.06,4.06,0,0,1,1.55,1.83A7,7,0,0,1,26.69,176.33Zm-4.4-3.27a1.52,1.52,0,0,0-1.25.55,2.42,2.42,0,0,0-.44,1.58,2.19,2.19,0,0,0,.4,1.39,1.47,1.47,0,0,0,1.24.52,1.92,1.92,0,0,0,1.34-.51,1.58,1.58,0,0,0,.56-1.18,2.7,2.7,0,0,0-.52-1.67A1.59,1.59,0,0,0,22.29,173.06Z"/><path class="cls-13" d="M36,103.14H33.46v-7l0-1.15,0-1.27c-.43.43-.73.71-.89.84l-1.4,1.13L30,94.1,33.92,91H36Z"/><path class="cls-13" d="M47.83,97.06a8.55,8.55,0,0,1-1,4.72,3.63,3.63,0,0,1-3.22,1.53,3.58,3.58,0,0,1-3.17-1.58,8.4,8.4,0,0,1-1.07-4.67,8.56,8.56,0,0,1,1-4.74,3.6,3.6,0,0,1,3.2-1.53,3.56,3.56,0,0,1,3.18,1.6A8.33,8.33,0,0,1,47.83,97.06Zm-5.95,0a9.43,9.43,0,0,0,.39,3.21,1.36,1.36,0,0,0,2.6,0,9,9,0,0,0,.4-3.19,9.38,9.38,0,0,0-.4-3.21,1.35,1.35,0,0,0-1.3-1,1.33,1.33,0,0,0-1.29,1A9.38,9.38,0,0,0,41.88,97.06Z"/><path class="cls-13" d="M94.56,45.22H92v-7L92,37l0-1.26a11.84,11.84,0,0,1-.89.84l-1.4,1.12-1.23-1.54,3.91-3.12h2.11Z"/><path class="cls-13" d="M104.29,45.22h-2.57v-7l0-1.16,0-1.26a10.12,10.12,0,0,1-.89.84L99.5,37.72l-1.24-1.54,3.91-3.12h2.12Z"/><path class="cls-13" d="M174.12,22.37h-2.57v-7l0-1.16,0-1.26a11.84,11.84,0,0,1-.89.84l-1.4,1.12-1.24-1.54L172,10.22h2.11Z"/><path class="cls-13" d="M186,22.37h-8.5V20.59l3-3.09c.9-.92,1.49-1.57,1.77-1.92a4.06,4.06,0,0,0,.6-1,2.55,2.55,0,0,0,.18-.95,1.35,1.35,0,0,0-.4-1.08,1.57,1.57,0,0,0-1.08-.36,3.19,3.19,0,0,0-1.37.32,8.1,8.1,0,0,0-1.39.92l-1.39-1.65a8.84,8.84,0,0,1,1.48-1.08,6,6,0,0,1,1.29-.49A6.87,6.87,0,0,1,181.8,10a4.57,4.57,0,0,1,2,.42,3.2,3.2,0,0,1,1.35,1.16,3,3,0,0,1,.49,1.72,4.1,4.1,0,0,1-.3,1.57,6.31,6.31,0,0,1-.91,1.51,21.73,21.73,0,0,1-2.19,2.2l-1.56,1.48v.11H186Z"/><rect class="cls-14" x="101.28" y="161.05" width="151.41" height="32.2" rx="8.75" ry="8.75"/><path class="cls-15" d="M110.61,164.1H242.25a6.75,6.75,0,0,1,6.75,6.75v12.61a6.75,6.75,0,0,1-6.75,6.75H111.73a6.75,6.75,0,0,1-6.75-6.75V169.73A5.63,5.63,0,0,1,110.61,164.1Z"/><path class="cls-13" d="M120.94,179.46a3.29,3.29,0,0,1-1.28,2.75,5.56,5.56,0,0,1-3.46,1,8.62,8.62,0,0,1-3.65-.61v-1.5a8.71,8.71,0,0,0,1.79.55,8.92,8.92,0,0,0,1.91.2,3.83,3.83,0,0,0,2.34-.59,1.92,1.92,0,0,0,.78-1.63,2.07,2.07,0,0,0-.28-1.14,2.55,2.55,0,0,0-.93-.82,13.08,13.08,0,0,0-2-.84,6.37,6.37,0,0,1-2.66-1.58,3.49,3.49,0,0,1-.8-2.38,3,3,0,0,1,1.16-2.46,4.85,4.85,0,0,1,3.06-.91,9.13,9.13,0,0,1,3.66.73l-.48,1.35a8.29,8.29,0,0,0-3.21-.69,3.08,3.08,0,0,0-1.93.53,1.74,1.74,0,0,0-.69,1.47,2.13,2.13,0,0,0,.26,1.13,2.26,2.26,0,0,0,.86.81,10.4,10.4,0,0,0,1.85.82,7.35,7.35,0,0,1,2.89,1.6A3.17,3.17,0,0,1,120.94,179.46Z"/><path class="cls-13" d="M126.47,183V169.67H128V183Z"/><path class="cls-13" d="M140.38,183l-4.52-11.82h-.08c.09.93.13,2.05.13,3.34V183h-1.43V169.67h2.34l4.22,11h.07l4.26-11h2.32V183h-1.55v-8.59q0-1.48.12-3.21h-.07L141.63,183Z"/><path class="cls-13" d="M164.22,169.67v8.63a4.71,4.71,0,0,1-1.38,3.59,5.28,5.28,0,0,1-3.78,1.3,5.08,5.08,0,0,1-3.73-1.31,4.87,4.87,0,0,1-1.32-3.61v-8.6h1.55v8.71a3.46,3.46,0,0,0,.91,2.56,3.73,3.73,0,0,0,2.69.89,3.56,3.56,0,0,0,2.6-.9,3.46,3.46,0,0,0,.91-2.57v-8.69Z"/><path class="cls-13" d="M170.55,183V169.67h1.55V181.6H178V183Z"/><path class="cls-13" d="M191.43,183l-1.66-4.24h-5.34L182.79,183h-1.57l5.27-13.39h1.3L193,183Zm-2.14-5.64-1.55-4.13c-.2-.52-.41-1.16-.62-1.93a18.34,18.34,0,0,1-.58,1.93L185,177.37Z"/><path class="cls-13" d="M203.38,170.87a4.39,4.39,0,0,0-3.47,1.46,5.9,5.9,0,0,0-1.27,4,6,6,0,0,0,1.23,4,4.35,4.35,0,0,0,3.5,1.42,11.68,11.68,0,0,0,3.18-.5v1.36a9.77,9.77,0,0,1-3.42.52,5.76,5.76,0,0,1-4.55-1.79,7.34,7.34,0,0,1-1.6-5.08,8.06,8.06,0,0,1,.77-3.61,5.54,5.54,0,0,1,2.23-2.39,6.72,6.72,0,0,1,3.42-.84,8.3,8.3,0,0,1,3.67.77l-.66,1.33A7.14,7.14,0,0,0,203.38,170.87Zm1.13,14.77a1.58,1.58,0,0,1-.7,1.37,3.6,3.6,0,0,1-2.07.49,4,4,0,0,1-.87-.09v-1a5.3,5.3,0,0,0,.94.07,2.53,2.53,0,0,0,1.09-.18.68.68,0,0,0,.37-.68.73.73,0,0,0-.36-.63,3.82,3.82,0,0,0-1.35-.4l.8-1.62h1l-.51,1.05C204,184.3,204.51,184.82,204.51,185.64Z"/><path class="cls-13" d="M220.64,183,219,178.77h-5.34L212,183h-1.57l5.27-13.39H217L222.25,183Zm-3-14.42a1.91,1.91,0,0,1-.77-.17c-.24-.11-.49-.24-.73-.37s-.47-.27-.69-.38a1.47,1.47,0,0,0-.65-.17.81.81,0,0,0-.68.28,1.83,1.83,0,0,0-.36.83h-.9a3.21,3.21,0,0,1,.64-1.73,1.7,1.7,0,0,1,1.36-.63,2.06,2.06,0,0,1,.81.17,6.59,6.59,0,0,1,.75.38l.68.37a1.42,1.42,0,0,0,.62.17.82.82,0,0,0,.67-.27,2.22,2.22,0,0,0,.36-.84h.9A3.13,3.13,0,0,1,219,168,1.68,1.68,0,0,1,217.65,168.59Zm.85,8.78L217,173.24c-.2-.52-.41-1.16-.62-1.93a18.34,18.34,0,0,1-.58,1.93l-1.57,4.13Z"/><path class="cls-13" d="M238.46,176.32a7.34,7.34,0,0,1-1.62,5,5.7,5.7,0,0,1-4.5,1.83,5.78,5.78,0,0,1-4.55-1.8,7.39,7.39,0,0,1-1.6-5.08,7.29,7.29,0,0,1,1.61-5.05,5.79,5.79,0,0,1,4.56-1.8,5.65,5.65,0,0,1,4.48,1.83A7.29,7.29,0,0,1,238.46,176.32Zm-10.63,0a6.31,6.31,0,0,0,1.16,4.11,4.72,4.72,0,0,0,6.7,0,6.45,6.45,0,0,0,1.13-4.12,6.38,6.38,0,0,0-1.13-4.08,4,4,0,0,0-3.33-1.39,4.12,4.12,0,0,0-3.37,1.4A6.25,6.25,0,0,0,227.83,176.32Z"/></svg>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_4/topico_1/4"
  next="unid_4/topico_2/1"
  pag="5" total="5">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
<!-- Modal -->
<modal target="1" titulo="Simulação 1">
  <div ng-include src="'views/unidade_4/modal/01.html'"></div>
</modal>
<modal target="2" titulo="Simulação 2">
  <div ng-include src="'views/unidade_4/modal/02.html'"></div>
</modal>
<modal target="3" titulo="Simulação 3">
  <div ng-include src="'views/unidade_4/modal/03.html'"></div>
</modal>
<modal target="4" titulo="Simulação 4">
  <div ng-include src="'views/unidade_4/modal/04.html'"></div>
</modal>
<modal target="5" titulo="Simulação 5">
  <div ng-include src="'views/unidade_4/modal/05.html'"></div>
</modal>
<modal target="6" titulo="Simulação 6">
  <div ng-include src="'views/unidade_4/modal/06.html'"></div>
</modal>
<modal target="7" titulo="Simulação 7">
  <div ng-include src="'views/unidade_4/modal/07.html'"></div>
</modal>
<modal target="8" titulo="Simulação 8">
  <div ng-include src="'views/unidade_4/modal/08.html'"></div>
</modal>
<modal target="9" titulo="Simulação 9">
  <div ng-include src="'views/unidade_4/modal/09.html'"></div>
</modal>
<modal target="10" titulo="Simulação 10">
  <div ng-include src="'views/unidade_4/modal/10.html'"></div>
</modal>
<modal target="11" titulo="Simulação 11">
  <div ng-include src="'views/unidade_4/modal/11.html'"></div>
</modal>
<modal target="12" titulo="Simulação 12">
  <div ng-include src="'views/unidade_4/modal/12.html'"></div>
</modal>