<!-- Cabeçalho -->
<info
  unidade="2"
  tema="3"
  unome="{{unidades[1].nome}}"
  anome="{{unidades[1].atividade[2].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <img src="assets/images/unidade_2/encaminhar.svg" class="img-responsive">
      <p>O Cartão Babel de Saúde Mental na Atenção Básica é um cartão que possui instrumentos de avaliação em saúde mental na atenção básica, incluindo instrumentos de triagem de transtornos do humor, transtornos ansiosos, avaliação do risco de suicídio, demência, álcool e tabaco. Clique <a href="assets/pdf/unidade_2/cartao_babel.pdf" target="_blank" class="link-page"><b>aqui</b></a> e acesse o documento.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_2/topico_2/2"
  next="unid_3/topico_1/1"
  pag="1" total="1">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>