<!-- Cabeçalho -->
<info
  unidade="3"
  tema="3"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[2].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
  		<p>Explicar o problema e garantir a existência de tratamento para as crises e o transtorno, assim, como um bom relacionamento médico-paciente é fundamental. Durante as crises, pode-se incialmente recorrer a técnicas de respiração e/ou práticas de relaxamento, se não houver melhora dos sintomas pode-se fazer uso imediato de diazepam 5mg ou outro benzodiazepínico disponível, devendo esses serem usados com cautela e por tempo limitado (FORLENZA, et al, 2014). </p>
			<p>Quadro: Como tratar Ansiedade </p>
			<br>
			<div class="table-responsive">
        <table class="table">
          <thead class="active">
            <tr>
              <th class="text-center">Classe</th>
              <th class="text-center">Nome Químico</th>
              <th class="text-center">Meia vida</th>
              <th class="text-center">Dose</th>
							<th class="text-center">Posologia</th>
							<th class="text-center">Apresentação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="5">Benzodiazepínicos</td>
              <td>Alprazolam</td>
              <td>Meia vida 6-20 horas</td>
              <td>0,25 – 6mg/dia</td>
              <td>Dose dividida até 3 vezes ao dia.</td>
              <td>0,25mg, 0,5mg, 1mg, 2mg</td>
            </tr>
            <tr>
              <td>Clonazepam</td>
              <td>Meia vida de 20 a 40horas</td>
              <td>0,25 a 2mg/dia</td>
              <td>1x/dia a noite.</td>
              <td>0,5mg, 2mg, solução 2,5mg/ml</td>
            </tr>
            <tr>	              	
              <td>Diazepam</td>
              <td>Meia vida de 20-80 horas</td>
              <td>5-20mg/dia</td>
              <td>Dose divididas até 2 x/dia Administração referencial a noite)</td>
              <td>5mg, 10mg</td>
            </tr>
            <tr>             	
              <td>Lorazepam</td>
              <td>Meia vida de 8 a 16 horas</td>
              <td>1 a 4mg por dia</td>
              <td>Dose dividida até em 3x/dia.</td>
              <td>1mg, 2mg</td>
            </tr>		              
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_2/4"
  next="unid_3/topico_3/2"
  pag="1" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
