<!-- Cabeçalho -->
<info
  unidade="3"
  tema="3"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[2].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
  		<p>Os pacientes devem ser tratados com uma combinação de farmacoterapia e psicoterapia. Dentre as medicações, usam-se os antidepressivos. Elas devem ser iniciadas e progredidas de forma semelhante ao que se faz na depressão. Costuma-se tentar retirar a medicação após um ano em que o paciente se mantém sem crises. Após o tratamento, 30% apresentam remissão do quadro; 40-50%, melhora parcial (redução importante da frequência, mas ainda sintomáticos); e 20-30% referem sintomas iguais ou levemente piores (KAPLAN, H.; SADOCK, B.; GREBB, 1997).</p>
			<p>Para o Transtorno de Ansiedade Generalizada, a psicoeducação e a psicoterapia também são importantes. Recomenda-se o uso de antidepressivos, mas esperando-se até seis a oito semanas para avaliar mudança na medicação. A remissão também é buscada, embora seja mais difícil de acontecer, principalmente quando não associada a psicoterapia.</p>
			<div class="row">
				<div class="col-md-10">
					<p>O uso de um benzodiazepínico por um período prolongado pode causar dependência. Esta é caracterizada por tolerância e surgimento de sintomas de abstinência após a interrupção da medicação. Em casos de dependência de benzodiazepínicos o desmame deve ser feito de forma gradual.</p> 
					<p>Caso a dependência ocorra com a utilização de um benzodiazepínico de meia vida curta (alprazolam, lorazepam), este deve ser incialmente trocado por um de meia vida longa (diazepam, clonazepam) para então ser iniciado o desmame gradual.</p>
				</div>
				<div class="col-md-2">
          <!-- <p class="text-center"><small>(Clique no livro para ler o E-book “VENCENDO O PÂNICO”)</small></p> -->
					<img src="assets/images/unidade_3/pagina11.svg" class="img-responsive" align="center">
				</div>
		  </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_3/1"
  next="unid_4/topico_1/1"
  pag="2" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>