<div class="col-md-12 course-content">
  <h4>{{unidades[0].label}} – {{unidades[0].nome}}</h4>
  <p class="text-justify">Nesta unidade serão introduzidos os conceitos da política de EPS, seu processo de implantação, sua função e composição, e importância processo de formação dos profissionais de saúde.</p>
  <hr class="hr-divisor">
  <div class="row" ng-repeat="topico in unidades[0].topico">
    <div class="col-md-2 text-center">
      <img src="{{topico.imagem}}" width="160" alt=""  class="img-circle img-unidade-status">
    </div>
    <div class="col-md-10 text-justify center-if-mobile">
      <h3>{{topico.nome}}</h3>
      <p><b>Objetivo:</b> {{topico.objetivo}}</p>
      <br>
      <div class="row">
        <div class="col-md-3">
          <a ng-href="{{topico.url}}" class="btn btn-course">Acessar esse tópico</a>
        </div>
      </div>
    </div>
    &nbsp;<br><br><hr>
  </div>
</div>