<div class="col-md-10 col-md-offset-1">
	<h4 class="text-center">Autoria das Unidades</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perferendis veniam minus aperiam et. Esse corporis, minus recusandae libero consectetur architecto itaque nisi aliquam earum ducimus illo, eaque impedit veniam.</p>
</div>