<div class="col-md-12">
  <h3>Módulo Saúde Mental</h3>
  <p class="text-justify">Caro cursista, <br>Este módulo pretende apresentar conhecimentos que possibilitem efetividade e resolubilidade das ações de saúde mental na atenção básica.</p><br>
  <div class="row" ng-repeat="unidade in unidades">
    <div class="col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center">
      <img src="assets/images/{{unidade.imagem}}" alt="capa da {{unidade.label}}" class="img-circle img-unidade-status img-responsive" style="display:inline;">
    </div>
    <div class="col-md-10 col-xs-12 text-justify">
      <h3>{{unidade.label}} - {{unidade.nome}}</h3>
      <p><b>Objetivo:</b> {{unidade.objetivo}}</p>
      <br>
      <div class="row">
        <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-6 col-xs-offset-3 text-center">
          <a ng-href="{{unidade.url}}" class="btn btn-success">Acessar essa unidade</a>
          <br><br>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <br>
    </div>
  </div>
</div>