<!-- Cabeçalho -->
<info
  unidade="5"
  tema="1"
  unome="{{unidades[4].nome}}"
  anome="{{unidades[4].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>A palavra droga é popularmente usada como sinônimo de droga psicotrópica ou psicoativa, referindo-se a qualquer substância que atua no funcionamento cerebral, causando alterações psíquicas e comportamentais. De forma geral, as drogas agem liberando dopamina no SNC, ocasionando sensação de prazer.</p>
      <p>Vários fatores influenciam o consumo de drogas, sejam eles culturais como busca por sensação de prazer e por identificação dentro de determinado grupo social, sejam fatores como problemas relacionais, desemprego, más condições de saúde e educação, falta de opções de lazer. Além disso, o consumo de drogas pode agravar os problemas sociais de um indivíduo, da família, da comunidade. Tal fenômeno complexo requer que abordagens diversas sejam tomadas, tanto em relação à promoção à saúde, prevenção e tratamento, tendo como como premissa o respeito à cidadania e à autonomia dos usuários. Isso requer que a atenção seja integral e intersetorial.</p>
      <img src="assets/images/unidade_5/infographic.svg" class="img-responsive">
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_4/topico_2/2"
  next="unid_5/topico_1/2"
  pag="1" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>