<!-- Cabeçalho -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <p class="module-name">Módulo Saúde Mental na Atenção Primária</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center pad">
      <ul class="nuteds-menu">
        <li tooltip="Atividade" class="ng-scope">
            <a href="#/atividade">
            <img src="assets/images/learn.svg" alt="" width="30" height="30">
          </a>
        </li>
        <li tooltip="Material de apoio" class="ng-scope">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#mtc-apoio">
            <img src="assets/images/pocket-guide.svg" alt="" width="30" height="30">
          </a>
        </li>
        <li tooltip="Conteúdo off-line" class="ng-scope">
            <a href="assets/pdf/texto_impressao.pdf" target="_blank">
            <img src="assets/images/learning.svg" alt="" width="30" height="30" class="pad-top-5">
          </a>
        </li>
        <li tooltip="Referências" class="ng-scope">
          <a href="assets/pdf/referencias.pdf" target="_blank">
            <img src="assets/images/learn-more.svg" alt="" width="30" height="30" class="pad-top-5">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <hr class="hr-divisorx">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span class="font-unid bold ng-binding">Atividade - Jogo das Palavras</span>
      <br><br>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <iframe src="views/atividade/teste.htm" height="700" width="100%" frameborder="0"></iframe>
    </div>                
  </div>
</div>
</div>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>