<!-- Cabeçalho -->
<info
  unidade="1"
  tema="1"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>De acordo com a Organização Mundial de Saúde (OMS), saúde mental não é apenas a ausência de transtornos mentais, é definida como um completo estado de bem-estar, no qual o indivíduo tem consciência de seu potencial, consegue lidar com os problemas do dia a dia, pode trabalhar produtivamente e está apto a contribuir com sua comunidade. Ressalte-se, ainda, que não existe definição oficial de saúde mental. Diferenças culturais, julgamentos subjetivos e outras teorias afetam o modo como a saúde mental é definida (WHO, 2007).</p>
      <p>Saúde mental é um termo usado para descrever o nível de qualidade de vida cognitiva ou emocional, podendo ser considerada como um estado mental sadio. Ademais, pode incluir a capacidade de um indivíduo de apreciar a vida e procurar um equilíbrio entre suas atividades e esforços para atingir objetivos pessoais (WHO, 2007). Clique <a href="javascript:void(0);" data-toggle="modal" data-target="#mtc-transtornos"><b>aqui</b></a> e veja  a definição de transtornos mentais.</p> 
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/unidade_1/saude-mental.svg" class="img-responsive">
        </div>
        <div class="col-md-9">
          <br>
          <p>Segundo estimativas do Ministério da Saúde, 3% da população brasileira é portadora de transtornos mentais severos e persistentes e necessita de cuidados contínuos em saúde mental, 10 a 15% é portadora de transtornos leves e moderados ou comuns e necessita de atendimento eventual, e 80% apresentam algum sofrimento psíquico com tendência à remissão espontânea. Observa-se, ainda, que de 6 a 8% da população necessita de algum cuidado decorrente do uso problemático de álcool ou outras drogas (BRASIL, 2003).</p>
          <p>Os transtornos mais graves necessitam de acompanhamento mais complexo, que envolva a atenção primária e especializada. Os demais podem ser tratados na atenção primária, com parte podendo necessitar, em pequena proporção, de especialista (GOLDBERG; GOURNAY, 1997).</p>
        </div>
      </div>
      <br>
      <p>Podem-se considerar transtornos mentais graves e persistentes aqueles que podem resultar em incapacitação importante, como a esquizofrenia, os transtornos mentais orgânicos e o transtorno bipolar. Os transtornos mentais leves a moderados seriam os de recorrência comum, com alguma incapacitação e resposta satisfatória aos tratamentos fármaco e psicológico, como depressão, ansiedade, pânico e transtorno obsessivo-compulsivo. Discute-se, ainda, a terminologia transtornos mentais comuns para definir aqueles com pouca incapacitação e tratamento psicológico eficiente (GOLDBERG; GOURNAY, 1997).</p>
    </div>                
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/"
  next="unid_1/topico_1/2"
  pag="1" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-transtornos" titulo="Transtornos Mentais e Sofrimento Psíquico">
  <div ng-include src="'views/unidade_1/modal/08.html'"></div>
</modal>