<!-- Cabeçalho -->
<info
  unidade="1"
  tema="1"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Em geral, utiliza-se o termo Transtornos Mentais Comuns (TMC) para descrever os quadros de múltiplos e inespecíficos sintomas, como irritabilidade, nervosismo, dores, fadiga, esquecimento, falta de concentração e memória, assim como manifestações que poderiam se caracterizar como sintomas depressivos, ansiosos ou somatoformes (APA, 1995; OMS, 1998; MARAGNO et al., 2006). O continuum e a comorbidade entre essas três síndromes, assim como a indiferenciação entre alguns dos sintomas, motiva a enquadrar como portador de TMC indivíduos que não necessariamente preencham os critérios diagnósticos, apesar disso, parte dessa população pode precisar de tratamento medicamentoso e cuidados específicos em saúde mental (FONSECA; GUIMARÃES; VASCONCELOS, 2008).</p>
      <p>Os TMC, frequentes em serviços de saúde do mundo, causam prejuízos e incapacidades funcionais comparáveis, ou mais graves, que os transtornos crônicos, duas vezes mais queixas de doenças físicas do que nos usuários de serviços de saúde que não apresentam TMC, assim como taxas de mortalidade mais altas quando comparados com a população em geral, prejuízos significativos nas capacidades sociais e físicas, além de ser uma das mais importantes causas de morbidade na atenção primária. No campo da atenção primária, ou da prática médica não psiquiátrica, isto se torna ainda mais relevante se considerar a presença de comorbidades, que agravam o prognóstico de ambos os problemas, tanto por piora do quadro clínico principal quanto por aderência inadequada aos tratamentos propostos (GOLDBERG; GOODYER, 2005; MARAGNO et al., 2006; ARAÚJO et al., 2005; PATEL; KLEINMAN, 2003).</p>
      <div class="box-cor-tema">
        <p>Retirar esses usuários de categorias pré-estabelecidas ou preconceituosas - como poliqueixosos ou pitiáticos – e perceber as necessidades de cuidado e acolhimento, é um grande desafio para os profissionais da ponta, assim como para seus processos de trabalho.</p>
      </div>
      <br>
      <p>Outro elemento importante a ser considerado é a proposta de novas formas de abordagem dessa problemática nos serviços, a representação de doença e de sofrimento psíquico nas classes populares, obviamente distinta das representações que sustentam os saberes médicos e psicológicos modernos, centrados na separação nítida entre corpo e mente, entre sujeito e mundo (FONSECA; GUIMARÃES; VASCONCELOS, 2008).</p>
    </div>                
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_1/1"
  next="unid_1/topico_1/3"
  pag="2" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>