<!-- Cabeçalho -->
<info
  unidade="1"
  tema="1"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="text-center"><small>Clique no vídeo para visualizar a introdução do curso.</small></p>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F1Di58THc0M?showinfo=0&rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <br>
      <p><b>Saúde mental no Brasil</b></p>
      <p>Em seu processo histórico, a reforma da assistência à saúde mental no Brasil fortaleceu-se no final da década de 70, com o Movimento dos Trabalhadores em Saúde Mental formado por diversos atores como profissionais de saúde, associações de familiares com longo histórico de internações em hospitais psiquiátricos, sanitaristas e sindicalistas. O Movimento criticava a lógica hospitalocêntrica e asilar de tratamento, permeada por situações de violência e maus-tratos. Houve inspiração no movimento italiano que em 1973 estabeleceu a abolição dos hospitais psiquiátricos naquele país.</p>
    </div>                
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_1/2"
  next="unid_1/topico_1/4"
  pag="3" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>