<!-- Cabeçalho -->
<info
  unidade="1"
  tema="1"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-10">
          <p>Após um longo processo de luta, o movimento brasileiro culminou com o que ficou conhecido como Reforma Psiquiátrica no Brasil, com a promulgação em 2001 da Lei nº 10216, que dispõe sobre a proteção e os direitos das pessoas portadoras de transtornos mentais e redireciona o modelo assistencial em saúde mental, no qual o usuário deve ser tratado preferencialmente em serviços comunitários de saúde mental e a internação, em qualquer de suas modalidades, só será indicada quando os recursos extra-hospitalares se mostrarem insuficientes (Brasil, 2001).</p>
        </div>
        <div class="col-md-2">
          <img src="assets/images/unidade_1/brasil.svg" class="img-responsive">
        </div>
      </div>
      <p>Vários avanços foram conquistados desde então, com a instituição de diversos serviços voltados para assistência à saúde mental como os Centros de Atenção Psicossocial, Serviços Residenciais Terapêuticos e o Programa de Volta para Casa, para pessoas com longo histórico de internação hospitalar e o Programa Nacional de Avaliação dos Serviços Hospitalares (PNASH/Psiquiatria), que estabeleceu normas e diretrizes para a internação hospitalar em psiquiatria.</p>
      <p><b>Reforma Psiquiátrica no Brasil:</b></p>
      <p>A Reforma Psiquiátrica é um processo complexo, que envolve diversos atores nos âmbitos: Federal, Estadual e Municipal. Para conhecer mais sobre a reforma clique <a href="assets/pdf/unidade_1/relatorio15_anos_caracas.pdf" target="_blank" class="link-page"><b>aqui</b></a>.</p>
      <p>No livro Holocausto Brasileiro, publicado em 2013, a jornalista e autora Daniela Arbex traz à tona a realidade no que foi considerado o maior hospício do Brasil no século XX, conhecido como “Colônia” e localizado na cidade mineira de Barbacena.</p>
      <p>Clique <a href="http://www1.folha.uol.com.br/livrariadafolha/2013/06/1290146-holocausto-brasileiro-resgata-historia-de-60-mil-mortos-em-hospicio-mineiro.shtml" target="_blank" class="link-page"><b>aqui</b></a> para ler a matéria da Folha de São de Paulo retratando como a história de 60 mil mortos.</p>
    </div>                
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_1/3"
  next="unid_1/topico_2/1"
  pag="4" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>