<p>O primeiro CAPS do Brasil foi criado em 1987, na cidade de São Paulo e em março de 2017 houve a comemoração dos 30 anos do serviço. O serviço recebe o nome de “CAPS  Prof. Luis da Rocha Cerqueira, sendo mais conhecido como CAPS Itapeva. Em 1991, surgiu o primeiro CAPS do estado do Ceará no município de Iguatu.</p>
<p>Em 1989 foram criados, em Santos, os Núcleos de Apoio Psicossocial (NAPS), com atenção 24 horas, posteriormente denominados de CAPS II.</p>