<script src="assets/js/scripts.js"></script>
<!-- Cabeçalho -->
<info
  unidade="5"
  tema="2"
  unome="{{unidades[4].nome}}"
  anome="{{unidades[4].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>As intervenções devem ter como norte a questão do uso abusivo de substâncias psicoativas enquanto um fenômeno complexo, que requer respostas intersetoriais; a redução de danos como estratégia e diretriz de gestão de cuidado; a preconização de ações voltadas para promoção da saúde, prevenção, tratamento e reabilitação social, com foco em superar o senso comum sobre os usuários de drogas e o fortalecimento da autonomia dos usuários para o exercício de sua cidadania e coesão social (BRASIL, 2015).</p>
      <p>O conceito de Redução de Danos tem sido consolidado como um dos princípios da Política de Saúde Mental, Álcool e Outras Drogas, do Ministério da Saúde (MS). Para tanto, instituiu as Portarias nº 1.028 e nº 1.059, em julho de 2005, determinando ações que visam a reduções de danos sociais e à saúde, decorrentes do uso de produtos, substâncias ou drogas que causam dependência, e o recurso financeiro para desenvolver estas ações nos Caps.</p>
      <p>No contexto da atenção à saúde, as estratégias devem evitar julgamento moral e intervenções autoritárias ou preconceituosas, que afastam do cuidado os usuários muitas vezes já marginalizados em todos os âmbitos sociais. Além disso, a abordagem deve priorizar o cuidado no território, o fortalecimento dos vínculos familiares e a reinserção social e laboral.</p>
      <p>Clique em cada número para ler os elementos da rede de atenção à população com problemas decorrentes do uso abusivo de álcool e outras drogas:</p>
      <br>
      <div class="row">
        <div class="col-md-12 col-sm-12 row-bg-linha hidden-xs">
          <div class="col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="1">
              <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="2">
              <div class="box-circulo"><span class="box-circulo-link">2</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="3">
              <div class="box-circulo"><span class="box-circulo-link">3</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="4">
              <div class="box-circulo"><span class="box-circulo-link">4</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="5">
              <div class="box-circulo"><span class="box-circulo-link">5</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="6">
              <div class="box-circulo"><span class="box-circulo-link">6</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="7">
              <div class="box-circulo"><span class="box-circulo-link">7</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="8">
              <div class="box-circulo"><span class="box-circulo-link">8</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="9">
              <div class="box-circulo"><span class="box-circulo-link">9</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="10">
              <div class="box-circulo"><span class="box-circulo-link">10</span></div>
            </a>
          </div>
        </div>
      </div>
      <div class="row visible-xs">
        <p class="visible-xs text-center"><b>Melhor visualizado em modo paisagem (Horizontal)</b></p>
        <br>
      </div>
      <!-- Mobile -->
      <div class="row visible-xs">
        <div class="col-xs-12 row-bg-linha">
          <div class="col-xs-offset-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="1">
              <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="2">
              <div class="box-circulo"><span class="box-circulo-link">2</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="3">
              <div class="box-circulo"><span class="box-circulo-link">3</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="4">
              <div class="box-circulo"><span class="box-circulo-link">4</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="5">
              <div class="box-circulo"><span class="box-circulo-link">5</span></div>
            </a>
          </div>
        </div>
      </div>
      <br>
      <!-- Mobile 2-->
      <div class="row visible-xs">
        <div class="col-xs-12 row-bg-linha">
          <div class="col-xs-offset-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="6">
              <div class="box-circulo"><span class="box-circulo-link">6</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="7">
              <div class="box-circulo"><span class="box-circulo-link">7</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="8">
              <div class="box-circulo"><span class="box-circulo-link">8</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="9">
              <div class="box-circulo"><span class="box-circulo-link">9</span></div>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="10">
              <div class="box-circulo"><span class="box-circulo-link">10</span></div>
            </a>
          </div>
        </div>
      </div>
      <!-- Conteudo box -->
      <br>
      <div class="row">
        <div class="col-md-12 box-cor-tema text-center texto-conteudo">
          <div>
            Unidades de Atenção Primária à Saúde;
          </div>
          <div>
            Consultórios na Rua;
          </div>
          <div>
            Serviços de Urgência e Emergência (SAMU, UPAS)
          </div>
          <div>
            Leitos em Hospitais Gerais;
          </div>
          <div>
            Unidades de Acolhimento Transitórias;
          </div>
          <div>
            Leitos de Atenção Integral nos CAPS-AD III;
          </div>
          <div>
            Casas de Passagem;
          </div>
          <div>
            Recursos da Comunidade - Comunidades Terapêuticas, Grupos de Ajuda Mútua (AA, NA);
          </div>
          <div>
            CAPS-AD;
          </div>
          <div>
            Serviços especializados conveniados ou não ao SUS. Saiba mais com a portaria  de nº 1.208 de 2005.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_5/topico_1/2"
  next="unid_5/topico_2/2"
  pag="3" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>