<!-- Cabeçalho -->
<info
  unidade="5"
  tema="2"
  unome="{{unidades[4].nome}}"
  anome="{{unidades[4].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Algumas ferramentas podem ajudar na detecção do uso problemático de álcool e outras drogas, facilitando abordagem e principalmente uma intervenção precoce. Dentre os vários instrumentos de triagem disponíveis estão o CAGE e o AUDIT, para uso de álcool e o ASSIST para uso de álcool, tabaco e outras drogas. Tais instrumentos foram desenvolvidos pela Organização Mundial da Saúde (OMS) e podem ser facilmente aplicados na APS.</p>
      <p class="text-center">Em casos de dependência, deve-se avaliar o estágio motivacional do paciente veja na imagem.</p>
      <br>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img src="assets/images/unidade_5/infographic_2.svg" class="img-responsive">
        </div>
      </div>
      <br>
      <p>No tabagismo, recomenda-se marcar o dia D (dia da parada). Após a interrupção, é recomendável a pessoa se afastar de outros tabagistas em momentos de fumo. Grupos de auto-ajuda são muito importantes. Pode-se usar adesivos, gomas de nicotina ou bupropriona.</p>
      <p>Na intoxicação alcoólica, é recomendável o suporte ventilatório, o controle hidroeletrolítico e a regulação térmica e pressórica. Por isso, o ideal é encaminhá-lo a uma emergência clínica. Deve-se administrar tiamina (300mg IM) para evitar Encefalopatia de Wernicke. Em casos de agitação intensa, pode-se administrar haloperidol. Já em casos de abstinência, o tratamento é feito com benzodiazepínicos, principalmente os de meia-vida longa, como o diazepam.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_5/topico_2/1"
  next="unid_6/topico_1/1"
  pag="4" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>

<!-- 
Álcool
A ingesta alcoólica costuma provocar inicialmente uma breve fase de euforia e desinibição. Com o aumento do consumo, sucedem sintomas de lentificação psicomotora, prejuízo à coordenação e capacidade de julgamento. Associado a essas manifestações, também costumam surgir comportamento sexual inadequado, agressividade, humor instável, prejuízo no julgamento e/ou menor funcionamento social e ocupacional. A esse conjunto de sintomas, dá-se o nome de intoxicação alcoólica.
Já a abstinência alcoólica é uma síndrome secundária a cessação ou intensa redução do uso pesado e/ou prolongado do álcool. Casos leves são marcados por tremores grosseiros, insônia, náuseas, vômitos e disautonomia (sudorese, taquicardia, taquipneia e tremores), além de leve ansiedade e irritabilidade. Em casos mais graves, podem ocorrer convulsões tipo tônico-clônico generalizadas, sintomas psicóticos e rebaixamento do nível de consciencia.

Nicotina
Já a abstinência de nicotina é uma síndrome após a cessão ou redução abrupta do consumo de nicotina em pacientes em uso intenso e crônico. Ela é marcada por irritação, inquietação, ansiedade, insônia e dificuldade de concentração.

Cannabis ou Maconha
Agudamente, a cannabis ou maconha produz sensação de relaxamento e leve euforia. Os usuários costumam ter a impressão de o tempo passar mais devagar ou de alheamento e em relação ao lugar. Referem intensificação das experiências auditivas, visuais e táteis. As conjuntivas tendem a ficar hiperemiadas; a boca, seca; e o apetite, aumentado. Em geral, esses efeitos não causam grande repercussão e cessam espontaneamente, não motivando busca por assistência médica.
Seu uso crônico se relaciona com DPOC e síndrome amotivacional, marcada por alterações comportamentais (como isolamento, passividade, auto-negligência), cognitivas (diminuição da atenção, concentração e memória) e volitivas (relativa abulia e apatia). Além disso, existe uma relação bem documentada entre cannabis e desenvolvimento de esquizofrenia. A existência ou não de dependência de cannabis ainda não está clara, bem como não foi bem caracterizada nenhuma síndrome de abstinência relacionada.

Cocaína e derivados (crack) 
A cocaína pode se apresentar na forma de um pó branco, de pureza variável, que costuma ser inalado. Pode também ser misturada com amoníaco e bicarbonato dissódico e aquecido, produzindo o crack, forma bastante adictiva e geralmente fumada. Muitas vezes, usa-se maconha misturada ao crack com o objetivo de aliviar seus efeitos estimulantes, composto denominado mesclado. O risco de dependência é alto, principalmente na forma de crack.
Dentre seus efeitos agudos, a cocaína costuma causar aumento da auto-confiança e da energia, além de insônia. Doses mais altas podem se associar a euforia ou irritablidade, agitação, desinibição e sintomas psicóticos exuberantes, com delírios persecutórios e alucinações vívidas visuais e táteis. Em usuários crônicos, após 24 a 48h do último consumo, começa-se sintomas de abstinência: apatia e adinamia, intercaladas com períodos de intensa fissura e ansiedade. Tanto a intoxicação como a abstinência de cocaína costumam cursar com sintomas bem intensos, requerendo internação em grande parte dos casos.

 -->