<!-- Cabeçalho -->
<info
  unidade="3"
  tema="1"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Em uma sociedade com tantas cobranças, tornam-se cada vez mais comuns problemas relacionados à ansiedade com prejuízos individuais e coletivos, como doenças orgânicas, transtornos mentais, faltas no trabalho, baixo desempenho acadêmico e ocupacional, etc. Em muitas pesquisas, os transtornos ansiosos aparecem como o grupo de transtornos mentais mais prevalentes na população. Devido à alta prevalência e aos grandes prejuízos associados, espera-se que seja bem estudado e conduzido por qualquer médico (CORDIOLI; MANFRO, 2004; MIGUEL, et. al 2011). </p>
		  <br>
		 	<div class="row">
				<div class="col-md-2">
					<img src="assets/images/unidade_3/pagina1.svg" class="img-responsive" align="center">
				</div>			 		
				<div class="col-md-10">
          <div class="box-cor-tema">
            <p><b>Ansiedade</b> é um estado de emoção normal e experimentado por todas as pessoas. Ela costuma se manifestar em situações de perigo ou diante de eventos negativos da vida (perda de entes queridos, demissão, adoecimento, situações de abandono, etc.), funcionando como um alerta para a adoção das medidas necessárias para resolver a situação. Assim, a ansiedade é uma reação fisiológica essencial para a adaptação do indivíduo a novas situações (CORDIOLI; MANFRO, 2004)</p>
          </div>				
				</div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_2/topico_3/1"
  next="unid_3/topico_1/2"
  pag="1" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>