<!-- Cabeçalho -->
<info
  unidade="3"
  tema="1"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
  		<div class="row">
  			<div class="col-md-8">
  				<p>A ansiedade se torna patológica quando surge na ausência de um estímulo externo ou representa uma resposta desproporcional a este com intensidade, frequência e duração aumentadas, causando sofrimento e prejuízo funcional. Nesses casos é descrita como uma emoção desagradável, geralmente associada a diferentes sintomas físicos (CORDIOLI;  MANFRO, 2004).</p>
  				<p>A ansiedade pode ser desencadeada diretamente por um ou mais agentes estressores específicos e costuma cessar após o término destes. </p>
  				<p>Nesses casos, a pessoa não apresenta queixas prévias à ocorrência do evento. Então, tende-se a pensar em uma <b>reação ou transtorno de ajustamento</b>.</p>
  			</div>
  			<div class="col-md-4">
  				<img src="assets/images/unidade_3/pagina2.svg" width="200" height="200" class="img-responsive" align="center">
  			</div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_1/1"
  next="unid_3/topico_1/3"
  pag="2" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>