<!-- Cabeçalho -->
<info
  unidade="3"
  tema="1"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
			<p>Deve-se antes excluir outros possíveis diagnósticos.</p>
			<p><b>Intoxicação ou abstinência de substâncias psicoativas</b> bem como <b>doenças neurológicas</b> (neoplasias cerebrais, TCE, AVE, etc.) e condições sistêmicas (LES, endocrinopatias, uremia, hipoglicemia, intoxicações, etc.) devem ser sempre cogitadas e descartadas em casos de ansiedade aguda e em grande intensidade.</p>	
			<p>Em muitos casos, os sintomas ansiosos eclodem junto a um episódio depressão, integrando outros sintomas característicos como tristeza, adinamia, anedonia, ideias de morte e alteração do apetite. A esse evento, alguns autores denominam Transtorno Misto de Ansiedade e Depressão; outros, de Episódio Depressivo com Sintomas Ansiosos.</p>		
			<br>
		 	<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p align="center"><img src="assets/images/unidade_3/pagina3.svg" class="img-responsive" align="center"></p>
				</div>			 	
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_1/2"
  next="unid_3/topico_1/4"
  pag="3" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>