<!-- Cabeçalho -->
<info
  unidade="3"
  tema="1"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
			<p>Ansiosos de longa data apresentam preocupação excessiva e desproporcional com vários eventos da vida (saúde, filhos, emprego, finanças), tendendo a uma visão pessimista dos fatos. Isso se reflete em inquietação, dificuldade de concentração, insônia e irritabilidade. Sintomas físicos, como cefaléia, tensão muscular, dores difusas, taquicardia, tremores, sudorese e calores são comuns (MIGUEL; GENTIL; GATTAZ, 2011). Essas pessoas costumam apresentar intenso sofrimento e prejuízo funcional. Assim como em episódios depressivos, uma história clínica detalhada, um exame físico e neurológico completo e exames laboratoriais de rotina (hemograma, glicemia, sódio, potássio, TGO/ TGP, uréia, creatinina, TSH e T4L) devem ser realizados (LOUZÃ NETO, ELKIS, 2007).</p>  
 			<p>O quadro descrito trata-se do Transtorno de Ansiedade Generalizada (TAG)2,3.</p>		
			<div class="box-cor-tema">
				<p class="bold">Quadro: Critérios do DSM-V para o Transtorno de Ansiedade Generalizada</p>
				<ol type="A">
					<li>Ansiedade e preocupação excessivas, ocorrendo na maioria dos dias por pelo menos seis meses e relacionada a inúmeros eventos ou atividades (p.ex. trabalho e desempenho escolar).</li>
					<li>A preocupação é difícil de controlar.</li>
					<li>A ansiedade e a preocupação estão associados a três (ou mais) dos seguintes sintomas (com pelo menos alguns sintomas estando presente na maioria dos dias nos últimos seis meses):</li>
					<ul>
						<li>inquietação ou sensação de estar no limite;</li>
						<li>cansar-se facilmente;</li>
						<li>dificuldade de concentração; </li>
						<li>irritabilidade;</li>
						<li>tensão muscular; </li>
						<li>distúrbios do sono (dificuldade de iniciar ou manter o sono e sensação sono não satisfatório). </li>
					</ul>
					<li>Os sintomas físicos, preocupação ou ansiedade causam sofrimento clinicamente significante ou incapacidade em atividades sociais, ocupacionais ou outras.</li>
					<li>O transtorno não pode ser atribuído a: uma condição médica geral, uso de substâncias ou outro transtorno mental*. </li>
				</ol>	
				<p>* as condições médicas gerais, uso de substâncias ou outro transtorno mental, que precisam ser excluídas são as mesmas descritas no artigo “Características básicas do transtorno do pânico”.</p>
			</div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_1/3"
  next="unid_3/topico_2/1"
  pag="4" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>