* {
  font-family: 'Roboto', sans-serif;
  font-size:14px; 
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

p {
  font-size:14px; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.padding-8{ padding:8px;}

.cor-home{color:#777777;}

.strong{font-weight:bold;}

.row-bg-linha {
  background: url(../images/linha.png) repeat-x;
  background-position: center;
}

.unid-ativa{background-color:#d3d3d3;}
.hover-bold{ font:bold !important}
.background-escuro-row-tabela{background-color:#CECCB7}
.background-claro-row-tabela{background-color:#EBEBDF}

.tabela-espacamento-baixo {
  border-bottom:5px solid white;
}

.prism-espacamento-baixo {
  border-bottom:5px solid #DFDFCE;
}

.background-table-um {
  background:#c7bc9b;
  padding:4px;
}

.background-table-dois {
  background:#ded8c4;
  padding:4px;
}

.paginacao-espaco{ margin-left:-55px !important; margin-top:10px !important;}

.recurso-nutricao {
  background:white; border:1px solid #CABDAF;
  padding:10px 15px 10px 15px;
  overflow-x:hidden;
  max-height:330px;
}

.hack-div-center {
  display:table !important;
  vertical-align:middle;
  min-height: 88px;
}

.cabecalho-tabela {
  background: #605C50;
  text-transform: uppercase;
  color: #FFF;
  font-size:16px;
  padding:8px 10px 8px 10px;
}

.box-tabela{
  background-color:#EBEBDF;
  padding: 10px 12px 10px 12px;
}

.background-circulo {
  /*background:#d3d4b9 !important;*/
  border:3px solid #b43500 !important;
}

.img-hack {
  display:inline !important;
}

.box-circulo {
  border:3px solid #fe9743;
  background:white;
  border-radius:50%;
  width:40px;
  height:40px;
  font-size:24px !important;
}

.box-circulo-link {
  color:#605c4f !important;
  font-size:24px;
}

.link-page {
  color:#94955E;
}

.infografico-espaco {
  padding-left:40px;
}

.painel-cor {
  background:#dfdfcd !important;
}

.vcenter {
  font-size:40px;
  display:table !important;
  height:80px;
  color:#CCC;
  /*949561*/
}

.vcontent {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.conclusao-icon {
  color:#94955d;
  font-size:2em;
}

.conclusao-padding {
  padding-top:119px;
}

.tabela-titulo {
  background:#d4d4bb;
  padding:10px;
  text-transform: uppercase;
  color: #615c50;
  border-bottom: 5px solid #fff;
}

.tabela-doenca {
  background:#dfdfce;
  border-bottom:5px solid #FFF;
  text-transform: uppercase;
  padding:3px;
}

.tabela-subtitulo {
  background: #d4d4bb;
  text-transform: uppercase;
  color: #615c50;
  padding:5px;
  border-bottom: 5px solid #fff;
}

.tabela-decisao {
  background: #94955d;
  text-transform: uppercase;
  color: #FFF;
  font-size:12px;
  border-bottom: 5px solid #fff;
}

.box-cor-tema {
  /*background:#fe9743; */
  padding:20px;
  border:1px solid #fe9743;
}

.box-leia-mais {
  background:#fe9743; padding:20px;
  border-radius:15px;
}


.tabela-espaco {
  border-right:5px solid #fff;
}

.link-page:hover {
  color:#94955E;
}

.capa-padding {
  padding-top: 20px;
}

.pager-control {
  margin-top:0;
}

.pager-control2 {
  margin:0;
}

.capa-bottom {
  border-bottom: 1px solid #EEE;
}

.link-menu {
  color:#333;
  text-decoration:none;
  font-size:14px;
}

.borda-menu {
  border-left: 1px solid #eee;
}

.jumbotron-obj {
  background:#ebebe0;
  padding:15px;
  margin-bottom:10px;
}

.navbar {
  margin-bottom:10px;
}
.label-brasil {
  background:#e6e6e6;
}
.navbar-brasil {
  min-height:25px;
  margin-bottom: 0;
  padding-top: 5px;
  font-size: .8em;
}
.navbar-link-color {
  color:#555;
}