/*
  Components
*/

.atividade-titulo {
  font-size: 1em;
}

.text-modal {
  font-size: 1.2em;
  color:#8f8f6b;
}


.btn-customized {
  color: #fff;
  background-color: #95955D;
  border-color: #8F8F6B;
}
.btn-customized:hover,
.btn-customized:focus,
.btn-customized:active,
.btn-customized.active,
.open .dropdown-toggle.btn-customized {
  color: #fff;
  background-color: #D5D5BC;
  border-color: #8F8F6B;
}
.btn-customized:active,
.btn-customized.active,
.open .dropdown-toggle.btn-customized {
  background-image: none;
}
.btn-customized.disabled,
.btn-customized[disabled],
fieldset[disabled] .btn-customized,
.btn-customized.disabled:hover,
.btn-customized[disabled]:hover,
fieldset[disabled] .btn-customized:hover,
.btn-customized.disabled:focus,
.btn-customized[disabled]:focus,
fieldset[disabled] .btn-customized:focus,
.btn-customized.disabled:active,
.btn-customized[disabled]:active,
fieldset[disabled] .btn-customized:active,
.btn-customized.disabled.active,
.btn-customized[disabled].active,
fieldset[disabled] .btn-customized.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-customized .badge {
  color: #428bca;
  background-color: #fff;
}
.questionWrong {
  color:red;
  font-weight: bold;
}
.questionRight {
  color:green;
  font-weight: bold;
}