/*
  Content
*/
.content-box {
  border-radius:5px;
  border:1px solid #e6e6e6;
  padding:20px 10px 20px 10px;
  text-align:justify;
  margin-bottom:30px;
}
.titulo-box {
  color:#4d4d4d;
  padding:0 0 10px 0;
  font-size:1.3em;
  font-weight: normal;
  border-bottom: 1px solid #e6e6e6;
}