/* Correções Mobile */

@media only screen and (max-width: 768px) {
  .tabela-espaco-cel {  border-right:0px solid #fff;}
  
  
  #mybook{
    display: none;
  }
  
  .swiper-container, .swiper-wrapper, .swiper-slide, .pagination{
    display: inline-block !important;
  }
  
  .swiper-container {
      width: 311px;
    height: 450px;
      color: #fff;
      text-align: center;
  }

  #geral {
    box-shadow: none;
    border:0;
  }

  .header {
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom: 3px solid #de0500;
  }

  .menu-titulo {
    padding-top:15px;
    font-size:1em;
  }
}