/*
  HEADER
*/
.nuteds-jumbotron {
  background: #10af5b;
  background-position: right bottom;
  min-height:110px;
}
.img-nuteds-logo {
  vertical-align: middle !important;
  display: inline-block !important;
  padding-top: 20px;
}
.img-nuteds {
  vertical-align: middle !important;
  display: inline-block !important;
  padding-top: 20px;
}
.titulo-curso {
  color:#FFF;
  font-weight: normal;
  padding-top: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.logotipo {
  margin-top: 20px;
}