/*
  Media Queries
*/
@media (max-width: 480px) {
  .img-nuteds {width:100% !important; height:80px;}
  .titulo-curso {text-align: center;box-shadow: 1px 1px 2px #000; background:rgba(0,0,0,0.5); padding: 5px;}
  .margin-left-25 {margin-left:25%;}
  .prism-titulo span {display:none;}
  .prism-hack {display:table !important;vertical-align:middle;min-height:50px;}
  .prism-hack-6 {min-height:70px !important;}
  .hack-farmacologia-tabela-tamanho {min-height:95px;}
  .hack-remedio {min-height: 140px;}
  .hack-livros-u2-t3 {min-height: 150px;}
}

@media (max-width: 630px) {
  .text-menu, .text-learning-menu {display: none;}
  .icon-menu {width: 100% !important; text-align: center;}
  .nuteds-li {padding-top:10px;}
  .img-nuteds {vertical-align: middle;  width:10%; height:20%;}
  .margin-left-25 {margin-left:25%;}
  .display-phone {display:none;}
  .hack-espaco-direita {border-right:0}
}

@media (max-width: 992px) {
    .tabela-espaco-cel {
  border-right:5px solid #fff;
}
  .nuteds-li{float:left; width:25%;}
  .icon-menu {float:left;}
  .text-menu {width: auto !important;padding-top: 12px !important;}
  .img-nuteds {vertical-align:middle; width:112px;}
  .content-box-top {margin-top:30px;}
  .borda-menu {border-left:0 !important; border-top:1px solid #eee;padding-top:15px;}
  .conclusao-padding {padding-top:20px;}
  .hack-coracao {min-height:90px;}
}

@media (max-width: 1200px) {
    .tabela-espaco-cel {
  border-right:5px solid #fff;
}
  .icon-menu{margin:0 auto; width: 45px;}
  .text-menu {padding-top: 5px; width: 100%; text-align: center;}
  .text-learning-menu {padding-top: 5px; width: 100%; text-align: center;}
  .img-nuteds {vertical-align: middle !important;display: inline-block !important; padding-top: 25px; width:100%}
  .infografico-espaco {padding:0;}
  .prism-hack {display:table !important;vertical-align:middle;min-height:50px;}
}

@media (min-width: 1201px) {
    .tabela-espaco-cel {
  border-right:5px solid #fff;
}
  .icon-menu {float: left;}
  .text-menu {float:left; padding:12px 0 0 12px;}
  .text-learning-menu {float:left; padding:3px 0 0 12px;}
  .nuteds-li {margin-bottom: 40px;}
  .nuteds-li:last-child {margin-bottom: 0 !important;}
  .img-nuteds {vertical-align: middle !important;display: inline-block !important; padding-top: 25px; width:100%}
}