/*
  Menu
*/
.nuteds-ul {
  margin:0;
  list-style: none;
  padding:0;
}

.nuteds-li-none{
  list-style:none;
  text-decoration:none;
}
.nuteds-li {
  margin-bottom:10px;
}
.menu-link-color {
  color: #4d4d4d;
  text-decoration: none;
}
.menu-link-color:hover {
  color: #4d4d4d;
  text-decoration: none;
}

.menu-espaco {
  padding-left:5px;
}

/*
*/


.nuteds-marcador, .nuteds-menu {
  list-style:none;
  margin:0 !important;
  padding:0 !important;
}

.nuteds-menu {
  float:right;
}

.nuteds-menu li {
  float:left;
  padding:10px;
}

.logos {
  filter: brightness(0) invert(1);
  margin-top: 15px;
  display: inline;
  height: 80px;
  margin-bottom: 15px;
}

.panel-default>.panel-heading {
  background: #fbfbfb;
  padding: 5px;
  color: #337c38;
  cursor: pointer;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  text-align: left;
  background: #fbfbfb;
}