/**/
.modal-open {
    overflow: scroll !important;
}

.curso-label {
  margin-top: 5px;
}

.curso-label-xs {
  color: #fff;
  margin-top:25px;
}

.curso-label-xs p {
  font-size: 18px;
}

.curso-label-xs img {
  margin-bottom: 15px;
}

.curso-label-logo {
  width:20%;
  float:left;
  text-align: center;
}

.curso-label-nome {
  float:left;
  color:#fff;
  font-size: 20px;
}

.module-name {
  font-size: 20px;
  padding-top: 10px;
}

.tab-content >.active {
  display: block;
  visibility: visible;
  padding: 1em;
  border: 1px solid;
  border-color: #dddddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #EE7675!important;
    color: #FFF !important;
    border-radius: 10px;
    cursor: default;
}