
/*MTC*/
.panel-default>.panel-heading+.panel-collapse>.panel-body>p {
  text-align: justify;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border: 1px solid #2e7D32;
}

.table>thead {
  border-top: 1px solid #2e7D32;
}


.box-cinza {
  background: #eceff0;
  border-radius: 20px;
  padding:20px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  background: #f8f8f8 !important;
  border-color:#ccc;
  color: #ccc !important;
  cursor:not-allowed !important;
}