/* Bootstrap Mudanças */

.panel-footer {
  background: #f68c74;
  color:white;
}

.jumbotron-informe {
  margin:0;
  background:#fac5b9;
  padding:15px;
  font-size:1em;
  border:1px solid #f68c74;
}
.brown {
  color:brown;
}

.panel-without-margin {
  margin-bottom:0;
}

.swiper-container, .swiper-wrapper, .swiper-slide, .pagination{
  display: none;
}

.pagination-centered{text-align:center;}