/* Tabela PRISM7 */

.prism-titulo {
  background:#959460;
  padding:5px;
  color:white;
}

.prism-titulo span {
  display:inline;
}

.prism-linha-um {
  background:#c9cac4;
  padding:5px;
  color:#333;   
}

.tabela-padrao-subtitulo text-center {
  background:#e8eeee;
  padding:5px;
  color:#333;   
}

.prism-espaco {
  border-right:5px solid #e0dfcf;
}

.hack-center {
  display:table !important;
  vertical-align:middle;
}

.hack-coracao {
  min-height:588px;
  text-align:center;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.hack-farmacologia-tabela-tamanho {
  min-height: 55px;
}

.line-table {
  border-left: 1px solid #dddddd !important;
}

.hack-remedio {
  min-height: 130px;
}

.hack-livros-u2-t3 {
  min-height: 270px;
} 