/* Tabelas */

.tabela-padrao-titulo {
  background:#615c50;
  padding: 5px;
  color:#EAEADF;
  text-transform: uppercase;
}

.tabela-padrao-subtitulo {
  background:#c0bd98;
  padding: 5px;
  color:#615c50;  
}

.tabela-padrao-conteudo {
  background:#EAEADF;
  padding: 5px;
  color:#615c50;  
}

.tabela-incontinencia-titulo {
  background:#615c50;
  padding: 5px;
  color:#EAEADF;
  font-weight:bold;
}

.tabela-incontinencia-subtitulo {
  background:#c0bd98;
  padding: 5px;
  color:#615c50;  
}

.tabela-incontinencia-conteudo {
  background:#EAEADF;
  padding: 5px;
  color:#615c50;  
  min-height: 110px;
}

.prism-conteudo {
  background:#ebebe0;
  padding: 5px;
  color:#615c50;  
}

.collapse-background-active {
  background:#615c50 !important;
  padding: 5px;
  color:#ebebe0 !important;
  border:0;
}

.collapse-background {
  background:#ceccb7;
  padding: 5px;
  color:#4d4d4d;
  border:0;
}

.collapse-content {
  background:#ebebe0;
  padding: 5px;
  color:#615c50;  
  border:0;
}

.hack-espaco-direita {border-right:5px solid white;}