<!-- Cabeçalho -->
<info
  unidade="2"
  tema="1"
  unome="{{unidades[1].nome}}"
  anome="{{unidades[1].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-12 ">
          <img src="assets/images/unidade_2/depresao_tristeza.svg" class="img-responsive">
          <p class="text-right"><small>Fonte: (NUTEDS, 2017).</small></p>
        </div>
      </div>
      <br>
      <p>Embora informalmente tristeza e depressão sejam muitas vezes usadas como sinônimos, clinicamente são condições distintas. Tristeza é um estado ou sentimento fisiológico e passageiro, referido por qualquer pessoa, normalmente reacional a uma situação. Depressão é uma síndrome, ou seja, um conjunto de sinais e sintomas com variadas etiologias, caracterizada por tristeza ou humor deprimido, falta de vontade ou disposição para executar atividades cotidianas, redução do prazer, dificuldade em manter atenção e fixar novas informações, percepção de si, do mundo e do futuro sob um prisma negativo, focando nos defeitos e fracasso, com sentimento de culpa ou inutilidade, alterações do sono e apetite, os quais geralmente estão diminuídos, mas podem estar aumentados em alguns casos. Além disso, pensamentos de morte ou ideação suicida com ou sem planejamento podem acompanhar o quadro e devem ser ativamente investigados. Assim como os fatores associados a aumento do risco de suicídio como desemprego, tentativa de suicídio previa, historia familiar de suicídio.</p>
      <p>Os limites entre o normal e o patológico devem considerar a abrangência e a intensidade dos sintomas, a duração e a repercussão pessoal, social e funcional.  Dessa forma, na depressão, os sintomas são bastante intensos a ponto de causar sofrimento significativo na pessoa e comprometer suas atividades usuais. Esses sintomas devem durar pelo menos duas semanas. Caso isso não seja obedecido, é provável tratar-se de um transtorno de ajustamento. Nesse caso, não necessita medicação e costuma melhorar com o progredir do tempo.</p>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_3/2"
  next="unid_2/topico_1/2"
  pag="1" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>