<!-- Cabeçalho -->
<info
  unidade="2"
  tema="1"
  unome="{{unidades[1].nome}}"
  anome="{{unidades[1].atividade[0].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Após diagnosticar um episódio depressivo, deve-se tentar diferenciar uma depressão pura de um transtorno afetivo bipolar, pesquisando ativamente episódios de mania e hipomania no passado, os quais são caracterizados por humor elevado ou irritado, aumento da energia, aumento da auto estima ou grandiosidade, menor necessidade de sono, pressão por fala, pensamento acelerado, agitação psicomotora, envolvimento excessivo em atividades com alto potencial de risco para consequências dolorosas (por exemplo: compulsão por compra, indiscrições sexuais, investimentos financeiros insensatos).</p>
      <p>Essa é uma etapa de extrema importância, pois, além de o tratamento ser extremamente diferente, prescrever um antidepressivo para um paciente com transtorno afetivo bipolar pode ser iatrogênico, uma vez que pode precipitar episódios maníacos ou hipomaníacos.</p>
      <p>Além da história clínica detalhada, devem, ainda, ser realizados exames físico, neurológico e laboratoriais de rotina (hemograma, glicemia, sódio, potássio, TGO/ TGP, uréia, creatinina, TSH e T4L) para descartar possíveis quadros orgânicos associados.</p>
      <p><b>Pesquisando Ativamente</b></p>
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/unidade_2/imagem.svg" class="img-responsive">
        </div>
        <div class="col-md-9 col-sm-9">
          <img src="assets/images/unidade_2/balao_texto.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_2/topico_1/1"
  next="unid_2/topico_2/1"
  pag="2" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>