<!-- Cabeçalho -->
<info
  unidade="1"
  tema="2"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>Os Centros de Atenção Psicossocial (CAPS) foram criados para serem serviços substitutivos ao hospital psiquiátrico, sendo voltados ao acolhimento e atenção às pessoas com transtornos mentais graves e persistentes, procurando preservar e fortalecer os laços sociais do usuário em seu território. O CAPS é o núcleo de uma nova clínica, produtora de autonomia, que convida o usuário à responsabilização e ao protagonismo em toda a trajetória do seu tratamento. Dentre os recursos terapêuticos disponíveis no CAPS podem ser citados o atendimento especializado individual e multiprofissional, atendimento em grupo, atendimento para famílias e atividades comunitárias.</p>
        <div class="row">
          <div class="col-md-10">
            <br>
            <p>Em termos da Política Nacional de Saúde Mental, apoiada na lei 10.216/01, o tratamento de usuários de substâncias psicoativas no Brasil, no âmbito do Sistema Único de Saúde (SUS), busca consolidar um modelo de saúde mental aberto e de base comunitária e tem como referência os Centros de Atenção Psicossocial Álcool e Drogas (CAPS AD). Tal dispositivo de saúde foi proposto para prestar atendimento especializado e multiprofissional à população de usuários de álcool e substâncias ilícitas, devendo ser porta aberta às demandas de saúde mental do território.</p>
          </div>
          <div class="col-md-2">
            <p class="text-center"><small>(clique na imagem)</small></p>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#mtc-caps"><img src="assets/images/unidade_1/curiosidade.svg" class="img-responsive"></a>
          </div>
        </div>
      </div>                
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_1/4"
  next="unid_1/topico_2/2"
  pag="1" total="3">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-caps" titulo="CAPS">
  <div ng-include src="'views/unidade_1/modal/01.html'"></div>
</modal>