<!-- Cabeçalho -->
<info
  unidade="1"
  tema="2"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>Os Centros de Atenção Psicossocial (CAPS) são pontos de atenção estratégicos da Rede de Atenção Psicossocial (RAPS)  e são serviços de saúde voltados para a comunidade. A equipe atuante do CAPS é multiprofissional e fazem atendimento às pessoas com transtornos mentais,  com algum tipo de sofrimento, ou que sofrem com o uso abusivo de álcool e outras drogas.</p>
        <p>Clique <a href="http://bvsms.saude.gov.br/bvs/saudelegis/gm/2011/prt3088_23_12_2011_rep.html" target="_blank" class="link-page"><b>aqui</b></a> e saiba mais sobre Portaria nº 3088/11 que Institui a RAPS para pessoas com sofrimento ou transtorno mental e com necessidades decorrentes do uso de crack, álcool e outras drogas, no âmbito do Sistema Único de Saúde (SUS).</p>
        <p>Clique em cada CAPS para ler as modalidade:</p>
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#caps-I"><img src="assets/images/unidade_1/caps_1.svg" class="img-responsive"></a>
            </div>
            <br class="visible-xs">
            <div class="col-md-4 col-sm-4">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#caps-II"><img src="assets/images/unidade_1/caps_2.svg" class="img-responsive"></a>
            </div>
            <br class="visible-xs">
            <div class="col-md-4 col-sm-4">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#capsi"><img src="assets/images/unidade_1/capsi.svg" class="img-responsive"></a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#capsad-I"><img src="assets/images/unidade_1/capsad.svg" class="img-responsive"></a>
            </div>
            <br class="visible-xs">
            <div class="col-md-4 col-sm-4">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#caps-III"><img src="assets/images/unidade_1/caps_3.svg" class="img-responsive"></a>
            </div>
            <br class="visible-xs">
            <div class="col-md-4 col-sm-4">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#capsad-III"><img src="assets/images/unidade_1/capsad_3.svg" class="img-responsive"></a>
            </div>
          </div>
        </div>
        <br>
      </div>                
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_2/1"
  next="unid_1/topico_2/3"
  pag="2" total="3">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
<!-- Modal -->
<modal target="caps-I" titulo="CAPS I">
  <div ng-include src="'views/unidade_1/modal/02.html'"></div>
</modal>
<!-- Modal -->
<modal target="caps-II" titulo="CAPS II">
  <div ng-include src="'views/unidade_1/modal/03.html'"></div>
</modal>
<!-- Modal -->
<modal target="capsi" titulo="CAPS i">
  <div ng-include src="'views/unidade_1/modal/04.html'"></div>
</modal>
<!-- Modal -->
<modal target="capsad-I" titulo="CAPS ad Álcool e Drogas">
  <div ng-include src="'views/unidade_1/modal/05.html'"></div>
</modal>
<!-- Modal -->
<modal target="caps-III" titulo="CAPS III">
  <div ng-include src="'views/unidade_1/modal/06.html'"></div>
</modal>
<!-- Modal -->
<modal target="capsad-III" titulo="CAPS ad III Álcool e Drogas">
  <div ng-include src="'views/unidade_1/modal/07.html'"></div>
</modal>