<script src="assets/js/scripts.js"></script>
<!-- Cabeçalho -->
<info
  unidade="1"
  tema="2"
  unome="{{unidades[0].nome}}"
  anome="{{unidades[0].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>Em 2011 foi instituída a Rede de Atenção Psicossocial (RAPS), através da portaria nº 3088/11, que dispõe sobre a criação, ampliação e articulação dos pontos de atenção à saúde para pessoas com sofrimento ou transtorno mental e com necessidades decorrentes do uso de crack, álcool e outras drogas, no âmbito do SUS.</p>
        <p>A RAPS considera que todos os pontos de atenção à saúde da população devem estar conectados para garantir a integralidade e a resolutividade das ações em saúde mental. Isso significa que a Atenção Primária à Saúde, os serviços de urgência e emergência, como o SAMU e as UPAS, e os hospitais de referência também fazem parte da RAPS (BRASIL, 2011).</p>
        <p>Clique em cada número para saber as diretrizes que constituem o funcionamento da Rede de Atenção Psicossocial:</p>
        <br>
        <div class="col-md-12 col-sm-12 row-bg-linha hidden-xs">
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="1">
              <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="2">
              <div class="box-circulo"><span class="box-circulo-link">2</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="3">
              <div class="box-circulo"><span class="box-circulo-link">3</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="4">
              <div class="box-circulo"><span class="box-circulo-link">4</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="5">
              <div class="box-circulo"><span class="box-circulo-link">5</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="6">
              <div class="box-circulo"><span class="box-circulo-link">6</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="7">
              <div class="box-circulo"><span class="box-circulo-link">7</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="8">
              <div class="box-circulo"><span class="box-circulo-link">8</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="9">
              <div class="box-circulo"><span class="box-circulo-link">9</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="10">
              <div class="box-circulo"><span class="box-circulo-link">10</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="11">
              <div class="box-circulo"><span class="box-circulo-link">11</span></div>
            </a>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2 text-center">
            <a href="javascript:void(0);" class="target" data="12">
              <div class="box-circulo"><span class="box-circulo-link">12</span></div>
            </a>
          </div>
        </div>
        <br>
        <!-- Mobile -->
        <div class="visible-xs">
          <div class="col-xs-12 row-bg-linha">
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="1">
                <div class="box-circulo background-circulo"><span class="box-circulo-link">1</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="2">
                <div class="box-circulo"><span class="box-circulo-link">2</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="3">
                <div class="box-circulo"><span class="box-circulo-link">3</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="4">
                <div class="box-circulo"><span class="box-circulo-link">4</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="5">
                <div class="box-circulo"><span class="box-circulo-link">5</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="6">
                <div class="box-circulo"><span class="box-circulo-link">6</span></div>
              </a>
            </div>
          </div>
        </div>
        <br>
        <!-- Mobile 2-->
        <br>
        <div class=" visible-xs">
          <br>
          <div class="col-xs-12 row-bg-linha">
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="7">
                <div class="box-circulo"><span class="box-circulo-link">7</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="8">
                <div class="box-circulo"><span class="box-circulo-link">8</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="9">
                <div class="box-circulo"><span class="box-circulo-link">9</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="10">
                <div class="box-circulo"><span class="box-circulo-link">10</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="11">
                <div class="box-circulo"><span class="box-circulo-link">11</span></div>
              </a>
            </div>
            <div class="col-xs-2 text-center">
              <a href="javascript:void(0);" class="target" data="12">
                <div class="box-circulo"><span class="box-circulo-link">12</span></div>
              </a>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">            
            <!-- Conteudo box -->         
            <div class="col-md-10 col-md-offset-1 col-xs-12 box-cor-tema texto-conteudo">
              <div style="display: block;">
                <div class="col-md-12">
                  <p>I - respeito aos direitos humanos, garantindo a autonomia e a liberdade das pessoas;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>II - promoção da equidade, reconhecendo os determinantes sociais da saúde;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>III - combate a estigmas e preconceitos;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>IV - garantia do acesso e da qualidade dos serviços, ofertando cuidado integral e assistência multiprofissional, sob a lógica interdisciplinar;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>V - atenção humanizada e centrada nas necessidades das pessoas;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>VI - diversificação das estratégias de cuidado;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>VII - desenvolvimento de atividades no território, que favoreçam a inclusão social com vistas à promoção de autonomia e ao exercício da cidadania;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>VIII - desenvolvimento de estratégias de Redução de Danos;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>IX - ênfase em serviços de base territorial e comunitária, com participação e controle social dos usuários e de seus familiares;</p>
                </div>
              </div>
              <!--  -->
              <div style="display: none;">
                <div class="col-md-12">
                  <p>X - organização dos serviços em rede de atenção à saúde regionalizada, com estabelecimento de ações intersetoriais para garantir a integralidade do cuidado;</p>
                </div>
              </div>
              <div style="display: none;">
                <div class="col-md-12">
                  <p>XI - promoção de estratégias de educação permanente;</p>
                </div>
              </div>
              <div style="display: none;">
                <div class="col-md-12">
                  <p>XII - desenvolvimento da lógica do cuidado para pessoas com transtornos mentais e com necessidades decorrentes do uso de crack, álcool e outras drogas, tendo como eixo central a construção do projeto terapêutico singular.</p>
                </div>
              </div>           
            </div>       
            <!--  -->
          </div>
        </div> 
      </div>                
    </div>
  </div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_1/topico_2/2"
  next="unid_1/topico_3/1"
  pag="3" total="3">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>