<div>
	<p>A Dra. Sandra Fortes explica que a nova categoria incluída na CID-11 (depressão-ansiosa) é o quadro mais encontrado na APS. "Na verdade, mais de 50% das pessoas atendidas na APS têm sofrimento emocional significativo, a maior parte com intensidade grave o suficiente para ser considerada um transtorno mental[2]. Este transtorno será muito provavelmente um quadro de depressão-ansiosa", diz, lembrando que "o fato de os pacientes apresentarem depressão associada à ansiedade agrava o prognóstico".<br>
Referencia: http://portugues.medscape.com/verartigo/6501309</p>
</div>