<div class="col-md-12">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <p class="module-name">Módulo Saúde Mental na Atenção Primária</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center pad">
      <ul class="nuteds-menu">
        <li tooltip="Atividade">
          	<a href="#/atividade">
            <img src="assets/images/learn.svg" alt="" width="30" height="30" >
          </a>
        </li>
        <li tooltip="Material de apoio">
          <a href="javascript:void(0);" data-toggle="modal" data-target="#mtc-apoio">
            <img src="assets/images/pocket-guide.svg" alt="" width="30" height="30">
          </a>
        </li>
        <li tooltip="Conteúdo off-line">
            <a href="assets/pdf/texto_impressao.pdf" target="_blank">
            <img src="assets/images/learning.svg" alt="" width="30" height="30" class="pad-top-5">
          </a>
        </li>
        <li tooltip="Referências">
          <a href="assets/pdf/referencias.pdf" target="_blank">
            <img src="assets/images/learn-more.svg" alt="" width="30" height="30" class="pad-top-5">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <hr class="hr-divisorx">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span class="font-unid bold">Unidade {{unidade}} - {{unome}}</span>
      <h5 class="unid-title">Tópico {{tema}} - {{anome}}</h5>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>