<div ng-controller="menuController">
<div class="navbar navbar-default">
  <div class="container" >
    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <div class="navbar-collapse navHeaderCollapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/">
            <span class="glyphicon glyphicon-home"></span> &nbsp; INÍCIO
          </a>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle"><span class="glyphicon glyphicon-book"></span> &nbsp; UNIDADES <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="unidade in unidades">
              <a ng-href="{{unidade.url}}"><span class="glyphicon glyphicon-list-alt"></span> <span class="menu-espaco">{{unidade.label}} - {{unidade.nome}}</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="assets/pdf/creditos.pdf" target="_blank">
            <span class="glyphicon glyphicon-user"></span> &nbsp; CRÉDITOS
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>