<div class="col-md-12">
  <div class="row">
    <div class="col-md-5 col-xs-4 text-left">
      <a href="#/{{previous}}" class="btn {{btdesativado || 'btn-default'}} btn-success hidden-xs">{{anterior || 'ANTERIOR'}}</a>
      <a href="#/{{previous}}" class="btn {{btdesativado || 'btn-default'}} btn-success visible-xs" style="width:100%; font-size: 30px;">{{anterior || '&laquo;'}}</a>
    </div>
    <div class="col-md-2 col-xs-4 text-center" style="padding-top:6px;">
        {{pag}} de {{unid}}
    </div>
    <div class="col-md-5 col-xs-4 text-right">
      <a href="#/{{next}}" class="btn btn-success hidden-xs">{{proximo || 'PRÓXIMO'}}</a>
      <a href="#/{{next}}" class="btn btn-success visible-xs" style="width:100%; font-size: 30px">{{proximo || '&raquo;'}}</a>
    </div>
  </div>
</div>

