<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script><script type="text/javascript">$(function() {
    var botao = $('.quadrado');
    var texto = $('.texto-conteudo p');
    $(texto[0]).siblings().hide();
    $('.quadrado') .click(function(){

      var atual = $('.botao-vermelho');
      atual.removeClass('botao-vermelho');
      atual.addClass('botao-branco');

      var data = $(this).parent().attr('data');

      $(this).removeClass('botao-branco');
      $(this).addClass('botao-vermelho');

      $(texto).hide();
      $(texto[data]).fadeIn('fast');
  });
});</script><style>.botao-vermelho{
    fill:#0097A3;
}
.botao-branco {
  fill: gray;
}
.box{margin-top:50px; border:1px solid #e7e7e7; border-radius:8px; padding:15px;}</style><info unidade="4" tema="1" unome="{{unidades[3].nome}}" anome="{{unidades[3].atividade[0].nome}}"></info><div class="col-md-12"><div class="content-box"><div class="row"><div class="col-md-10 col-md-offset-1"><div class="row"><div class="col-md-12"><p>Na atenção primária, é comum a lida com pacientes com queixas clínicas cujos diagnósticos não se se conseguem estabelecer apesar de exaustiva investigação. Muitos desses sintomas podem ser secundários a transtornos mentais, sendo originados ou potencializados por conflitos psíquicos conscientes ou inconscientes. Geralmente, esses pacientes se destacam por uma difícil relação médico-paciente, menor adesão ao tratamento e pior resposta terapêutica.</p><p>Grande parte das manifestações orgânicas de conflitos psíquicos se dá inconscientemente. Leia as informações na imagem</p></div></div><br><div><div class="row"><div class="col-md-4 col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-1"><p align="center"><small>(clique em cada peça do quebra-cabeça)</small></p><svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 395.33 288.78"><defs><style>.cls-1{fill:#215f97;}.cls-2{fill:#0096a6;}.cls-3{fill:#fff;}</style></defs><title>pagina1</title><path class="cls-1" d="M130.19,207.73l-.34.24Z" transform="translate(0)"/><path class="cls-2" d="M140.61,164.56c5.93,12.42,35,71,35.52,76.26A100.31,100.31,0,0,1,174.37,271a133.9,133.9,0,0,1-5.28,17.81H288.46q.66-2.14,1.17-4.32c.63-2.68,1-5.42,1.58-8.11,1.42-6.66,5.11-11.06,12-12.63a86.78,86.78,0,0,1,16.36-1.92c8.25-.27,16.53.34,24.76-.56a39.31,39.31,0,0,0,15.32-4.49,15.41,15.41,0,0,0,8.17-13.32,32.77,32.77,0,0,0-1.3-11.11,2.6,2.6,0,0,1,1.21-3.35,25.19,25.19,0,0,0,6.62-6.4,8.69,8.69,0,0,0,.27-10,6.21,6.21,0,0,1-.83-2.7,1.87,1.87,0,0,1,1.47-2.17,5.55,5.55,0,0,0,3.82-3,9.08,9.08,0,0,0,.49-5.67c-.67-3-1.18-6.12-1.66-9.19-1.14-7.41,1.18-11.37,9.07-12.32a24.07,24.07,0,0,0,4.75-.87,4.78,4.78,0,0,0,3.45-3.94c.43-2.26-.44-4.19-1.41-6.11-1.24-2.45-3.15-4.45-4.58-6.77-4.12-6.65-8.11-13.38-12.25-20a71.54,71.54,0,0,0-5-7.4,30.5,30.5,0,0,1-4.16-6.25c-1.47-3.2-1-6.45.13-9.57a42.06,42.06,0,0,0,2.71-10.37,41.89,41.89,0,0,0-.22-10.31c-.41-2.69-.68-5.42-1.15-8.11a86.36,86.36,0,0,0-5.17-16.48A120.21,120.21,0,0,0,349.65,45a107.92,107.92,0,0,0-10-12.41c-3.44-3.81-7.53-6.92-11.53-10.11-5.86-4.67-12.53-8-19.21-11.28a66.73,66.73,0,0,0-8.15-3.23,148.37,148.37,0,0,0-15.15-4.58A127.2,127.2,0,0,0,268.05.78c-3.58-.29-7.16-.56-10.74-.72a142.17,142.17,0,0,0-15.17.59c-5.23.3-10.42,1-15.61,1.85-4.86.77-9.69,1.58-14.5,2.63-.92.21-1.08.52-.73,1.34a34.9,34.9,0,0,0,3.89,7.25c3.32,4.43,8.88,4,11.47-.94a27.37,27.37,0,0,1,1.56-2.87c3.14-4.54,8.49-4.59,11.74-.13a15.43,15.43,0,0,1,3,7.74,6.95,6.95,0,0,1-7.7,7.92,4.94,4.94,0,0,0-4.5,1.63,10.39,10.39,0,0,0-2.54,6.64c0,3.35,1.87,5.79,4.28,7.86,3.6,3.08,7.77,5.27,11.89,7.52,1.19.65,1.24,1.14.38,2.18-2.52,3.08-5.75,5.38-8.57,8.12a10,10,0,0,1-5.06,2.67c-2.89.56-4.57-.18-6-2.75A16.51,16.51,0,0,1,223.83,56c-1.36-4.7-4.21-6.94-8.42-6.7-4.44.26-9.81,5.44-6.71,11.56a11,11,0,0,0,4,4.21c1.19.77,2.45,1.45,3.59,2.29a2.8,2.8,0,0,1-.11,4.78,8.37,8.37,0,0,1-2.44,1.14,90.28,90.28,0,0,1-11.29,2.16,83.1,83.1,0,0,1-12.3,1.25c-.93,0-1.31-.21-1.36-1.25a88.86,88.86,0,0,0-.79-9.35,26.83,26.83,0,0,0-2.7-9.08,4.27,4.27,0,0,0-4.87-2.31c-2.61.37-4.18,2.08-5.53,4.09A7.35,7.35,0,0,1,166.78,62c-5-1.33-7.75-4.91-9-9.68-1.65-6.38,3.51-11.66,9.93-10.32a12.31,12.31,0,0,0,2.83.2,6.15,6.15,0,0,0,5.86-7.55c-.79-3.91-3.09-7.07-5.11-10.36-1.41-2.3-1.49-2.26-3.7-.74A69.34,69.34,0,0,0,153.52,36.2a89,89,0,0,0-16.16,29.85,139.7,139.7,0,0,0-6.5,39.81,189,189,0,0,0,1.57,29.78C133.58,144.42,136.8,156.56,140.61,164.56ZM241.67,74.91c.51-2.62,1.51-5,4.44-5.7a35.51,35.51,0,0,1,4.18-.83c4.79-.58,6.86-4.15,4.81-8.5a28.53,28.53,0,0,0-7.58-9.32c-1-.83-1-1.31-.12-2.27,2.62-2.76,4.35-6.17,6.53-9.26A7.78,7.78,0,0,1,258,35.89a4,4,0,0,1,5,2.29,10.84,10.84,0,0,1,1.07,5.11c-.34,6,3.37,9.21,9.57,9.07,5.23-.11,8.82-3,9.86-7.76a6.51,6.51,0,0,0-3.09-7.45,8.79,8.79,0,0,1-3-2.79,3.56,3.56,0,0,1,1.05-5.11,7.55,7.55,0,0,1,2-1c4.93-1.56,9.87-3.09,14.78-4.71a1.54,1.54,0,0,1,2.09.73c2.9,4.28,6,8.43,8.58,12.92a21,21,0,0,1,2.36,5.32,4,4,0,0,1-3.75,5c-2.08.13-4-.57-6-.87-5.1-.76-8.53,2-8.69,7.19A9.77,9.77,0,0,0,292,60.51a6.78,6.78,0,0,0,8.71,1.77,17.7,17.7,0,0,0,6-5,14,14,0,0,1,3.2-2.95c2.62-1.74,4.13-.54,4.84,2.18,1.42,5.5,1.34,11.19,1.83,16.8.17,2-.16,3.17-2,4.22-3.18,1.84-5.72,4.55-8.44,7a6.24,6.24,0,0,1-7.14.63,5.32,5.32,0,0,1-2.94-5.81c1.3-5.91-2.89-8.94-8.27-8.38a9.89,9.89,0,0,0-2.07.49c-4.15,1.4-5.39,4.77-3.17,8.54,1.15,2,2.92,3.35,4.48,4.94,2.63,2.65,3.05,5.88,1.07,8.78a8.55,8.55,0,0,1-6.63,4c-5.48.45-10.95,1.1-16.43,1.64-.89.09-1.77.65-2.8.08,1.64-.81,2-2.43,2.29-3.88a47,47,0,0,0,1.5-9.81,18.24,18.24,0,0,0-1.05-6.2c-1-3.11-3.66-3.58-6.17-2.13a17.08,17.08,0,0,0-3.14,2.87,8.53,8.53,0,0,1-11.8.52A5.85,5.85,0,0,1,241.67,74.91ZM145,97.38a92.25,92.25,0,0,0,11.84-1.11c1.52-.29,3.33-.47,3.86-2.22s-.87-2.89-2-4a41,41,0,0,1-4.3-4.34,11,11,0,0,1-1.89-3.64,5.59,5.59,0,0,1,1-5.1,9.36,9.36,0,0,1,8.8-2.82c3.84,1.08,5.5,4.24,4.54,8.62-.21.93-.44,1.85-.62,2.78a3.93,3.93,0,0,0,1.24,4,3.21,3.21,0,0,0,3.85.22,76.6,76.6,0,0,0,11.81-7.35c.89-.68,1.87-1.25,2.73-2s1.12-.4,1.33.48q.83,3.6,1.7,7.2a35,35,0,0,0,2.19,6.89c1.87,4,5.92,3.48,8.16,1.48A12.37,12.37,0,0,0,201,94.6c2.66-3.6,6.39-3.93,9.4-.62,2.59,2.86,4.33,6.18,3.33,10.24a7,7,0,0,1-8.38,5,12.41,12.41,0,0,0-3.09-.45,5.31,5.31,0,0,0-5.39,6.2c.59,4.2,2.79,7.73,5,11.21a48.91,48.91,0,0,0,4.63,6.38c.67.76-.07.84-.48,1l-9.6,4.33q-17.25,7.72-34.5,15.47a1.48,1.48,0,0,1-2.14-.47,57,57,0,0,1-8.55-14.06,9.6,9.6,0,0,1-1-4.84c.47-3.72,3.75-5.78,7.68-4.86a9,9,0,0,0,4.35.26,6.9,6.9,0,0,0,5.51-7.15,11.17,11.17,0,0,0-6.59-10.2,6.47,6.47,0,0,0-8.33,2.18,7.69,7.69,0,0,1-4.32,3.24,4.19,4.19,0,0,1-5.23-2.3,21.3,21.3,0,0,1-2-8,33.45,33.45,0,0,1-.34-5.49C141,97.46,141,97.62,145,97.38Z" transform="translate(0)"/><a href="javascript:void(0)" data="0"><path class="botao-vermelho quadrado" d="M33.56,82.1c3.4-2.27,7.45-4.36,11-7.22,1.28-1,1.35-.95,1.74.58,1,3.86,1.64,7.8,2.9,11.59a10.81,10.81,0,0,0,.46,1.19c2.23,4.7,6.81,5.13,9.89.9a8.16,8.16,0,0,1,3.23-2.91,5.43,5.43,0,0,1,6,1.25,13.7,13.7,0,0,1,3.88,6.78c1.31,5.74-3.28,10.22-9,8.81-2-.5-4-.66-5.73.62-2.2,1.6-2.82,4-2,7a38.38,38.38,0,0,0,6.35,12.07c.87,1.19,1.75,2.36,2.69,3.49.59.71.49,1.07-.35,1.44-3.78,1.65-7.54,3.35-11.32,5l-15.49,6.83q-8.78,3.9-17.54,7.82a1.16,1.16,0,0,1-1.61-.33c-3.77-4.84-7.26-9.85-9.18-15.76a7.08,7.08,0,0,1-.35-4.2c.9-3.29,3.88-5,7.48-4.1a9.53,9.53,0,0,0,4.77.2,7.31,7.31,0,0,0,5.31-7.34,12,12,0,0,0-5.89-9.69,7.15,7.15,0,0,0-9.43,2A6.36,6.36,0,0,1,7,111.28c-3.44.52-4.5-.89-5.56-4.15C-.09,102.3,0,97.24,0,92.21c0-.88.49-.84,1.09-.88,4.3-.3,8.61-.6,12.91-.93a12,12,0,0,0,4-.91c2-.89,2.32-2,1.26-3.85a10.48,10.48,0,0,0-2.53-2.86,22.21,22.21,0,0,1-3.76-4c-3.15-4.34-1.31-9.2,4-10.55a8,8,0,0,1,7.2,1.52c1.51,1.18,2.24,4.3,1.54,6.68A11.66,11.66,0,0,0,25.14,81a3.32,3.32,0,0,0,4.56,3A25.48,25.48,0,0,0,33.56,82.1Z" transform="translate(0)"/><path class="cls-3" d="M38.65,103.88a10,10,0,0,1-1.24,5.59,4.28,4.28,0,0,1-3.81,1.81,4.23,4.23,0,0,1-3.76-1.87,9.85,9.85,0,0,1-1.27-5.53c0-2.55.41-4.42,1.23-5.63a4.29,4.29,0,0,1,3.8-1.81,4.24,4.24,0,0,1,3.77,1.9A9.91,9.91,0,0,1,38.65,103.88Zm-7,0a11.1,11.1,0,0,0,.46,3.8,1.59,1.59,0,0,0,1.54,1.15,1.61,1.61,0,0,0,1.54-1.17,11,11,0,0,0,.47-3.78,10.81,10.81,0,0,0-.48-3.81,1.6,1.6,0,0,0-3.07,0A11.17,11.17,0,0,0,31.6,103.88Z" transform="translate(0)"/><path class="cls-3" d="M47.71,111.09H44.66v-8.35l0-1.37.05-1.5c-.5.51-.86.84-1.05,1L42,102.2l-1.47-1.83,4.65-3.7h2.5Z" transform="translate(0)"/></a><a href="javascript:void(0)" data="1"><path class="botao-branco quadrado" d="M96.24,126.87a27.87,27.87,0,0,0,3.07,6.39c2.3,3.51,4,4.25,4.78,4.5a6,6,0,0,0,6.46-1.7,10.44,10.44,0,0,0,2.11-3.28,7.61,7.61,0,0,1,5.55-4.88c3-.6,5.28.68,7,3,2.07,2.88,3.44,6,3,9.68a6.53,6.53,0,0,1-7.13,6.06c-2.65-.13-4.89.57-6.13,2.95-2.6,5-2.32,8,2,12.35,3.19,3.26,7.28,5.28,11.19,7.51.21.12.42.22.62.35,2.65,1.61,2.92,1,.52,3.63a87.1,87.1,0,0,1-9.22,8.26,8.48,8.48,0,0,1-5.18,1.71,4.51,4.51,0,0,1-3.91-2.18,14.14,14.14,0,0,1-1.82-4.15c-.79-2.48-1.91-4.72-4.44-5.93a7.58,7.58,0,0,0-8.05.9,7.5,7.5,0,0,0-3.48,7.32A8.87,8.87,0,0,0,97,185.74c1.33,1,2.81,1.76,4.17,2.7,2.23,1.55,2.12,3.87-.21,5.24a10.92,10.92,0,0,1-3.48,1.25,137.62,137.62,0,0,1-21.38,2.95c-2,.08-2,.08-2.09-1.9a60.64,60.64,0,0,0-1.89-14.06,14.83,14.83,0,0,0-1.82-4.16,5.2,5.2,0,0,0-6.92-1.26,9.62,9.62,0,0,0-3,3c-2.29,4.16-7.28,4.8-11.16,2.59-4.22-2.42-7-8.06-6.2-12.67a8,8,0,0,1,8.41-6.31,24.89,24.89,0,0,0,4.23.46,6.38,6.38,0,0,0,6-8.39,18.11,18.11,0,0,0-3.13-7c-1.3-2-2-3-3.08-4.53C54.11,141.81,95.51,124.7,96.24,126.87Z" transform="translate(0)"/><path class="cls-3" d="M85.87,155.12a10,10,0,0,1-1.24,5.59,4.8,4.8,0,0,1-7.57-.06,9.85,9.85,0,0,1-1.27-5.53c0-2.55.41-4.42,1.23-5.63a4.79,4.79,0,0,1,7.57.09A9.93,9.93,0,0,1,85.87,155.12Zm-7.05,0a11.1,11.1,0,0,0,.46,3.8,1.58,1.58,0,0,0,1.54,1.15,1.61,1.61,0,0,0,1.54-1.16,11.1,11.1,0,0,0,.47-3.79,10.81,10.81,0,0,0-.48-3.81,1.6,1.6,0,0,0-3.07,0A11.17,11.17,0,0,0,78.82,155.12Z" transform="translate(0)"/><path class="cls-3" d="M97.48,162.33H87.4v-2.12L91,156.55q1.61-1.65,2.1-2.28a5.34,5.34,0,0,0,.71-1.18A3.1,3.1,0,0,0,94,152a1.67,1.67,0,0,0-.47-1.29,1.88,1.88,0,0,0-1.28-.42,3.78,3.78,0,0,0-1.63.38,8.74,8.74,0,0,0-1.65,1.1l-1.65-2a11.4,11.4,0,0,1,1.76-1.28,6.35,6.35,0,0,1,1.53-.57,7.55,7.55,0,0,1,1.86-.21,5.44,5.44,0,0,1,2.38.5,3.83,3.83,0,0,1,1.61,1.38,3.67,3.67,0,0,1,.57,2,5.05,5.05,0,0,1-.35,1.87,7,7,0,0,1-1.08,1.79,27.44,27.44,0,0,1-2.59,2.61l-1.86,1.75v.13h6.29Z" transform="translate(0)"/></a><a href="javascript:void(0)" data="2"><path class="botao-branco quadrado" d="M23.52,269.33c1.65-.81,1.95-2.43,2.3-3.88a47.67,47.67,0,0,0,1.49-9.81,18,18,0,0,0-1-6.2c-1-3.11-3.66-3.58-6.17-2.13A17.14,17.14,0,0,0,17,250.18a8.5,8.5,0,0,1-11.79.52,5.83,5.83,0,0,1-2.23-5.94c.5-2.62,1.5-5,4.44-5.7a35.11,35.11,0,0,1,4.18-.83c4.79-.58,6.85-4.15,4.81-8.5a28.43,28.43,0,0,0-7.59-9.32c-1-.83-1-1.31-.11-2.27,2.62-2.76,4.35-6.17,6.52-9.25a7.77,7.77,0,0,1,4.1-3.15,4,4,0,0,1,5,2.29,10.83,10.83,0,0,1,1.06,5.11c-.33,6,3.37,9.21,9.57,9.07,5.24-.11,8.83-3,9.87-7.76A6.51,6.51,0,0,0,41.68,207a8.76,8.76,0,0,1-3-2.78,3.57,3.57,0,0,1,1.05-5.12,7.11,7.11,0,0,1,2-1c4.93-1.57,9.86-3.1,14.77-4.72a1.54,1.54,0,0,1,2.09.73c2.91,4.28,6,8.43,8.58,12.92a20.29,20.29,0,0,1,2.36,5.32,4,4,0,0,1-3.75,5c-2.07.13-4-.57-6-.87-5.11-.76-8.54,2-8.7,7.19a9.78,9.78,0,0,0,2.19,6.62A6.8,6.8,0,0,0,62,232.14a18,18,0,0,0,6-5,14,14,0,0,1,3.19-3c2.63-1.74,4.14-.54,4.84,2.18,1.43,5.5,1.34,11.19,1.84,16.81.17,2-.16,3.16-2,4.21-3.18,1.84-5.71,4.55-8.44,7a6.23,6.23,0,0,1-7.13.63,5.31,5.31,0,0,1-2.95-5.81c1.31-5.91-2.88-8.93-8.26-8.38a10.56,10.56,0,0,0-2.07.49c-4.15,1.4-5.4,4.77-3.18,8.54,1.16,2,2.93,3.35,4.49,4.94,2.63,2.65,3,5.88,1.06,8.78a8.54,8.54,0,0,1-6.62,4c-5.49.45-11,1.1-16.44,1.64C25.43,269.34,24.56,269.9,23.52,269.33Z" transform="translate(0)"/><path class="cls-3" d="M31.37,234a10.08,10.08,0,0,1-1.24,5.59,4.31,4.31,0,0,1-3.81,1.82,4.26,4.26,0,0,1-3.77-1.88A9.94,9.94,0,0,1,21.29,234c0-2.54.41-4.42,1.23-5.62a4.27,4.27,0,0,1,3.8-1.81,4.26,4.26,0,0,1,3.77,1.89A9.93,9.93,0,0,1,31.37,234Zm-7.06,0a11.32,11.32,0,0,0,.46,3.8,1.6,1.6,0,0,0,3.08,0,15.28,15.28,0,0,0,0-7.6,1.6,1.6,0,0,0-3.07,0A11.11,11.11,0,0,0,24.31,234Z" transform="translate(0)"/><path class="cls-3" d="M42.41,230a3.4,3.4,0,0,1-.82,2.3,4.24,4.24,0,0,1-2.3,1.3v.06a4.52,4.52,0,0,1,2.65,1.06,3,3,0,0,1,.89,2.27,3.85,3.85,0,0,1-1.5,3.24A7,7,0,0,1,37,241.37a10.48,10.48,0,0,1-4.17-.78V238a9.22,9.22,0,0,0,1.85.7,8.06,8.06,0,0,0,2,.26,3.89,3.89,0,0,0,2.23-.51,1.88,1.88,0,0,0,.72-1.65,1.49,1.49,0,0,0-.83-1.44,6.16,6.16,0,0,0-2.64-.42h-1.1v-2.34h1.12a5.24,5.24,0,0,0,2.45-.44,1.58,1.58,0,0,0,.77-1.5c0-1.09-.68-1.64-2-1.64a4.62,4.62,0,0,0-1.44.24,6.76,6.76,0,0,0-1.64.82L32.87,228a7.84,7.84,0,0,1,4.71-1.42,6.09,6.09,0,0,1,3.53.9A2.91,2.91,0,0,1,42.41,230Z" transform="translate(0)"/></a><path class="cls-2" d="M43.47,25.4a4.39,4.39,0,0,1-1.26,3.38A5.14,5.14,0,0,1,38.58,30H36.05V21h2.81a4.69,4.69,0,0,1,3.4,1.16A4.23,4.23,0,0,1,43.47,25.4Zm-2,0c0-1.92-.85-2.88-2.54-2.88H38v5.83h.81C40.59,28.39,41.5,27.41,41.5,25.44Z" transform="translate(0)"/><path class="cls-2" d="M45.1,21.35c0-.61.34-.92,1-.92s1,.31,1,.92a.92.92,0,0,1-.25.67,1.09,1.09,0,0,1-.77.24C45.44,22.26,45.1,22,45.1,21.35ZM47,30H45.18V23.11H47Z" transform="translate(0)"/><path class="cls-2" d="M53.34,30,53,29h0a2.78,2.78,0,0,1-1,.83,3.22,3.22,0,0,1-1.3.23,2.11,2.11,0,0,1-1.56-.57,2.18,2.18,0,0,1-.56-1.6,1.81,1.81,0,0,1,.76-1.61,4.49,4.49,0,0,1,2.3-.57l1.18,0V25.4a.92.92,0,0,0-1.06-1,4.84,4.84,0,0,0-1.93.49l-.62-1.26A5.6,5.6,0,0,1,51.8,23a3.25,3.25,0,0,1,2.11.6,2.23,2.23,0,0,1,.74,1.83V30Zm-.55-3.17-.72,0a2.26,2.26,0,0,0-1.21.29.93.93,0,0,0-.4.82c0,.53.3.79.91.79a1.44,1.44,0,0,0,1-.37,1.34,1.34,0,0,0,.38-1Z" transform="translate(0)"/><path class="cls-2" d="M62.52,23.11v.95l-1.07.28a1.81,1.81,0,0,1,.29,1A2.07,2.07,0,0,1,61,27.08a3.34,3.34,0,0,1-2.14.62l-.33,0-.28,0a.61.61,0,0,0-.28.49c0,.27.34.4,1,.4h1.17a2.64,2.64,0,0,1,1.71.48,1.73,1.73,0,0,1,.59,1.42,2.1,2.1,0,0,1-1,1.86,5.19,5.19,0,0,1-2.87.66,3.92,3.92,0,0,1-2.19-.5,1.57,1.57,0,0,1-.75-1.39A1.5,1.5,0,0,1,56,30a2.29,2.29,0,0,1,1.13-.59,1.27,1.27,0,0,1-.5-.4,1,1,0,0,1-.21-.59,1,1,0,0,1,.22-.65,2.43,2.43,0,0,1,.66-.51,1.87,1.87,0,0,1-.85-.75,2.28,2.28,0,0,1-.32-1.21,2.11,2.11,0,0,1,.73-1.73A3.13,3.13,0,0,1,59,23a4.44,4.44,0,0,1,.68.05l.51.07Zm-5.28,7.81a.7.7,0,0,0,.37.61,2.12,2.12,0,0,0,1,.22,3.71,3.71,0,0,0,1.57-.28.83.83,0,0,0,.57-.75.52.52,0,0,0-.34-.53,2.68,2.68,0,0,0-1-.15h-1a1.46,1.46,0,0,0-.86.24A.74.74,0,0,0,57.24,30.92Zm.68-5.57a1.44,1.44,0,0,0,.25.88.92.92,0,0,0,.78.33.89.89,0,0,0,.77-.33,1.44,1.44,0,0,0,.24-.88c0-.82-.33-1.23-1-1.23S57.92,24.53,57.92,25.35Z" transform="translate(0)"/><path class="cls-2" d="M70,30H68.09V26a1.86,1.86,0,0,0-.26-1.11.94.94,0,0,0-.84-.37,1.25,1.25,0,0,0-1.13.52,3.29,3.29,0,0,0-.35,1.74V30H63.65V23.11h1.42l.25.88h.11a2,2,0,0,1,.86-.75A2.89,2.89,0,0,1,67.53,23a2.38,2.38,0,0,1,1.81.64A2.59,2.59,0,0,1,70,25.49Z" transform="translate(0)"/><path class="cls-2" d="M78.1,26.52a3.69,3.69,0,0,1-.88,2.61,3.21,3.21,0,0,1-2.46.95A3.4,3.4,0,0,1,73,29.64a2.82,2.82,0,0,1-1.16-1.23,4.18,4.18,0,0,1-.4-1.89,3.67,3.67,0,0,1,.87-2.61A3.24,3.24,0,0,1,74.8,23a3.5,3.5,0,0,1,1.74.42,2.91,2.91,0,0,1,1.15,1.23A4.13,4.13,0,0,1,78.1,26.52Zm-4.73,0a2.91,2.91,0,0,0,.33,1.54,1.21,1.21,0,0,0,1.09.52,1.18,1.18,0,0,0,1.07-.52,2.91,2.91,0,0,0,.33-1.54A2.81,2.81,0,0,0,75.86,25a1.19,1.19,0,0,0-1.08-.51,1.2,1.2,0,0,0-1.08.5A2.85,2.85,0,0,0,73.37,26.52Z" transform="translate(0)"/><path class="cls-2" d="M84.41,27.92a1.89,1.89,0,0,1-.73,1.61,3.68,3.68,0,0,1-2.19.55A6.59,6.59,0,0,1,80.22,30a4.3,4.3,0,0,1-1-.29V28.14a6.38,6.38,0,0,0,1.17.41,4.64,4.64,0,0,0,1.14.16c.68,0,1-.19,1-.59a.52.52,0,0,0-.13-.35,1.87,1.87,0,0,0-.47-.32c-.22-.11-.51-.25-.88-.4a5.91,5.91,0,0,1-1.16-.61,1.73,1.73,0,0,1-.54-.65,2.16,2.16,0,0,1-.17-.9,1.65,1.65,0,0,1,.71-1.41,3.46,3.46,0,0,1,2-.49,5.67,5.67,0,0,1,2.41.53l-.56,1.35a9.17,9.17,0,0,0-1-.36,2.79,2.79,0,0,0-.91-.14c-.55,0-.82.15-.82.44a.54.54,0,0,0,.26.44,7.75,7.75,0,0,0,1.17.54,5.54,5.54,0,0,1,1.17.61,1.68,1.68,0,0,1,.55.65A1.93,1.93,0,0,1,84.41,27.92Z" transform="translate(0)"/><path class="cls-2" d="M88.75,28.59a3.82,3.82,0,0,0,1.17-.22v1.39a4.11,4.11,0,0,1-1.71.32,2.08,2.08,0,0,1-1.63-.57,2.47,2.47,0,0,1-.51-1.7v-3.3h-.89v-.78l1-.63.54-1.44h1.2v1.45h1.91v1.4H87.94v3.3a.73.73,0,0,0,.22.59A.85.85,0,0,0,88.75,28.59Z" transform="translate(0)"/><path class="cls-2" d="M91.23,21.35c0-.61.34-.92,1-.92s1,.31,1,.92A.89.89,0,0,1,93,22a1.07,1.07,0,0,1-.76.24C91.57,22.26,91.23,22,91.23,21.35ZM93.17,30H91.31V23.11h1.86Z" transform="translate(0)"/><path class="cls-2" d="M97.91,30.08q-3.19,0-3.2-3.51a3.72,3.72,0,0,1,.87-2.66A3.24,3.24,0,0,1,98.07,23a4.76,4.76,0,0,1,2.13.46l-.55,1.44-.82-.29a2.79,2.79,0,0,0-.76-.11c-1,0-1.45.69-1.45,2.07s.48,2,1.45,2a3.22,3.22,0,0,0,1-.14A3.91,3.91,0,0,0,100,28v1.6a3.22,3.22,0,0,1-.92.4A5.3,5.3,0,0,1,97.91,30.08Z" transform="translate(0)"/><path class="cls-2" d="M105.92,30l-.37-.93h0a2.89,2.89,0,0,1-1,.83,3.22,3.22,0,0,1-1.3.23,2.07,2.07,0,0,1-1.55-.57,2.14,2.14,0,0,1-.57-1.6,1.81,1.81,0,0,1,.76-1.61,4.49,4.49,0,0,1,2.3-.57l1.18,0V25.4a.92.92,0,0,0-1.06-1,4.84,4.84,0,0,0-1.93.49l-.61-1.26a5.55,5.55,0,0,1,2.61-.62,3.24,3.24,0,0,1,2.11.6,2.23,2.23,0,0,1,.74,1.83V30Zm-.56-3.17-.72,0a2.26,2.26,0,0,0-1.21.29.93.93,0,0,0-.4.82c0,.53.31.79.91.79a1.44,1.44,0,0,0,1-.37,1.3,1.3,0,0,0,.38-1Z" transform="translate(0)"/><path class="cls-2" d="M115.45,30h-1.86V26a1.85,1.85,0,0,0-.27-1.11.93.93,0,0,0-.83-.37,1.27,1.27,0,0,0-1.14.52,3.3,3.3,0,0,0-.34,1.74V30h-1.87V23.11h1.43l.25.88h.1a2,2,0,0,1,.86-.75A2.89,2.89,0,0,1,113,23a2.42,2.42,0,0,1,1.82.64,2.59,2.59,0,0,1,.61,1.86Z" transform="translate(0)"/><path class="cls-2" d="M119.54,30.08a2.23,2.23,0,0,1-1.89-.94,4.28,4.28,0,0,1-.69-2.59,4.31,4.31,0,0,1,.7-2.63,2.29,2.29,0,0,1,1.93-.93,2.22,2.22,0,0,1,2,1h.06a8,8,0,0,1-.14-1.37V20.43h1.87V30h-1.43l-.36-.88h-.08A2.14,2.14,0,0,1,119.54,30.08Zm.66-1.49a1.25,1.25,0,0,0,1-.42,2.34,2.34,0,0,0,.37-1.41v-.2a2.85,2.85,0,0,0-.34-1.58,1.27,1.27,0,0,0-1.11-.48,1.11,1.11,0,0,0-1,.53,2.84,2.84,0,0,0-.34,1.54,2.67,2.67,0,0,0,.35,1.51A1.13,1.13,0,0,0,120.2,28.59Z" transform="translate(0)"/><path class="cls-2" d="M131.52,26.52a3.65,3.65,0,0,1-.88,2.61,3.21,3.21,0,0,1-2.46.95,3.4,3.4,0,0,1-1.73-.44,2.88,2.88,0,0,1-1.16-1.23,4.18,4.18,0,0,1-.4-1.89,3.67,3.67,0,0,1,.87-2.61,3.27,3.27,0,0,1,2.46-.92,3.5,3.5,0,0,1,1.74.42,2.93,2.93,0,0,1,1.16,1.23A4.27,4.27,0,0,1,131.52,26.52Zm-4.73,0a2.91,2.91,0,0,0,.33,1.54,1.22,1.22,0,0,0,1.09.52,1.18,1.18,0,0,0,1.07-.52,2.91,2.91,0,0,0,.33-1.54,2.81,2.81,0,0,0-.33-1.52,1.19,1.19,0,0,0-1.08-.51,1.2,1.2,0,0,0-1.08.5A2.85,2.85,0,0,0,126.79,26.52Z" transform="translate(0)"/><path class="cls-2" d="M54.83,41.56A3.67,3.67,0,0,1,54,44.17a3.18,3.18,0,0,1-2.45.94,3.4,3.4,0,0,1-1.74-.43,2.9,2.9,0,0,1-1.16-1.24,4.16,4.16,0,0,1-.4-1.88A3.67,3.67,0,0,1,49.07,39,3.23,3.23,0,0,1,51.53,38a3.4,3.4,0,0,1,1.74.43,2.82,2.82,0,0,1,1.16,1.23A4.1,4.1,0,0,1,54.83,41.56Zm-4.73,0a2.78,2.78,0,0,0,.34,1.53,1.17,1.17,0,0,0,1.08.52,1.15,1.15,0,0,0,1.07-.52,3.71,3.71,0,0,0,0-3.06,1.42,1.42,0,0,0-2.16,0A2.85,2.85,0,0,0,50.1,41.56Z" transform="translate(0)"/><path class="cls-2" d="M63.38,45.11a2.28,2.28,0,0,1-1.89-.87H61.4q.09.85.09,1V48H59.63V38.15h1.51l.27.89h.08a2.17,2.17,0,0,1,1.94-1,2.22,2.22,0,0,1,1.9.94,4.3,4.3,0,0,1,.68,2.6,5,5,0,0,1-.32,1.9,2.66,2.66,0,0,1-.91,1.23A2.37,2.37,0,0,1,63.38,45.11Zm-.55-5.6a1.18,1.18,0,0,0-1,.43,2.46,2.46,0,0,0-.33,1.4v.2a2.86,2.86,0,0,0,.33,1.58,1.17,1.17,0,0,0,1,.48c.83,0,1.25-.69,1.25-2.07A2.89,2.89,0,0,0,63.8,40,1,1,0,0,0,62.83,39.51Z" transform="translate(0)"/><path class="cls-2" d="M71.37,38a2.68,2.68,0,0,1,.63.06l-.14,1.74a2.15,2.15,0,0,0-.55-.06,2,2,0,0,0-1.39.46,1.69,1.69,0,0,0-.5,1.29V45H67.56V38.15H69l.27,1.15h.1a2.65,2.65,0,0,1,.86-.93A2.14,2.14,0,0,1,71.37,38Z" transform="translate(0)"/><path class="cls-2" d="M79.46,41.56a3.67,3.67,0,0,1-.88,2.61,3.18,3.18,0,0,1-2.45.94,3.4,3.4,0,0,1-1.74-.43,2.9,2.9,0,0,1-1.16-1.24,4.16,4.16,0,0,1-.4-1.88A3.67,3.67,0,0,1,73.7,39,3.23,3.23,0,0,1,76.16,38a3.4,3.4,0,0,1,1.74.43,2.82,2.82,0,0,1,1.16,1.23A4.1,4.1,0,0,1,79.46,41.56Zm-4.73,0a2.78,2.78,0,0,0,.34,1.53,1.38,1.38,0,0,0,2.16,0,3,3,0,0,0,.32-1.53A2.85,2.85,0,0,0,77.22,40a1.42,1.42,0,0,0-2.16,0A2.85,2.85,0,0,0,74.73,41.56Z" transform="translate(0)"/><path class="cls-2" d="M84.81,38a2.22,2.22,0,0,1,1.9.95,4.38,4.38,0,0,1,.68,2.59,4.25,4.25,0,0,1-.71,2.62,2.47,2.47,0,0,1-3.81.06h-.13l-.31.75H81V35.47h1.87v2.21c0,.28,0,.74-.07,1.36h.07A2.16,2.16,0,0,1,84.81,38Zm-.6,1.49a1.16,1.16,0,0,0-1,.43,2.46,2.46,0,0,0-.33,1.4v.2a2.86,2.86,0,0,0,.33,1.58,1.15,1.15,0,0,0,1,.48,1.05,1.05,0,0,0,.92-.53,2.93,2.93,0,0,0,.34-1.54A2.76,2.76,0,0,0,85.15,40,1.09,1.09,0,0,0,84.21,39.51Z" transform="translate(0)"/><path class="cls-2" d="M90.8,45H88.93V35.47H90.8Z" transform="translate(0)"/><path class="cls-2" d="M95.85,45.11a3.52,3.52,0,0,1-2.58-.91,3.46,3.46,0,0,1-.93-2.58A3.82,3.82,0,0,1,93.2,39,3,3,0,0,1,95.58,38a3,3,0,0,1,2.25.83,3.11,3.11,0,0,1,.81,2.28V42H94.23a1.84,1.84,0,0,0,.47,1.25,1.71,1.71,0,0,0,1.24.44,4.94,4.94,0,0,0,1.17-.13,5.52,5.52,0,0,0,1.15-.41v1.45a4.65,4.65,0,0,1-1.05.36A6.53,6.53,0,0,1,95.85,45.11Zm-.26-5.76a1.17,1.17,0,0,0-.93.37,1.76,1.76,0,0,0-.39,1.07h2.62a1.58,1.58,0,0,0-.36-1.07A1.22,1.22,0,0,0,95.59,39.35Z" transform="translate(0)"/><path class="cls-2" d="M106.28,45h-1.86V41a2.07,2.07,0,0,0-.25-1.11.9.9,0,0,0-.78-.37,1.14,1.14,0,0,0-1,.53,3.4,3.4,0,0,0-.33,1.73V45h-1.86V38.15h1.42l.26.87h.1a1.86,1.86,0,0,1,.79-.73,2.59,2.59,0,0,1,1.2-.27A2.16,2.16,0,0,1,106,39h.16a2,2,0,0,1,.81-.74,2.79,2.79,0,0,1,1.21-.26,2.38,2.38,0,0,1,1.76.6,2.59,2.59,0,0,1,.6,1.91V45h-1.88V41a2.08,2.08,0,0,0-.24-1.11.9.9,0,0,0-.78-.37,1.19,1.19,0,0,0-1,.49,2.86,2.86,0,0,0-.34,1.56Z" transform="translate(0)"/><path class="cls-2" d="M116.81,45l-.37-.93h0a2.85,2.85,0,0,1-1,.82,3.22,3.22,0,0,1-1.3.23,2.1,2.1,0,0,1-1.55-.56,2.17,2.17,0,0,1-.57-1.61,1.79,1.79,0,0,1,.76-1.6,4.3,4.3,0,0,1,2.3-.57l1.19,0v-.3a.94.94,0,0,0-1.07-1,4.88,4.88,0,0,0-1.93.5l-.61-1.26a5.44,5.44,0,0,1,2.61-.62,3.24,3.24,0,0,1,2.11.6,2.21,2.21,0,0,1,.74,1.82V45Zm-.55-3.17-.73,0a2.35,2.35,0,0,0-1.21.3.93.93,0,0,0-.4.82c0,.52.31.79.91.79a1.45,1.45,0,0,0,1-.38,1.31,1.31,0,0,0,.39-1Z" transform="translate(0)"/><path class="cls-2" d="M119.77,44.11a1,1,0,0,1,.27-.77,1.31,1.31,0,0,1,1.59,0,1,1,0,0,1,.28.77,1.07,1.07,0,0,1-.28.77,1.29,1.29,0,0,1-1.58,0A1,1,0,0,1,119.77,44.11Z" transform="translate(0)"/><path class="cls-2" d="M110.83,57.47,124.37,87.8l-.27.14S94.53,66.31,84,60.75a5.94,5.94,0,0,0-2.82-.56c-4.83.23-9.65.58-14.48.89a81.08,81.08,0,0,1-20.21-1c-11.45-2.19-18.38-7.7-21-16C23.54,38,24.13,31.77,26,25.64A19,19,0,0,1,34.26,14.8,39,39,0,0,1,52.19,9c14.74-1.22,29.5-1.88,44.3-1.86a177.05,177.05,0,0,1,17.73,1.06c9.44,1,16.22,4.47,20.24,10.81,3.73,5.89,5.65,12.11,4.41,18.63C137.2,46.42,130,52.19,118.8,55.44,116.26,56.18,110.83,57.47,110.83,57.47ZM107,56s3.47-.74,5.06-1c6.21-1.2,12-3,16.54-6.55,3.87-3,6.41-6.46,7.12-10.54a25,25,0,0,0-1.54-12.92c-3.4-9.41-10.23-14.25-23.33-15.08-7.63-.49-15.34-.63-23-.49-10.18.18-20.37.66-30.53,1.26A71.34,71.34,0,0,0,45.7,12.41C38.33,14.09,32.92,17.48,30.33,23a31.93,31.93,0,0,0-3,12.16c-.37,7.35,2,13.93,9.41,19.05a21.26,21.26,0,0,0,5.13,2.72,40.77,40.77,0,0,0,13.84,2.13c9-.13,18.1-.5,27.15-.82a4.92,4.92,0,0,1,2.81.59c8.11,4.65,35,24.83,35,24.83Z" transform="translate(0)"/></svg></div><div class="col-md-6 col-xs-10 col-xs-offset-1 col-sm-6"><div class="texto-conteudo box"><p>Quando o estressor psíquico traz sintomas neurológicos, sensoriais e/ou motores voluntários, chamamos esse processo de <b>CONVERSÃO</b>. Ex: cegueira e mutismo, paralisia e/ou anestesia súbitos de um ou mais membros, etc.</p><p>Se os sintomas forem relacionados aos múltiplos sistemas do corpo (Ex: cardiovascular, respiratório e digestivo), denomina-se <b>SOMATIZAÇÃO</b>. Ex: dores abdominais e osteoarticulares, dispneia, entalos, constrição torácica, etc.</p><p>Já <b>DISSOCIAÇÃO</b> trata-se da ruptura nas funções integradas de consciência, identidade, percepção do ambiente e memória. Ex: amnésia dissociativa, fuga dissociativa e transtorno dissociativo de identidade</p></div></div></div></div></div></div></div><paginas previous="unid_4/topico_1/1" next="unid_4/topico_1/2" pag="1" total="5"></paginas><modal target="mtc-atividade" titulo="Atividade"><div ng-include src="'views/curso/atividade.html'"></div></modal><modal target="mtc-apoio" titulo="Material de Apoio"><div ng-include src="'views/curso/apoio.html'"></div></modal></div>