<!-- Cabeçalho -->
<info
  unidade="4"
  tema="2"
  unome="{{unidades[3].nome}}"
  anome="{{unidades[1].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>O primeiro passo para tratar os transtornos dissociativos, conversivos e somatoformes é o entendimento de que são produzidos involuntariamente e de que causam sofrimento real. Ignorando esse processo, muitos médicos se irritam ao atender esse perfil de pacientes, postura pouco saudável para a terapêutica. Deve-se acolher os pacientes, garantir a veracidade das queixas, explicar sua origem psicogênica e indicar o tratamento adequado.</p>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img src="assets/images/unidade_4/pagina8.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_4/topico_1/5"
  next="unid_4/topico_2/2"
  pag="1" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-triciclicos" titulo="Tricíclicos">
  <div ng-include src="'views/unidade_2/modal/01.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-isrs" titulo="ISRS">
  <div ng-include src="'views/unidade_2/modal/02.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-isrsn" titulo="ISRSN">
  <div ng-include src="'views/unidade_2/modal/03.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-isrd" titulo="ISRD">
  <div ng-include src="'views/unidade_2/modal/04.html'"></div>
</modal>