<!-- Cabeçalho -->
<info
  unidade="4"
  tema="2"
  unome="{{unidades[3].nome}}"
  anome="{{unidades[1].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Os transtornos factícios, embora voluntariamente produzidos, têm motivação inconsciente e estão associados a muitos prejuízos ao indivíduo. Assim, também devem ser tratados com psicoterapia a fim de identificar possíveis motivadores. No entanto, a adesão dos pacientes costuma ser baixa; e a resposta, insatisfatória.</p>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img src="assets/images/unidade_4/pagina9.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_4/topico_1/5"
  next="unid_5/topico_1/1"
  pag="2" total="2">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-triciclicos" titulo="Tricíclicos">
  <div ng-include src="'views/unidade_2/modal/01.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-isrs" titulo="ISRS">
  <div ng-include src="'views/unidade_2/modal/02.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-isrsn" titulo="ISRSN">
  <div ng-include src="'views/unidade_2/modal/03.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-isrd" titulo="ISRD">
  <div ng-include src="'views/unidade_2/modal/04.html'"></div>
</modal>