<!-- Cabeçalho -->
<info
  unidade="3"
  tema="2"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
			<p>Ataques de pânico são crises súbitas, agudas e intensas de ansiedade, decorrente de descarga adrenérgica do sistema nervoso autônomo. Assim, ocorrem sintomas, como tremores, taquicardia, sudorese, sensação de calor ou frio, parestesias, sensação de asfixia, sufocamento e desconforto torácico.</p>
			<p>Os sintomas são tão agudos e intensos que, no momento em que são experimentados, tem-se a sensação de estar prestes a morrer ou enlouquecer. Os sintomas chegam a um pico de intensidade em dez minutos e persistem por cerca de 30min, podendo durar até uma hora ou mais. Há casos em que há ataques de pânico recorrentes e os sintomas duram por muito tempo  (DALGALARRONDO, 2008). </p>
			<p>No momento da crise, esses pacientes julgam estar sofrendo um problema clínico que pode conduzi-los à morte (como IAM, asfixias, etc.), buscando repetidas vezes emergências clínicas. Lá costumam realizar exames que se revelam inalterados (KAPLAN, SADOCK, GREBB, 1997).</p>
			 <br>
			<div>	
				<div class="box-cor-tema">
					<p>Algumas vezes os médicos assistentes, até reconhecem o problema, mas subestimam a gravidade e não iniciam um tratamento.</p>
				</div>
			</div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_1/4"
  next="unid_3/topico_2/2"
  pag="1" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>