<!-- Cabeçalho -->
<info
  unidade="3"
  tema="2"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
  		<p>Ataque de pânico, no entanto, não é sinônimo de transtorno do pânico. Os ataques de pânico podem ser experimentados em diversas situações das quais a pessoa já manifesta medo.</p> 
			<p>Os critérios diagnósticos são estabelecidos para fins de facilidade de comunicação e uniformidade clínica pelas classificações diagnósticas Classificação Internacional de Doenças e Problemas Relacionados à Saúde (CID-10) e Manual Diagnóstico e Estatístico de Transtornos Mentais (DSM-5). Clique em cada aba para ler as informações.</p>
      <div ng-controller="accordionController">
	      <accordion close-others="oneAtATime">
	        <accordion-group  class="green2">
	          <div class="row">
	            <div class="col-md-12">
	              <p>Fobia específica, fobia social, agorafobia, transtorno de ansiedade generalizada: o medo, ansiedade ou esquiva são persistentes, geralmente duram mais de seis meses (sendo que, para a ansiedade generalizada, esse período mínimo é exigido).</p>
							  <p>Transtorno de pânico: é necessário que pelo menos um dos ataques seja seguido - por um período mínimo de um mês - de preocupação sobre ter novos ataques ou sobre as consequências de um ataque ou ainda de mudança desadaptativa no comportamento relacionada aos ataques (como comportamentos evitativos).</p>
							  <p>Transtorno de estresse pós-traumático: duração mínima de um mês.</p>
							  <p>Transtorno obsessivo-compulsivo: não há duração mínima dos sintomas.</p>
	            </div>
	          </div>         
	          <accordion-heading is-open="status.open">
	            <div class="text-center">
	              Duração dos sintomas <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
	            </div>
	          </accordion-heading>
	        </accordion-group>
	        <accordion-group class="green2">
	          <div class="row">
	            <div class="col-md-12">
						  <p>Medo e ansiedade são emoções que fazem parte do comportamento habitual de todos nós. Assim, é importante avaliar o sofrimento e os prejuízos que decorrem da ansiedade. Para o diagnóstico de um transtorno de ansiedade, é preciso que haja sofrimento ou prejuízo no funcionamento social, profissional ou em outra área importante da vida do indivíduo. </p>
	            </div>
	          </div>                  
	          <accordion-heading is-open="status.open">
	            <div class="text-center">
	              Sofrimento e prejuízo<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
	            </div>
	          </accordion-heading>
	        </accordion-group>
	        <accordion-group class="green2">
				  	<p>Sabendo que medo e ansiedade podem ser consequência do uso de substâncias ou de outra condição médica, é importante afastar essa possibilidade. Se os sintomas são explicáveis pelos efeitos psicológicos de uma substância ou de outra condição médica, o diagnóstico de transtorno de ansiedade não se aplica.</p>
	          <accordion-heading is-open="status.open">
	            <div class="text-center">
	              Uso de substâncias e outras condições médicas: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
	            </div>
	          </accordion-heading>
	        </accordion-group>
	        <accordion-group class="green2">
				  	<p>É fundamental pesquisar a história pregressa do paciente e investigar se ele teve
					 episódios de ansiedade semelhantes no passado ou ainda outros episódios de doença psiquiátrica. Esse ponto não consta dos critérios diagnósticos, mas clinicamente é bastante útil. A presença de sintomas ansiosos na infância e de transtornos de ansiedade em familiares reforçam a hipótese diagnóstica (AMERICAN..., 2014). </p>
	          <accordion-heading is-open="status.open">
	            <div class="text-center">
	              História prévia <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-down': !status.open}"></i>
	            </div>
	          </accordion-heading>
	        </accordion-group>        
	      </accordion>       
    	</div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_2/1"
  next="unid_3/topico_2/3"
  pag="2" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>