<!-- Cabeçalho -->
<info
  unidade="3"
  tema="2"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
		 	<div class="row">
				<div class="col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-4">
					<img src="assets/images/unidade_3/pagina8.svg" class="img-responsive" align="center">
				</div>				 	
				<div class="col-md-10 col-xs-12">
				  <br>
					<p>Podem estar associados a vários outros transtornos ansiosos. Por exemplo, se um paciente com fobia específica entrar em contato com a situação ou objeto temido, principalmente se de forma aguda ou inesperada, é possível um ataque de pânico. O mesmo pode ocorrer quando uma pessoa com fobia se apresentará em público ou outra com Transtorno de Estresse Pós-Traumático (TEPT) se depara com uma situação que lembre o evento traumático ou alguém com Transtorno de Ansiedade Generalizada (TAG) recebe uma notícia trágica. É recomendável também a exclusão de intoxicação ou abstinência de substâncias psicoativas, bem como relação com medicações.</p>
					<p>Para se caracterizar um <b>Transtorno de Pânico</b>, os ataques de pânicos devem ser recorrentes e sem fatores desencadeantes aparentes, além disso o indivíduo apresenta preocupação em relação a novos ataques ou as consequências decorrentes desses - morrer ou enlouquecer (KAPLAN, H. et al.,  1997,  FORLENZA, et al., 2014).</p>
					<p>Algumas vezes, o paciente tende a evitar locais onde seja difícil escapar ou chegar ajuda em caso de um ataque de pânico. Assim, o indivíduo tende a ficar cada vez mais limitado em sua funcionalidade. Nesse caso, tem-se outro transtorno em associação ao pânico chamado <b>agorafobia</b>, cuja presença indica um pior prognóstico (American..., 2008).</p>
				</div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_2/2"
  next="unid_3/topico_2/4"
  pag="3" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>