<!-- Cabeçalho -->
<info
  unidade="3"
  tema="2"
  unome="{{unidades[2].nome}}"
  anome="{{unidades[2].atividade[1].nome}}">
</info>
<!-- Conteúdo -->
<div class="col-md-12">
	<div class="content-box">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
  		<p>Quando o ataque de pânico se manifesta em uma idade tardia (> 45 anos) ou com sintomas atípicos (perda de consciência, amnésia, liberação esficteriana, etc.), a probabilidade de se tratar de uma causa orgânica aumenta e deve ser bem investigada. Angina, asma, DRGE, DPOC, epilepsia, AVC e endocrinopatias são importantes diagnósticos diferenciais.</p>
			<p>Em suspeita de transtorno de pânico, devem-se pedir exames a depender do tipo de sintomatologia apresentada pelo paciente e das hipóteses que se pretenda excluir. Em queixas de dor ou desconforto torácico, um eletrocardiograma deve ser indicado. Se dispneia, um ausculta pulmonar e um raio-X de tórax podem ajudar no diagnóstico. Em desmaios ou liberação esfincteriana, cabe um eletroencefalograma.</p>
			<p class="bold"> Tudo junto e misturado!</p>
			<p>A associação entre Transtorno de Ansiedade Generalizada e Transtorno de Pânico é bastante comum e deve ser pesquisada quando um deles é diagnosticado (MIGUEL; GENTIL; GATTAZ, 2011).  Além de pesquisar a presença de comorbidades com outros transtornos ansiosos (fobias, TOC, etc.) e episódios depressivos (KAPLAN, H.; SADOCK, B.; GREBB, 1997).</p>
			<p>A Organização Mundial da Saúde (OMS) está desenvolvendo uma nova versão da Classificação Internacional de Doenças e Problemas Relacionados à Saúde (CID). A publicação (CID-11), a ser lançada mais provavelmente em 2018, trará na parte de transtornos mentais um subcapítulo voltado para a Atenção Primária à Saúde (APS), o CID-11-AP, que contará com algumas categorias diagnósticas novas como, por exemplo, depressão-ansiosa, ansiedade com a saúde e transtorno do sofrimento corporal no estresse <a data-toggle="modal" data-target="#1" href="javascript:void(0);" class="link-page">Saiba mais</a></p>
  		<br>
    </div>
  </div>
</div>
</div>
<!-- Páginação -->
<paginas
  previous="unid_3/topico_2/3"
  next="unid_3/topico_3/1"
  pag="4" total="4">
</paginas>
<!-- Modal -->
<modal target="mtc-atividade" titulo="Atividade">
  <div ng-include src="'views/curso/atividade.html'"></div>
</modal>
<!-- Modal -->
<modal target="mtc-apoio" titulo="Material de Apoio">
  <div ng-include src="'views/curso/apoio.html'"></div>
</modal>
<!-- Modal -->
<modal target="1" titulo="Saiba Mais">
  <div ng-include src="'views/unidade_3/modal/1.html'"></div>
</modal>